[2018-08-07 18:36] Swati4star commented on #106
Created a new issue with all the details for forget password : #415

[2018-08-07 18:36] #106 closed

[2018-08-07 18:49] Swati4star opened #416 "Add cities visited labels in friend's profile"
### Steps to go to friend's profile
- Go to `My Friends` from the navigation drawer
- Click on any friend

### Expected behaviour
Below the friend's profile photo, show the labels of the cities visited by the user.
labels should look something like GitHub label only (with city name). Assign any random color to the label.
<img width="64" alt="screen shot 2018-08-08 at 12 18 48 am" src="https://user

[2018-08-08 08:38] Swati4star opened #417 "Replace `Google Maps` with `Open Street Maps`"
There are a lot of places in the application, where we are using **Google Maps**. Remove the use of google maps, and replace it with `Open Street Maps`

### Reference
https://github.com/osmdroid/osmdroid/wiki/How-to-use-the-osmdroid-library

[2018-08-08 14:11] kbisht84 commented on #367
hi ..I can take this one

[2018-08-08 14:29] Swati4star commented on #367
@kbisht84 Sure. Go ahead 👍

[2018-08-08 17:16] syedjahangirpeeran commented on #412
Would like to work on this.

[2018-08-09 05:22] knightcube opened #421 "Use collapsible toolbar in City Details screen"
The toolbar should be replaced with a collapsible toolbar. The collapsible toolbar should contain the image slider. The images will be shown when expanded, otherwise it should stay hidden.

[2018-08-09 05:27] knightcube opened #422 "[New Feature] Comparison feature"
There should be an option to compare a selected hotel and restaurant with another one. Several details have to be discussed over this as to how to implement this feature

[2018-08-09 05:30] knightcube opened #423 "Sorting and filter required in the Restaurants screen"
Sorting & Filtering can be done on the basis of
- Cost,
- Distance,
- Votes,
- Reviews,
- or even alphabetically

[2018-08-09 05:34] knightcube opened #424 "[New Feature]In-app Cab or other Travel method Booking Facility"
We could have some sort of an integration with the existing  apps like MakeMyTrip, Cleartrip, Airbnb, YoTrip, Uber, Ola, Trivago ,etc to make online hotel, train ,cab and flight bookings with just a few clicks

[2018-08-09 05:37] knightcube opened #425 "[New Feature]Add an in-app Language Translator in Utilities section"
In most cases, travelers are not too familiar with a regional language and suffer while trying to communicate in a broken manner. So since the backend is in python we can start some work on this Feature.

[2018-08-09 05:44] knightcube opened #426 "[New Feature] Add a Trip Review feature in the My Trips section"
Include a button in the details of a trip in My Trips section labeled as "Review your trip"
- Tap on button > Write a review (string format) > Send to backend
-  Make a new section for each city called Trip Reviews and display all reviews in this section
- Trip reviews can be customized to share publicly or only with friends

[2018-08-09 05:47] Swati4star commented on #426
@knightcube We don't have backend support for this. So, before adding such issue in Android repo,  create it on the server repo first.

We can't start working on this.

[2018-08-09 05:58] #412 closed

[2018-08-09 05:59] Swati4star commented on #425
Why are you creating this issue here? This is a backend issue.

[2018-08-09 05:59] #425 closed

[2018-08-09 06:07] Swati4star commented on #421
Duplicate : https://github.com/project-travel-mate/Travel-Mate/issues/181

[2018-08-09 06:07] #421 closed

[2018-08-09 06:12] knightcube commented on #425
We can actually directly use this api - https://cloud.google.com/translate/docs/reference/libraries#client-libraries-install-java

[2018-08-09 12:06] Swati4star commented on #410
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/420

[2018-08-09 12:06] #410 closed

[2018-08-09 15:36] Swati4star commented on #426
It requires a lot of backend support first. Let's build that first & then, reopen this issue.

[2018-08-09 15:36] #426 closed

[2018-08-09 15:48] Swati4star opened #427 "Parse the json in `City History` page"
<img width="322" alt="screen shot 2018-08-09 at 9 15 19 pm" src="https://user-images.githubusercontent.com/9164477/43910062-66b84588-9c19-11e8-8467-44df4937e66a.png">

### Steps to reproduce
- Select any city. Select `City History`

### What to do?
For the subelements also, we have a nested json. The json is not parsed.

### Reference : To get a list of keys from a json object
https://stackoverflo

[2018-08-09 15:51] Swati4star opened #428 "Open up city image in full screen when it is selected"
### Steps to reproduce
- Select any city or go to any trip

### Expected behaviour
- On clicking the city image, that image should open up in a new activity in few screen

### Some info
This behaviour is present in the profile photo. Go to any friend's profile or your profile and select profile photo, it opens up in new activity in full screen

[2018-08-09 15:56] Swati4star opened #429 "UI changes in Add trip page"
### Steps to reproduce
Current Add trip page looks like this:
<img width="325" alt="screen shot 2018-08-09 at 9 23 50 pm" src="https://user-images.githubusercontent.com/9164477/43910504-a0d22378-9c1a-11e8-9f26-bb7719179d94.png">

### Expected behaviour
Change it to something like this:
<img width="487" alt="screen shot 2018-08-09 at 9 24 56 pm" src="https://user-images.githubusercontent.com/916447

[2018-08-09 16:03] aayushinigam commented on #428
I would like to work on this.

[2018-08-10 06:47] #428 closed

[2018-08-12 15:30] anirudh8860 commented on #427
Ok will do

[2018-08-13 10:05] #427 closed

[2018-08-13 12:27] anirudh8860 commented on #429
Do you just need UI change or code change as well?

[2018-08-13 12:28] Swati4star commented on #429
The final output should be working.
So, yes, it will require code changes too.

[2018-08-13 12:33] anirudh8860 commented on #429
Meaning Calender popup along with destination

[2018-08-13 12:34] Swati4star commented on #429
Calendar does pop up now also.

[2018-08-14 05:34] anirudh8860 commented on #429
i'll do it

[2018-08-14 10:56] #429 closed

[2018-08-14 12:25] anirudh8860 opened #436 "Incorrect Date shown"
When a new trip is added by user, the trip date selected and displayed are incorrect
### Steps to reproduce
1. Go to My Trips.
2. Add a new trip by clicking on "+" button.
3. Click on "Select Trip Date".
4. Select the trip date from calendar popup.

### Expected behaviour
Trip date should show selected date.

### Actual behavior
Trip date shown is one month prior from selected date.

### Would you

[2018-08-14 13:41] Swati4star commented on #436
Go ahead! You van work on this issue.

[2018-08-14 16:46] #436 closed

[2018-08-15 03:54] syedjahangirpeeran commented on #406
Would like to work on this.

[2018-08-15 05:01] Swati4star commented on #424
We won't be doing this.

[2018-08-15 05:01] #424 closed

[2018-08-15 05:02] Swati4star commented on #422
Let's have an offline discussion regarding what exactly is the ask for this. Then, will reopen the issue.

[2018-08-15 05:02] #422 closed

[2018-08-15 05:07] Swati4star commented on #367
@kbisht84 Any updates?

[2018-08-15 05:47] #256 closed

[2018-08-15 05:54] Swati4star opened #439 "Notification page : The time should show month (not months) when it is single"
<img width="124" alt="screen shot 2018-08-15 at 11 23 14 am" src="https://user-images.githubusercontent.com/9164477/44133506-b52e9cb8-a07d-11e8-86b6-18815bdeb3d8.png">

This should be `1 month`

[2018-08-15 06:05] syedjahangirpeeran commented on #439
Would like to work on this.

[2018-08-15 06:16] #439 closed

[2018-08-15 16:12] kbisht84 commented on #367
@Swati4star
I have implemented it though it has a side effect.Undo functionality stopped working .I have to dig a little bit to fix that issue. Thanks

[2018-08-15 18:14] anirudh8860 commented on #415
Can you provide with drawables?

[2018-08-15 18:15] anirudh8860 commented on #393
Can you provide a visual idea of it?

[2018-08-16 04:07] Swati4star commented on #393
See #117 for some visuals. If there is still some issue, let me know.

[2018-08-16 04:07] Swati4star commented on #415
Drawables for what?

[2018-08-16 07:56] anirudh8860 commented on #415
Do you want a page exactly shown above or like that?

[2018-08-16 09:18] Swati4star commented on #415
Maybe, not exactly the same, But something similar to this UI (plus the other features mentioned in the issue description)

[2018-08-16 10:03] Swati4star opened #441 "[Comfirm Password] Few Bugs"
### Steps to reproduce
- Go to `Settings` page

### Issue 1
- Add eye icons to all the password fields.

### Issue 2
- Type some invalid password in new password (less than 8 characters), and `Done` button.
- Nothing is visible.
**Fix** : hide the keyboard, snackbar is not visible otherwise

### Issue 3
Show loader when API call is being made. Show a progress icon below the Done button

### Issue

[2018-08-16 10:05] Swati4star opened #442 "[Update profile photo] App crashes on pressing back"
### Steps to reproduce
- Go to profile page. Select camera icon
- Go to `Complete action`
- Don't select the photo. Press back

### Expected behaviour
Nothing should happen

### Actual behaviour
App crashes

[2018-08-18 16:06] #442 closed

[2018-08-19 06:01] #441 closed

[2018-08-21 18:08] amy6 commented on #415
I'd like to work on this if not taken already.

[2018-08-21 18:08] Swati4star commented on #415
Sure. You can work on this one.

[2018-08-22 13:15] kbisht84 commented on #367
so I implemented the functionality onPrepareOptionsMenu in CheckListFragment class
now for checking the how many check boxes are clicked  I am using mVieModel.getCompletedItems .Its works fine.But the existing undo functionality breaks when I am putting this change .I tried a lot recreate view in snackbar on click listener but failed as soon as the code enters the snackbar onClickListerner view mI

[2018-08-22 13:15] kbisht84 commented on #367
Let me know your thoughts Thanks

[2018-08-22 14:40] Swati4star commented on #367
Can you just create a PR, and I will look into that directly then.

[2018-08-22 16:33] kbisht84 commented on #367
Sure will do

[2018-08-25 17:05] #181 closed

[2018-08-27 13:31] santoshhiremani commented on #417
I'd like to work on this if not assigned already.

[2018-08-27 14:04] santoshhiremani opened #447 "implement social logins"
To get rid of that cumbersome step of telling users to create a user profile, social login can be implemented with these connectors.
- Facebook
- Google+
- Twitter

I'm not sure back end can accommodate this
@Swati4star please let me in case you have it in your feature list.

[2018-08-27 14:10] Swati4star commented on #417
It's not already assigned, you can work on it! @santoshhiremani

[2018-08-27 14:12] Swati4star commented on #447
We don't have this in our feature list yet.
This issue is similar to https://github.com/project-travel-mate/Travel-Mate/issues/105

[2018-08-27 19:56] git-typecode opened #449 "app crashes on clickprofile"
Travel-Mate crashes when click on profile

### Steps to reproduce
on start screen click the menu bar top left.
Click on profile
app crashes.
### Expected behaviour
Display profile?

### Actual behaviour
app crashes

### Would you like to work on the issue?
I can work on this issue.

08-27 21:49:53.526 4407-4407/io.github.project_travel_mate E/AndroidRuntime: FATAL EXCEPTION: main
    Process: io.g

[2018-08-28 02:47] Swati4star commented on #449
Sure. You can work on it!

[2018-08-28 04:04] santoshhiremani commented on #417
Do assign to me...Starting..

[2018-08-29 13:40] kbisht84 commented on #367
@Swati4star
so as you suggested I created the private mMenu in method onCreateOptionsMenu and tried to hide/unhide delete action from there itself .I have couple of questions 1.Are we not using mItems value to hide/unhide delete action item. 2.If yes then how private Menu mMenu only can be used to hide/unhide the item? a little explanation would be helpful thanks a lot

[2018-08-31 07:49] santoshhiremani commented on #411
@Swati4star Can i take it..?

[2018-08-31 08:40] Swati4star commented on #411
Sure @santoshhiremani 👍

[2018-08-31 16:07] #411 closed

[2018-08-31 16:38] santoshhiremani commented on #449
Android version please, I couldn't reproduce in 7+.

[2018-09-01 05:13] Swati4star commented on #449
@git-typecode Please provide the above info. The bug can't be reproduced, otherwise.

[2018-09-02 06:06] Swati4star commented on #417
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/450

[2018-09-02 06:06] #417 closed

[2018-09-02 18:08] santoshhiremani commented on #188
Approach sounds good, Let me know if i can...Will see how much we can optimise and reduce API calls.

[2018-09-03 07:59] santoshhiremani commented on #286
Drawable size bloat generally, including all approximately 1Mb or something. Is that ok ? It will impact on apk size as well.

[2018-09-03 08:34] Swati4star commented on #286
Yes. We can afford to increase app size by that much.

Are you working on this issue?

[2018-09-03 08:53] santoshhiremani commented on #286
Than its fine, I have some plan about material UI, not exactly the above one but will be in vertical manner. I will share screen.

[2018-09-03 08:55] Swati4star commented on #286
Sure. The UI doesn't need to same as the one in the description. It can vary.

[2018-09-03 09:12] santoshhiremani commented on #286
![device-2018-09-03-143454](https://user-images.githubusercontent.com/644341/44978094-831d9580-af87-11e8-8a06-3925b60ce8d0.png)

[2018-09-03 09:17] Swati4star commented on #286
Looks good @santoshhiremani !!

Are these countries tabs spinners? I mean, how do I change the country.

[2018-09-03 09:26] Swati4star commented on #286
Add a drop down icon by the side of country names (or something else that makes it look like they are listviews)
Please use the endpoint mentioned in the description. We already have it.

[2018-09-03 09:31] santoshhiremani commented on #286
Yes it will be listview with items having icon and country name on it. Oh i didn't notice that, we can use that.

[2018-09-03 14:07] #286 closed

[2018-09-03 14:16] Swati4star opened #454 "add search bar on currency selector list"
### Steps to reproduce
- Go to Utilities -> Currency converter
<img width="324" alt="screen shot 2018-09-03 at 7 44 50 pm" src="https://user-images.githubusercontent.com/9164477/44991548-048a1d80-afb2-11e8-9091-0d0e16a5bcc4.png">

### Expected behaviour
- Add a search bar to top.

[2018-09-03 15:15] Swati4star opened #455 "Use open street map API in GPSTracker to get user's current location"
Currently, we are using google maps location API (`com.google.android.gms:play-services-location:15.0.1`) to get user's current location. Replace it with open street maps API

### Reference:
https://github.com/osmdroid/osmdroid

[2018-09-04 11:00] santoshhiremani opened #456 "Add Copywrite and FAQ's"
Some document such as FAQs, About Us and Privacy Policy is missing.
Please let me know if you want me to do so.

[2018-09-04 11:06] Swati4star commented on #456
We already do have a privacy policy.
What will you add in FAQs?

[2018-09-04 11:14] santoshhiremani commented on #456
We can have some compiled questions related to App usages,data collection etc.. By the way do we collect any data apart from Google Play..?

[2018-09-04 16:10] Swati4star commented on #456
No. We don't.

Also, we do have an about us section in app. That already has privacy policy.
We can add licence link to it (https://github.com/project-travel-mate/Travel-Mate/blob/master/LICENSE)

Other than that, I think it's fine. These cover everything

[2018-09-05 05:52] Swati4star opened #457 "The compass (in utilities) doesn't work for devices that don't have magnetic sensor"
Show an alert on opening utilities in these devices

Ref:
https://stackoverflow.com/questions/9027133/how-to-know-if-a-sensor-is-present-on-my-android-device

[2018-09-05 08:38] santoshhiremani commented on #457
I will fix it

[2018-09-05 11:40] #188 closed

[2018-09-05 16:58] git-typecode commented on #449
@santoshhiremani and @Swati4star its Lollipop 5.1.1

[2018-09-06 05:33] #457 closed

[2018-09-06 11:56] santoshhiremani commented on #118
Any UI idea on it?

[2018-09-06 16:26] Swati4star commented on #118
Similar to google keep. You can check this issue https://github.com/project-travel-mate/Travel-Mate/issues/300

[2018-09-09 09:54] #423 closed

[2018-09-09 09:57] Swati4star opened #461 "Implement own search city dialog using bottom sheet"
### Current implementaion
We are using this library: https://github.com/mirrajabi/search-dialog

### What to do?
Remove the use of the above library, and implement our own search city dialog in a bottom sheet

[2018-09-09 10:00] Swati4star commented on #309
Already created issue to incorporate these...

[2018-09-09 10:00] #309 closed

[2018-09-09 10:01] Swati4star commented on #118
Are you working on it @santoshhiremani ?

[2018-09-09 10:51] #449 closed

[2018-09-09 11:26] santoshhiremani commented on #118
Yes, I'm working on it....

[2018-09-09 11:58] santoshhiremani commented on #118
What need to show on widget...?

[2018-09-09 12:35] Swati4star commented on #118
<img width="313" alt="screenshot 2018-09-09 at 6 03 47 pm" src="https://user-images.githubusercontent.com/9164477/45264483-c92c9a80-b45a-11e8-97cf-740f40b738bb.png">

Make it something like that in the screenshot. On clicking any item, just open the app & then checklist.
Instead of `Pinned`, show `Travel Mate. Ignore the `+` icon

[2018-09-10 14:03] supermzn commented on #350
I can take it.

Is there any particular icon to replace this one? Should it be something more like a prompt, or something?

[2018-09-10 14:30] Swati4star commented on #350
Sure. It's just that the current icon does not look that good. If you find something better, do replace it.

[2018-09-12 11:01] Swati4star commented on #118
Sure. You can use these. Just show a listview for the time being, we will see about adding the checkboxes later. @santoshhiremani

[2018-09-20 12:32] santoshhiremani commented on #382
Can i ?

[2018-09-24 05:30] #118 closed

[2018-09-24 10:29] santoshhiremani commented on #382
https://project-travel-mate.herokuapp.com/api/get-places/19.076000/72.877700/accommodation endpoint is throwing 500 error in getHotelList method so i'm not able get hotel list from none of the cities. please can you check this with backend team?

[2018-09-25 04:33] Swati4star commented on #382
@prabhakar267 look into it!
There might be problem with API keys.

[2018-09-25 06:38] santoshhiremani commented on #230
Only on first card of the cities fragment or navigation to guide other sections as well?

[2018-09-26 11:07] Swati4star commented on #230
@santoshhiremani
We can get started with the cities fragment only.

And then move on to adding this to other sections.

[2018-09-27 15:48] #230 closed

[2018-09-30 17:39] #456 closed

[2018-09-30 17:42] Swati4star commented on #132
@knightcube  Any updates on this?

[2018-09-30 17:43] Swati4star commented on #367
@kbisht84 Sorry for the late reply. Did creating private menu variable helped?

[2018-09-30 18:14] Swati4star opened #464 "[Utilities - Currency converter] Add a graph to show currency rate trends"
### Steps to reproduce
- Go to navigation drawer -> utilities -> currency converter

### Expected behaviour
After the user has selected source & destination cities, and press `Convert`, show a graph at the bottom of the screen showing the change in currency rate over time

### Endpoint to use
`get-all-currency-rate/<str:start_date>/<str:end_date>/<str:source_currency_code>/<str:target_currency_cod

[2018-09-30 18:26] Swati4star opened #465 "Add checkboxes to checklist widget"
### Steps to reproduce
- Add checklist widget to app home screen
<img width="244" alt="screenshot 2018-09-30 at 11 54 46 pm" src="https://user-images.githubusercontent.com/9164477/46261068-4d2eeb00-c50c-11e8-983f-1f597d3a4e8a.png">

### Expected behaviour
- show checkboxes. they should be in sync with actual state of items in checklist

### Actual behaviour
- no checkboxes

[2018-10-01 03:44] Chinmay-KB commented on #464
I want to take up this issue

[2018-10-01 04:06] Swati4star commented on #464
Sure! @Chinmay-KB

[2018-10-01 05:37] Swati4star opened #466 "Add timeline view to my trips page"
### Steps to reproduce
- Go to my trips from navigation drawer

### Expected behaviour
Make UI similar to this
<img width="353" alt="screenshot 2018-10-01 at 11 06 55 am" src="https://user-images.githubusercontent.com/9164477/46271428-31f2c880-c56a-11e8-921d-407eddaa8111.png">

[2018-10-01 06:29] santoshhiremani commented on #454
Bringing PR shortly on this...

[2018-10-01 07:03] #454 closed

[2018-10-01 08:33] ritesh24 commented on #465
Working on this. How can I add items in the checklist?

[2018-10-01 09:10] Swati4star commented on #465
Open travel mate app. Go to utilities -> Checklist.
There is an option to add items in checklist

[2018-10-01 10:08] prabhakar267 commented on #382
@santoshhiremani The API is fixed, let me know if you face any problem regarding the API

[2018-10-01 13:59] amoraitis commented on #466
We could use one of those 2 libraries: [vipulasri's](https://github.com/vipulasri/Timeline-View) or [thegamenicorus'](https://github.com/thegamenicorus/react-native-timeline-listview)

[2018-10-01 14:33] stupidly-logical commented on #405
What changes do you suggest?

[2018-10-01 14:49] valericaplesu commented on #413
Hi @Swati4star how should look the new screen? (RestaurantDetailsActivity)

[2018-10-01 15:35] Swati4star commented on #466
We can use the first one. The second one is for react only

[2018-10-01 15:36] Swati4star commented on #405
@stupidly-logical Allow it to be multiline. The row height should increase in that case.

[2018-10-01 15:49] Swati4star commented on #413
@valericaplesu We don't have any UI mockups for this. Create a basic UI from the information received.
This is the sample info we will receive
[code]

Add scrollable image at top (similar to city info page)
then, restaurant name & add more info below that.

[2018-10-01 16:44] valericaplesu commented on #413
@Swati4star got it. I'm working on it

[2018-10-01 17:40] stupidly-logical commented on #405
Okay. I am looking into it.

[2018-10-01 17:42] stupidly-logical commented on #405
@Swati4star as the android project is in subfolder of the repo, what's the best way to work using android studio in this structure?

[2018-10-01 17:44] Swati4star commented on #405
@stupidly-logical You can import the `Android` folder in the android studio.
[ https://github.com/project-travel-mate/Travel-Mate/wiki ]

[2018-10-01 18:01] valericaplesu commented on #413
@Swati4star can I use Kotlin? it surely simplify things

[2018-10-01 18:27] amoraitis commented on #466
I haven't notice that, sorry.
Also, you can assign this to me

[2018-10-01 18:50] stupidly-logical commented on #405
Imported but now I am not able to run it on device. Run/Debug config has no module.

[2018-10-01 19:43] aidan-kelly opened #468 "Password does not allow certain special characters"
### Steps to reproduce
1. Make an account.
2. Enter in a password containing any of the following characters: * ( ) - _ { } [ ] . , \ / ~ ' :

#OR
1. Head to the Settings.
2. Enter current password.
3. Enter in a new password containing any of the following characters: * ( ) - _ { } [ ] . , \ / ~ ' :

### Expected behaviour
You should be able to create a password with these being recognized as spe

[2018-10-01 20:28] #468 closed

[2018-10-02 04:35] Swati4star commented on #413
Can we use java only for this? We don't want combination of both in a single project

[2018-10-02 04:39] Swati4star commented on #466
Sure @amoraitis 👍

[2018-10-02 04:40] Swati4star commented on #405
There must be issue with android studio sdk in your system.
There are no errors with the project. We have automated build also to ensure that.

[2018-10-02 04:46] Swati4star opened #469 "Allow users to save map offline"
In the city description page, allow users to save map offline
When user selects that, save the map of that city offline

[2018-10-02 05:47] valericaplesu commented on #413
That's the beauty of Kotlin, it works perfectly with Java and the other way around. And definitely we can improve a lot especially with the help of async(). I'll do the pull request with it, and if you do not agree I can convert it back to Java :(

[2018-10-02 07:42] Swati4star commented on #413
Sure. Go ahead with Kotlin :)

[2018-10-02 09:37] #455 closed

[2018-10-02 09:46] aumarbello commented on #469
Can I take up this?

[2018-10-02 09:54] Swati4star commented on #469
Sure @aumarbello

[2018-10-02 09:56] aumarbello commented on #469
Okay nice.

[2018-10-02 10:43] Rimjhim28 commented on #461
@Swati4star I would like to work on this issue but would need a bit of clarification on how this needs to done.

[2018-10-02 11:24] #413 closed, assigned to nobody

[2018-10-02 11:58] valericaplesu opened #473 "Add empty state for "no restaurants" found"
We need to handle the case when there are no restaurants returned for a city

### Steps to reproduce
Open Bangalore city
Tap on Restaurants
The message "Searching Network" is displayed
### Expected behaviour
We should handle the api response "Not Found"
2018-10-02 13:19:02.972 9763-9838/io.github.project_travel_mate D/RestaurantsActivity: response = "Not Found"
2018-10-02 13:19:02.975 9763-9763/io

[2018-10-02 11:58] nikhilbansal97 commented on #416
Can I work on this??

[2018-10-02 11:59] nikhilbansal97 commented on #414
@Swati4star  I'd like to work on this.

[2018-10-02 12:00] nikhilbansal97 commented on #403
@Swati4star I'd like to work on this! 😄

[2018-10-02 12:19] nikhilbansal97 commented on #387
@Swati4star I'd like to work on this!

[2018-10-02 12:32] nikhilbansal97 commented on #416
Okay cool. I'll work on this issue then 👍

[2018-10-02 13:43] mursyidah commented on #387
i would like to work on this issue

[2018-10-02 14:07] KWright8 commented on #473
I can pick this up

[2018-10-02 14:28] amoraitis commented on #466
@Swati4star Is it good?
![screenshot_2018-10-02-17-24-59-323_io github project_travel_mate](https://user-images.githubusercontent.com/17813786/46354973-7fedf600-c668-11e8-90cc-4092bbcf71eb.png)

[2018-10-02 14:39] Swati4star commented on #414
Few pngs are still there...

[2018-10-02 14:41] Swati4star commented on #403
Sure @Diksha2008 👍

[2018-10-02 14:42] Swati4star commented on #387
Sure @mursyidah 👍

[2018-10-02 14:44] wajahatkarim3 commented on #473
Can I do this?

[2018-10-02 14:44] Swati4star commented on #473
We have a no results animation. We can show that in case there are no results.
https://github.com/project-travel-mate/Travel-Mate/blob/master/Android/app/src/main/res/raw/empty_list.json

[2018-10-02 14:45] Swati4star commented on #473
Sure @wajahatkarim3 👍

[2018-10-02 14:47] Swati4star commented on #466
@amoraitis There is a lot of empty space towards thee right. Look into that.
- Reverse the order of trip. The latest one should be on top.

Other than that, it looks amazing.

[2018-10-02 14:51] nitinnatural commented on #409
@Swati4star Can I pick this up?

[2018-10-02 14:52] Swati4star commented on #461
@Rimjhim28 What clarification do you need?

The issue is, we are currently using a library to select the city. Instead of that, when the option to select city is clicked, show the city names in a list in bottomsheet.

[2018-10-02 14:53] Swati4star commented on #409
Sure @nitinnatural 👍

[2018-10-02 15:39] mursyidah commented on #387
okay, it try to push it by creating another branch, but i got

 ': The requested URL returned error: 403

[2018-10-02 15:51] #473 closed

[2018-10-02 15:53] Swati4star opened #475 "Show spotlight view after the elements are loaded"
Describe your issue here.
<img width="370" alt="screenshot 2018-10-02 at 9 16 22 pm" src="https://user-images.githubusercontent.com/9164477/46360501-3b268700-c689-11e8-9f23-e555090a51a8.png">

### Steps to reproduce
- Open home page for the first time

### Expected behaviour
Spotlight view should be displayed after the card is visible

[2018-10-02 15:57] Swati4star commented on #387
You are having issues with creating a PR?

[2018-10-02 15:59] mursyidah commented on #387
yes

[2018-10-02 16:02] Swati4star opened #476 "Spotlight view dimensions are not correct for all devices"
Describe your issue here.
<img width="326" alt="screenshot 2018-10-02 at 9 29 20 pm" src="https://user-images.githubusercontent.com/9164477/46361027-4f1eb880-c68a-11e8-9ed0-67b92a9a9946.png">

### Steps to reproduce
- Open home page

### Expected behaviour
only first card should be under spotlight

[2018-10-02 16:03] Swati4star commented on #387
Can you post the exact error? Please try to google the git related errors.

[2018-10-02 16:03] mursyidah commented on #262
does it mean, the city only will show up when user type in search?

[2018-10-02 16:05] mursyidah commented on #387
i got this error,

remote: Permission to project-travel-mate/Travel-Mate.git denied to mursyidah.
fatal: unable to access 'https://github.com/project-travel-mate/Travel-Mate.git/': The requested URL returned error: 403

[2018-10-02 16:09] Swati4star commented on #387
You should fork the repo & create a branch in that repo. And then create a PR.

You don't have permission to write in this repository

[2018-10-02 16:11] mursyidah commented on #387
alright get it

[2018-10-02 16:30] amoraitis commented on #466
I just removed the margin, if its all about that.

I cannot see why you wanted that one, Your for loop wasnt reversing the items in the list in the first place. I did reversed the for loop anyway

![screenshot_2018-10-02-19-24-48-861_io github project_travel_mate](https://user-images.githubusercontent.com/17813786/46362549-38bc3100-c679-11e8-90f2-35bca0c5ff7d.png)
Also, I fixed a bug, on your onRe

[2018-10-02 16:31] Swati4star commented on #466
Great 👍

[2018-10-02 16:53] stupidly-logical commented on #405
Any suggestions for fixing it? I am able to build every other repo/project BTW.

[2018-10-02 17:12] #387 closed

[2018-10-02 17:16] Rimjhim28 commented on #461
Okay @Swati4star! I will work on the issue and send a PR soon! :)

[2018-10-02 17:48] amoraitis commented on #116
The do have an [endpoint for contributors](https://developer.github.com/v3/repos/#list-contributors).

Also, I can work on it

[2018-10-02 17:50] Swati4star commented on #116
We have our own API implemented for this too : https://github.com/project-travel-mate/server/blob/master/api/urls.py#L95
`get-contributors/<str:project>`

Sure, Go ahead 👍

[2018-10-03 11:04] prakhar1001 commented on #262
Can I take this issue?

[2018-10-03 11:07] prakhar1001 commented on #148
any progress here?

[2018-10-03 11:07] prakhar1001 commented on #224
any progress here?

[2018-10-03 11:10] Swati4star commented on #224
No.
You can take this one up 👍

[2018-10-03 13:53] valericaplesu commented on #475
I pick this up. But first I want to do a small fix for the cache logic. Now the cities are loaded each time we enter in City Fragment even if there is a checkCacheItems in Db

[2018-10-04 05:41] #475 closed

[2018-10-04 09:48] amoraitis commented on #116
@Swati4star I implemented a solution for this one.
It's not excactly what you designed, but i think its fine.

Let me know, if you want something ele than this!

![img_20181004_124425](https://user-images.githubusercontent.com/17813786/46466328-a54b4300-c7d3-11e8-863e-ea039f30de43.jpg)

[2018-10-04 10:02] Swati4star commented on #116
Just a few UI suggestions :
- Make the images smaller (smaller radius). [Do check if 3 in a row looks good]
- what are the numbers in green border [I know it's number of commits, but we should write that]
- Make the github logo smaller (and use this one https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png )
- I hope, the user's profile opens up when we click on a card
- Make the

[2018-10-04 10:54] amoraitis commented on #116
I reduced the size

    Added below

    Done

    Hahaaha of course!

    Done
![screenshot_2018-10-04-13-50-00-685_io github project_travel_mate](https://user-images.githubusercontent.com/17813786/46469778-0aeffd00-c7dd-11e8-9227-a1dea7bb6708.png)

[2018-10-04 11:01] Swati4star commented on #116
Looks good. You can create a PR for this. 👍

[2018-10-04 15:14] #116 closed

[2018-10-05 09:14] mursyidah commented on #476
i already fixed this issue, by showing spotlight on first card only. and already test in 3 different version of android. can i make a PR?

[2018-10-05 09:20] #415 closed

[2018-10-05 09:23] Swati4star opened #487 "[Forget Password] Integrate API calls"
The UI for forget password flow has been added in https://github.com/project-travel-mate/Travel-Mate/pull/484, but the actual API calls are missing.

### Expected behaviour
- Add the correct API calls as mentioned in description of #484

### Endpoints to use:
https://github.com/project-travel-mate/server/blob/master/api/urls.py#L35-L38

`forgot-password-email-code/<str:username>`
`forgot-password-

[2018-10-05 09:29] Swati4star commented on #476
Sure. Please create a PR @mursyidah

[2018-10-05 09:38] amoraitis commented on #487
I can work on this

[2018-10-05 10:02] nitinnatural commented on #367
@Swati4star I have fixed this issue and created a PR. Have a look.

[2018-10-05 10:36] Akramhussain4 commented on #350
Can I take this?

[2018-10-05 14:13] supermzn commented on #350
Yeah, sure

[2018-10-05 16:13] Swati4star commented on #487
Sure @amoraitis 👍

[2018-10-05 16:16] #367 closed

[2018-10-05 16:18] Swati4star commented on #350
Sure @Akramhussain4 👍

[2018-10-05 17:37] RanjanDharmraj commented on #464
@Swati4star
Any progress here? Can I work on this?

[2018-10-05 18:11] Swati4star commented on #464
@RanjanDharmraj I think you can take this up. There has been no progress.

[2018-10-05 19:31] amoraitis commented on #487
@Swati4star Could you please inform me whenever or not `forgot-password-email-code` checks if user with that e-mail doent exist? Or how I can validate if user with the given e-mail exist? Possible ways to handle this one?

[2018-10-05 19:32] Swati4star commented on #487
@prabhakar267 share your comments..

[2018-10-05 20:47] nitinnatural commented on #403
@Swati4star @Diksha2008 Any progress here? if not, I would like to pick this up.

[2018-10-06 05:51] prabhakar267 commented on #487
@amoraitis @Swati4star
I think there needs to be a change added in the APIs to take user email as a field as well.
Because if the user is not signed-in, his app would not have an authorization token from which we were extracting email address.
I will update this issue, once that is fixed from server side.

[2018-10-06 06:38] Diksha2008 commented on #403
@nitinnatural working on it!

[2018-10-06 10:56] TheGamer007 opened #490 "Underscore is not recongnized as a special character in passwords"
I'm not sure if the exclusion was intentional, in which case feel free to close the issue. The fix is a simple modification of the valid password regex [here](https://github.com/project-travel-mate/Travel-Mate/blob/4c0e3d219c9b6938836f01dc4e151c9091489695/Android/app/src/main/java/io/github/project_travel_mate/login/LoginActivity.java#L418).

### Steps to reproduce
Open the app and attempt to "Sig

[2018-10-06 14:01] TheGamer007 commented on #300
I'd like to take this up.

[2018-10-06 14:02] Swati4star commented on #300
Sure...

[2018-10-06 14:07] Swati4star commented on #490
Sure, you can create a PR for this.

[2018-10-06 16:28] #490 closed

[2018-10-06 16:36] #403 closed

[2018-10-06 19:54] Balram02 commented on #382
i would like to work on this...  can i? @Swati4star

[2018-10-07 08:55] Swati4star commented on #382
@santoshhiremani Are you looking into this?

[2018-10-07 18:33] Swati4star opened #494 "Create a world clock widget"
- Create a world clock widget.
- User should be able to select country. (timezone)
- The clock should be abvailable in digital, as well as analog format.

[2018-10-08 07:18] santoshhiremani commented on #382
Not now if somebody willing take, you can....

[2018-10-08 07:28] santoshhiremani commented on #494
Can i?

[2018-10-08 07:51] Swati4star commented on #494
Sure!

[2018-10-08 16:14] farmanp commented on #494
@santoshhiremani can i work with you to see this issue being resolved?

[2018-10-08 16:19] Swati4star commented on #382
@Balram02 You can work on this

[2018-10-08 17:46] Balram02 commented on #382
Thanks... @Swati4star will send PR soon

[2018-10-09 05:17] santoshhiremani commented on #494
Sure..

[2018-10-09 05:44] santoshhiremani commented on #494
@Swati4star  I think we need have it in Utilities since user can't change timezone on widget itself. something like this https://github.com/arminha/worldclockwidget/wiki/Screenshots

[2018-10-09 05:49] Swati4star commented on #494
We do have an issue for this also, https://github.com/project-travel-mate/Travel-Mate/issues/393

[2018-10-09 06:01] santoshhiremani commented on #494
Is that merged ? Need to fix that than. Widget alone doesn't serve our purpose..

[2018-10-09 06:33] santoshhiremani commented on #494
Ok

[2018-10-09 10:32] #382 closed

[2018-10-10 10:50] Balram02 commented on #487
Can i take this up? @Swati4star

[2018-10-10 15:16] Swati4star commented on #487
@amoraitis Are you continuing on this issue?
@Balram02 If @amoraitis doesn't reply, you can take up the issue.

[2018-10-10 15:28] amoraitis commented on #487
This issue issue is blocked as arised from @prabhakar267 's comment

[2018-10-10 16:00] Swati4star commented on #487
I think the issue is fixed now : https://github.com/project-travel-mate/server/issues/137

[2018-10-10 16:33] prabhakar267 commented on #487
@amoraitis The issue is fixed
You can work on it and let me know if you face any issue

[2018-10-11 12:26] Diksha2008 opened #496 "App crashes on clicking mark as all read when there are zero notifications"
### Steps to reproduce
Assuming you have zero notifications
1. Click on the notification button
2. Click on mark all as read

### Expected behaviour
mark all as read button should not be given to the user with zero notification i.e. it should be hidden

### Actual behaviour
App crashes

### Would you like to work on the issue?
Yes

[2018-10-11 16:53] #496 closed

[2018-10-11 17:55] PeterHorbulak commented on #224
Can I work on this issue?

[2018-10-11 18:01] Swati4star commented on #224
Yes @PeterHorbulak 👍

[2018-10-11 20:59] nitinnatural commented on #132
![artboard 1](https://user-images.githubusercontent.com/2595032/46833402-2c954980-cdc6-11e8-875b-531eb3771b73.png)

@Swati4star Design suggestion.
source: Google IO Android app (filter screen).

if no progress here I want to pick this up.

[2018-10-11 21:04] nitinnatural commented on #132
![artboard 1](https://user-images.githubusercontent.com/2595032/46833755-20f65280-cdc7-11e8-8f30-c769ab0ec389.png)

Design suggestion
- source : google IO 2018 android app.

[2018-10-12 04:48] Swati4star commented on #132
The UI looks great! ♥️ If you want to code this in app also, you can work on it :)

[2018-10-12 04:54] nitinnatural commented on #132
@Swati4star Cool! I will create a pull request soon.

[2018-10-12 06:38] Swati4star commented on #59
Hi @Rudloff ! We have removed the usage of google maps, and replaced it with osmdroid.
Can you check if it can be published on f-droid now?

[2018-10-12 08:58] Swati4star opened #498 "Create new utility : Upcoming long weekends"
- Add a new card in `utilities` : `Upcoming long weekends`
- on clicking this, open up a new fragment/activity
- this should have a list of holidays [in timeline view] - check my trips page for timeline view sample

### endpoint to use
`get-upcoming-holidays/<int:year>`

[2018-10-12 22:09] nitinnatural commented on #300
@Swati4star If no progress, I would like to work on it.

[2018-10-13 05:16] TheGamer007 commented on #300
@nitinnatural I am actively working on this. Around 60% of the work is done.

[2018-10-13 08:24] #132 closed, assigned to nobody

[2018-10-13 08:41] nitinnatural commented on #300
Okay okay you continue working on it.

[2018-10-13 09:59] St4no10 commented on #498
Is it available? I would like to grab it :)

[2018-10-13 10:09] nikhilbansal97 commented on #416
@Swati4star How do I add friends?? I am trying to add friend to a trip and it shows "Please Select a valid friend to add" snackbar

[2018-10-13 11:28] Swati4star commented on #498
Sure @St4no10 👍

[2018-10-13 11:29] Swati4star commented on #416
start type an email id like...`swati@gmail.com`.
 name suggestions will start showing up in the autocomplete drop down.
Select the name from there.
Then, select add friend

[2018-10-13 15:09] nikhilbansal97 commented on #416
@Swati4star This is the url I am hitting to get the trips data for a user: https://project-travel-mate.herokuapp.com/api/get-trip-cities/552 It is returning an html response. Is there something that I am missing??

<img width="1280" alt="screen shot 2018-10-13 at 8 38 45 pm" src="https://user-images.githubusercontent.com/18311406/46906880-fe2f7f80-cf27-11e8-9256-6db0ec968163.png">

[2018-10-13 15:39] RanjanDharmraj commented on #464
@Swati4star
What is simple date format for start date and end date?

[2018-10-13 15:43] RanjanDharmraj commented on #464
it will be great if you can provide me sample request/response

[2018-10-13 15:50] Swati4star commented on #464
Did you try out the endpoint given in description?

[2018-10-13 15:58] Swati4star commented on #416
HI @nikhilbansal97 ! Really sorry, I didnt know that url endpoint wad changed.
Try out this one https://project-travel-mate.herokuapp.com/api/get-visited-city/1

[2018-10-13 16:55] RanjanDharmraj commented on #464
yes I tried, its throwing 500 server error.

[2018-10-13 20:04] Balram02 opened #500 "App crashes in CurrencyActivity when the device is offline"
### Steps to reproduce
1. Open App.
2. Go to Utilities and open Currency Converter.
3. Turn off internet.
4. Click Convert button.

### Expected behaviour
It should alert the user about the internet connectivity.

### Actual behaviour
App crashes

### Would you like to work on the issue?
Yes !

[2018-10-14 05:41] Swati4star commented on #464
@RanjanDharmraj The date format is like this : `%Y-%m-%d`

Same request
[code]

Response
[code]

[2018-10-14 05:48] #500 closed

[2018-10-14 05:48] Swati4star commented on #500
Great @Balram02 👍

[2018-10-14 09:51] Balram02 opened #502 "Duplicate trips get added on refreshing"
### Steps to reproduce
1. Open app.
2. Go to My Trips and add some trips.
3. Refresh page multiple times(continuously).

#### Screenshot
<img src="https://user-images.githubusercontent.com/35597029/46915121-83687200-cfc4-11e8-92bf-b914a1c6fcad.png" height=500></img>

### Expected behaviour
It should not allow user to refresh continuously

### Actual behaviour
Single trip is seen multiple times

##

[2018-10-14 14:17] Swati4star commented on #502
Great Finding @Balram02 👍

[2018-10-14 14:18] #464 closed

[2018-10-14 19:15] nikhilbansal97 commented on #416
@Swati4star Thanks that worked. I had another doubt. I have completed the implementation and was about to raise a PR but was running tests:
1. `./gradlew checkstyle`
2. `./gradlew assembleDebug assembleRelease`
For both the tests, it shows an `NullPointerException` but not in any of the project files.

<img width="840" alt="screen shot 2018-10-15 at 12 42 04 am" src="https://user-images.githubuser

[2018-10-15 06:08] Swati4star commented on #416
We have included checkstyle in the Android build process only. So, the above is not required.
You can create a PR :)
...and travis will check for failure
@nikhilbansal97

[2018-10-15 18:10] AbdulDroid commented on #502
Can I try to fix this?

[2018-10-15 18:19] AbdulDroid commented on #502
How do I onboard on the app, as I have been trying for a while now to create an account to no avail @Swati4star

[2018-10-16 04:42] Lilus commented on #393
Hi, can I work on this issue?

[2018-10-16 06:01] Swati4star commented on #393
@santoshhiremani Are you looking into this one?

[2018-10-16 06:04] Swati4star commented on #502
Hi @AbdulDroid What problem are you facing while creating a new account?

[2018-10-16 06:05] Swati4star commented on #465
@pista96 You can start investigating on this. If you find the fix, create a PR.

[2018-10-16 06:10] santoshhiremani commented on #393
No, you can reassign....

[2018-10-16 06:12] santoshhiremani commented on #393
Yes, It's in progress... Probably i will bring PR today. After this we can take up its related widget task.

[2018-10-16 08:02] AbdulDroid commented on #502
I keep getting invalid emails or password every time @Swati4star please help

[2018-10-16 08:06] AbdulDroid commented on #224
I will like to work on this issue after my registration/login issues have been fixed @Swati4star

[2018-10-16 09:09] Swati4star commented on #502
Are you sure the password is valid?
`Password must contain minimum 8 characters, at least 1 Alphabet, 1 Number and 1 Special Character. `

[2018-10-16 09:10] Swati4star commented on #224
@prakhar1001 @PeterHorbulak Any updates here?

[2018-10-16 09:42] PeterHorbulak commented on #224
Not yet but  this week i will start. Working on this issue is part of my project in school so i hope that i can work on this :)

[2018-10-16 10:32] AbdulDroid commented on #502
I followed all and I have to wait out the loading process to get the toast that says my email or password is invalid, and I believe this matches your criteria T3ster&1 for a password

[2018-10-16 10:35] Swati4star commented on #502
You are doing this on signup screen. Right?

<img width="321" alt="screenshot 2018-10-16 at 4 05 33 pm" src="https://user-images.githubusercontent.com/9164477/47010685-54d1cf00-d15d-11e8-8e37-78e65e6a4065.png">

[2018-10-16 10:37] AbdulDroid commented on #502
Yes right

[2018-10-16 10:39] Swati4star commented on #502
I just tried creating a new account with some email id, I am not facing any issue. There is no issue with server.

[2018-10-16 12:38] AbdulDroid commented on #502
I have tried several times again still the same result
Device info
Emulator: Pixel 2XL running Android P

Please try with same device or OS and let me know if you still get results @Swati4star

[2018-10-16 14:31] TheGamer007 commented on #300
@Swati4star I've done the following so far:
* Modified checklist item layout and fragment layout to mimic the screenshot
* Replaced the ListView with two RecyclerViews - one for unticked, and one for ticked
* Replaced adapter with a new one that implements DiffUtils for highly optimized updates
* The "getSortedItems" call is still there for the widget to use, but the UI uses two separate "getPendi

[2018-10-17 05:17] #393 closed

[2018-10-17 05:19] Swati4star commented on #148
We would be linking it to travel-mate account only. A server-side issue is already created for this.

[2018-10-17 05:29] Swati4star commented on #502
@AbdulDroid I created a new sample user.
Try signing in using these credentials:
email: testing123@gmail.com
password: Test@123

[2018-10-17 17:03] amoraitis opened #509 "Forgot password UI fixes"
### Steps to reproduce

Click forgot password in login view. Type a wrong email and see that the "resend opt" will appear there.

Also, continue the "forgot-password" process. in the final step, the "password successfully updated" message will appear on sumbit pressed
### Expected behaviour

"resend opt" message should appear on the next screen, which is the 4-digit code insertion's page

"passwor

[2018-10-17 17:28] #487 closed

[2018-10-17 17:29] Swati4star commented on #509
Merged #508.

Sure, you can pick it up 👍

[2018-10-18 10:51] #416 closed

[2018-10-18 10:54] Swati4star opened #510 "Add Delete Account option in settings"
Allow users to delete their account

### Where to add?
- Add a new option in settings fragment : `Delete Account`

### Expected behaviour
On selecting this, show an alert `Are you sure you want to remove your travel mate account? This action can't be undone.`
If user selects yes, call the below endpoint, else close the alert dialog.

### endpoint
`/delete-profile`

[2018-10-18 11:18] Swati4star opened #511 "UI/UX suggestions for a home page"
- We are planning to have a home page in the android application
- This should provide users with easy access to:
  - trips
  - friends
  - top/popular cities
  - utilities
  - real time locator

We can have small cards type layout. On clicking these, we are directed to the selected option.

Suggest some UI mock ups for this issue.
After this, we can work on implementing this in the application.

[2018-10-18 11:22] Swati4star opened #512 "Create a separate module for flag list view"
Currently, the flag related activities are part of main module only.
Move these to a new module - `flag-listview`

<img width="351" alt="screenshot 2018-10-18 at 4 51 17 pm" src="https://user-images.githubusercontent.com/9164477/47150989-0dcb1180-d2f6-11e8-8124-4fd81750dc96.png">

The flag related views are used in :
- World clock
- currency converter

### Why are we doing this?
This module will b

[2018-10-18 11:24] Swati4star opened #513 "UI Bug in World clock utility"
The UI of world clock is overlapping:
<img width="310" alt="screenshot 2018-10-18 at 4 52 30 pm" src="https://user-images.githubusercontent.com/9164477/47151071-4f5bbc80-d2f6-11e8-9999-5f3a2e4912e7.png">

### Steps to reproduce
Go to utilities -> world clock

### Expected behaviour
- The time shouldn't overlap with clock
- Increase text size of `select timezone`

### Device info
Pixel XL

[2018-10-18 16:38] Swati4star opened #514 "If device does not have magnetic sensor, show compass at end in utilities"
### Steps to reproduce
- select a device without magnetic sensor
- Go to utilities -> Compass

### Expected behaviour
In case the device does not have magnetic sensor,
 - show the compass card at the end in utilities section
- Grey out the card & on the top of card, show `Your device does not have magentic sensor`
else
- The UI should be as is.

### Actual behaviour
After this issue (https://githu

[2018-10-18 17:29] Balram02 commented on #511
Suggestion: we can provide tab layout UI like whatsapp or bottom navigation just like linkedIn/youtube.

[2018-10-18 18:21] tk684kw commented on #510
@Swati4star Can I work on this issue ?

[2018-10-18 22:57] renanrhoden commented on #514
can I take it?

[2018-10-19 03:03] vallividhya commented on #513
Can I work on this issue?

[2018-10-19 04:13] vallividhya commented on #513
Here is my pull request: https://github.com/project-travel-mate/Travel-Mate/pull/517

[2018-10-19 05:36] Swati4star commented on #511
Not the bottom tabs. We have different fragments in navigation drawer only.
Let the the home page be some simple card layouts combination, animations..

[2018-10-19 05:45] #502 closed

[2018-10-19 05:47] #513 closed

[2018-10-19 08:03] Balram02 commented on #510
@tk684kw  are you working on this? I would like to take this up?

[2018-10-19 08:05] Swati4star commented on #510
If @tk684kw doesn't reply, you can take it up.

[2018-10-19 08:06] tk684kw commented on #510
Yes i work on it.

Získat Outlook pre Android<https://aka.ms/ghei36>

________________________________
From: Swati Garg <notifications@github.com>
Sent: Friday, October 19, 2018 10:05:41 AM
To: project-travel-mate/Travel-Mate
Cc: Tomáš Kupec; Mention
Subject: Re: [project-travel-mate/Travel-Mate] Add Delete Account option in settings (#510)

If @tk684kw<https://github.com/tk684kw> doesn't reply, y

[2018-10-19 16:15] Rudloff commented on #59
That is great!
It should be OK now. I will start working on packaging the app.

[2018-10-19 16:34] Rudloff commented on #59
@Swati4star I created a build recipe for the app: https://gitlab.com/fdroid/fdroiddata/merge_requests/3803
I just had to remove the http://repo.commonsware.com.s3.amazonaws.com repository (not sure how it is used).

Do you think it would be possible to add [Git tags](https://github.com/project-travel-mate/Travel-Mate/tags) for 3.9.2 and future releases? It makes packaging updates a lot easier.

[2018-10-19 16:36] Swati4star commented on #59
Hi @Rudloff
Sure, I'll add git tag for current & future releases as well.
https://github.com/project-travel-mate/Travel-Mate/releases/tag/3.9.2

[2018-10-19 16:37] Swati4star commented on #59
I think, adding https to the url will solve the issue.

[2018-10-19 16:42] Swati4star commented on #59
The gitlab build should pass after this commit, https://github.com/project-travel-mate/Travel-Mate/commit/25ed7271108a67f7dc291fcd6f775339408a45e7

I have created a new release with the above commit included also.

[2018-10-19 17:37] patres270 commented on #512
Hi, Can I work on this issue?

[2018-10-19 20:11] renanrhoden commented on #514
@Swati4star is there a debug user I can use?

[2018-10-20 06:18] Swati4star commented on #514
Is there any issue if you create a new user?

[2018-10-20 19:05] Balram02 commented on #405
its showing perfectly fine in my device, but when i scroll suddenly all friends gets vanished and some times it behaves abnormal.. below is the screenshot.
Will send PR soon regarding this issue.
<img src="https://user-images.githubusercontent.com/35597029/47259582-bcbf4700-d4c8-11e8-9ba0-abc5988bbd64.png" width=400 >

[2018-10-20 20:33] vbvjain commented on #509
Hey @amoraitis, I looked into this issue.. right now two messages are displayed.. First "Your password has been reset. Login with the new password." and secondly "password successfully updated". Do we need both the messages or just one?

[2018-10-21 06:13] Swati4star commented on #510
Updates @tk684kw ?
This shouldn't take up a lot of time. It's just one API call.

[2018-10-21 06:16] Swati4star commented on #509
Only first message is fine 👍

[2018-10-21 06:17] Swati4star commented on #469
updates @aumarbello ?

[2018-10-21 06:18] vbvjain commented on #509
@Swati4star Yes.

[2018-10-21 06:18] Swati4star commented on #461
@Rimjhim28 Updates?

[2018-10-21 08:29] Swati4star opened #520 "User profile : Show if email id is verified"
### Steps to reproduce
- Go to navigation drawer.
- click on profile picture

### Expected behaviour
At the right of the email id, show a small green tick icon (if user's email is verified), or a red small cross icon (is email id is not verified)
There is a new field in the below endpoint. Use this to check email verification
`"is_verified": false`

### Endpoint to use
`/api/get-user`

[2018-10-21 08:40] Balram02 commented on #520
I am taking this up !

[2018-10-21 08:41] Swati4star commented on #520
Sure @Balram02 👍

[2018-10-21 08:42] #405 closed

[2018-10-21 08:48] Swati4star commented on #509
@vbvjain The first message is seen even if the code entered is incorrect. Look into it.

[2018-10-21 08:48] Swati4star commented on #509
Also:
-  show a loader after has typed in the email id & press enter. (It feels like nothing is happening)
- when user is typing new password, hide the keyboard when confirm is pressed (It's when there is some error, we are showing snackbar & it's not visible if keyboard is up)

[2018-10-21 09:02] Swati4star commented on #300
@TheGamer007 Are you done with the changes? You can create a PR then 💯

[2018-10-21 09:03] Swati4star commented on #350
will be fixed by https://github.com/project-travel-mate/Travel-Mate/issues/300

[2018-10-21 09:03] #350 closed

[2018-10-21 09:28] Swati4star opened #521 "UI fixes in View Contributors"
### Steps to reproduce
Go to navigation drawer -> about us -> view contributors

<img width="362" alt="screenshot 2018-10-21 at 2 57 06 pm" src="https://user-images.githubusercontent.com/9164477/47265192-9a1d4480-d541-11e8-8b50-9a785ed48565.png">

### Expected behaviour
- Make the github handle to come in a single line only (add ellipsis otherwise)
- there is thin line above the contributors githu

[2018-10-21 09:35] Swati4star opened #522 "Currency converter : Make number of days customizable in trends graph"
### Steps to reproduce
- Go to navigation drawer -> utilities -> currency converter
- select convert

<img width="355" alt="screenshot 2018-10-21 at 3 01 52 pm" src="https://user-images.githubusercontent.com/9164477/47265231-43fcd100-d542-11e8-9232-3a947bfd7244.png">

### Expected behaviour
- Just above the graph, show a drop down to show values like :  7 days, 1 month, 2 months, 6 months, a year

[2018-10-21 09:42] YuganshT79 commented on #521
I would like to work on this issue

[2018-10-21 09:46] Swati4star commented on #521
Sure @YuganshT79 👍

[2018-10-21 09:51] Swati4star opened #523 "UI enhancement in my trips screen"
Describe your issue here.
<img width="336" alt="screenshot 2018-10-21 at 3 06 44 pm" src="https://user-images.githubusercontent.com/9164477/47265364-a0f98680-d544-11e8-87c2-8489c9d6f4e8.png">

### Steps to reproduce
- go to navigation drawer -> my trips

### Expected behaviour
- The trips are currently shown in ascending order of time. Show them in descending order (the latest or upcoming trips sh

[2018-10-21 11:14] #521 closed

[2018-10-21 11:14] #520 closed

[2018-10-21 13:49] vbvjain commented on #509
@Swati4star Sure.

[2018-10-21 15:36] Rudloff commented on #59
Everything works correctly now, thanks!

[2018-10-21 18:40] aumarbello commented on #469
Really sorry about the delay in implementing this, I've been offline for a long while.

In the city description page I cant see the place where a map is displayed though, could you point me to the right page?
![screenshot_20181021-193458](https://user-images.githubusercontent.com/28558653/47270810-03647e00-d569-11e8-9bc6-66efb36552fb.png)

☝️

Thats the page am talking about.

[2018-10-21 19:10] Yahhi commented on #523
I want to work on this issue

[2018-10-22 05:15] Swati4star commented on #523
Great! @Yahhi 👍

[2018-10-22 05:16] #523 closed

[2018-10-22 05:19] Swati4star commented on #59
Do share the fdroid link, when it is merged on gitlab.

[2018-10-22 06:56] aumarbello commented on #469
Okay, I understand now.

Will start working on it.

[2018-10-22 09:41] hafiz703 commented on #522
Can I take up this issue?

[2018-10-22 09:53] hafiz703 commented on #522
Can i take up this issue?

[2018-10-22 10:36] Swati4star commented on #522
Sure @hafiz703 👍

[2018-10-22 11:30] Swati4star opened #527 "Allow users to verify email address"
### Steps to reproduce
- go to navigation drawer -> select your profile picture

### Expected behaviour
- IF the email id is not verified, the cross is red.
- If user selects red icon, open up a dialog/fragment :
  title : `Your email id is not verified`
  add a button : `Send verification email!`
- When user selects button, show a progress icon, and call the endpoint
- after the response is recei

[2018-10-22 14:28] #510 closed

[2018-10-22 14:30] #469 closed

[2018-10-22 16:36] tk684kw commented on #510
Today I send PR.

Získat Outlook pre Android<https://aka.ms/ghei36>

________________________________
From: Swati Garg <notifications@github.com>
Sent: Sunday, October 21, 2018 8:13:24 AM
To: project-travel-mate/Travel-Mate
Cc: Tomáš Kupec; Mention
Subject: Re: [project-travel-mate/Travel-Mate] Add Delete Account option in settings (#510)

Updates @tk684kw<https://github.com/tk684kw> ?
This should

[2018-10-22 18:31] #522 closed

[2018-10-22 18:36] Swati4star opened #531 "Show if a trip is public or private"
### Steps to reproduce
Go to my trips from navigation drawe -> select any trip

### Expected behaviour
On trip info page, at the end, show if a trip is public or private
there is a new parameter in trip info API : `is_public` which determines if trip is public or private

If trip is public, show at bottom : `This is a public trip. Your friends can view this trip if you share the trip link`

If tri

[2018-10-22 19:51] Balram02 commented on #527
Will send PR within next 2 days. Btw should i use the same background image for otp view as in reset password?

[2018-10-23 02:58] Swati4star commented on #527
You can use a different background image too. Whichever feels good :)

[2018-10-23 10:56] TheGamer007 commented on #300
@Swati4star sorry for the delay, I was travelling. I have created a PR so that you can take a look at the changes I've made. However, I still need to fix some unexpected bugs in the drag and drop feature. The rest of the behaviour should be as expected, and I will update the PR when I manage to fix it. Please do not merge till then.

[2018-10-23 14:35] Swati4star commented on #300
Sure. The changes look good. You can make the changes when you get time.

[2018-10-23 15:35] Swati4star opened #534 "Show offline maps in the navigation drawer"
The user is unable to access/delete the offline maps

### How to save map offline?
- go to any city in destinations
- select `city map` and then select the save icon

### Expected behaviour
- add a new option in the main navigation drawer: `Offline data`
- If there are no offline maps, show `Oops! You don't have any offline maps saved`
- If the user has saved offline maps, show the list here.
- Th

[2018-10-24 11:51] lukastokarcik commented on #531
Can I take this issue?

[2018-10-25 04:47] Tc2r1 commented on #531
I'd like to take a shot at this one ^_^!

[2018-10-25 15:11] Swati4star opened #538 "Show `travel quote once a day` fragment"
- When user opens the app, show a new fragment with a quote & author from below endpoint
- This should be displayed just once per day
- Add a don't dhow again button also.
- Allow users to copy it & share it (sharing should work similar to how fun facts of a city are shared in our app)

### Endpoint
https://raw.githubusercontent.com/btford/philosobot/master/quotes/travel.json

(We will add more qu

[2018-10-25 18:06] Tc2r1 commented on #538
I will take a swing at this

[2018-10-25 18:09] Swati4star commented on #538
Sure. 👍

Just comment here if you face any issue 💯

[2018-10-26 06:15] Swati4star opened #539 "Show 3 cities in one row in horizontal mode"
![e57c1998-2928-46f6-9e11-e0515833f93a](https://user-images.githubusercontent.com/9164477/47547787-79276b80-d914-11e8-80a0-6dd89ccfdf03.jpeg)

### Expected behaviour
In horizontal mode, change number of cities to 3 (instead of 2)

[2018-10-26 06:51] thilinatnt commented on #539
Hi may I take this task?

[2018-10-27 03:18] Tc2r1 commented on #538
Hi Swati, is this before or after the splash screen?

[2018-10-27 03:18] Swati4star commented on #538
After the splash screen

[2018-10-27 15:32] ajaypro commented on #538
Hi Swati, I will work on this issue

[2018-10-27 16:03] TheGamer007 commented on #300
I've made more changes, and I think I've almost fixed it, but there's one small thing. I'm trying to retrieve an `int` value from the table using the following Query:
[code]

Room doesn't allow direct database calls on the main thread, and I'm unsure how to simply access it once using RxJava. Something like this would be great, but the `maxPos` variable can't be accessed from the inner class witho

[2018-10-27 17:14] amoraitis commented on #498
@Swati4star I can work on this and, once i have implemented the my-trips page before, I can reuse the UI

[2018-10-28 08:07] Balram02 commented on #527
sorry for sending late PR... I was busy somewhere else.

[2018-10-28 08:42] Swati4star commented on #498
Sure @amoraitis 👍

[2018-10-28 08:45] Swati4star commented on #538
Sure! @Tc2r1
Just send out the PR when done :)

@ajaypro You can work on some other issue, or create a new one 👍

[2018-10-28 09:29] St4no10 commented on #498
What about me? I am almost done with this

[2018-10-28 10:40] TheGamer007 commented on #300
I've managed to do a workaround for now, but if a more elegant method presents itself, then it can be modified. I've updated the PR, please review and merge :smile:

[2018-10-28 15:36] ajaypro commented on #534
Hi Swathi, I will work on this issue

[2018-10-28 17:04] Swati4star commented on #534
Sure @ajaypro 👍

[2018-10-29 04:38] Tc2r1 commented on #538
@Swati4star  Done, I hope, work week starts soon. I'd love to ask some questions about some of your code, is there a better way I can contact you?

[2018-10-29 04:57] Swati4star commented on #538
Check out slack link in the readme. You can join that, and we can chat over there.
Or, we can talk over mail also :)

[2018-10-29 09:50] #538 closed

[2018-10-29 16:14] #527 closed

[2018-10-30 05:33] jtj9817 commented on #534
Hey, mind if I help on this issue? I can help on having a starting point for the feature.

[2018-10-30 07:09] ajaypro commented on #534
Hey sure, you can post it i'm also working to complete it

[2018-10-31 12:52] St4no10 commented on #498
@Swati4star ? What image should I use for card view in Upcoming long weekends? Can I choose some random from the internet?
And about endpoint get-upcoming-holidays/<int:year> The parameter year should be actual year? Or should I combine maybe actual year and actual year+1

That's what missing in my implementation

[2018-11-01 05:12] Swati4star commented on #498
- You can choose any random image.
- I am sorry, I havent tested the parameters of API. Can you check it? If there is still an issue, comment here.

[2018-11-02 05:09] #498 closed

[2018-11-02 10:46] Swati4star commented on #539
Updates @thilinatnt ?

[2018-11-02 10:48] thilinatnt commented on #539
@Swati4star Oh sorry, actually I thought this is already taken as I din't get the confirmation message

[2018-11-03 06:11] ajaypro commented on #534
Hi Swati, I'm stuck with saving the Geopoint in room as I have also created a type converter but yet I'm not able to resolve it, is that I can get some help.

[2018-11-03 10:49] guest4711 commented on #59
It's on f-droid now: Travel Mate (A complete travel guide) - https://f-droid.org/app/io.github.project_travel_mate

[2018-11-04 12:17] Swati4star commented on #534
Can you create a work in progress PR? It'll be easier to look into problem then. @ajaypro

[2018-11-04 16:34] ajaypro commented on #534
sure

[2018-11-04 17:07] ajaypro commented on #534
I have created a PR and mentioned what I have done.

[2018-11-11 08:08] #514 closed

[2018-11-11 08:11] Swati4star commented on #59
I'll update the readme soon to incorporate your comments 💯

[2018-11-13 05:45] jtj9817 opened #554 "Bug with Daily Quotes when user starts the app"
When the app starts with the "Daily Quote" fragment displayed and the user clicks the "Don't Show Again" button, nothing happens.

### Steps to reproduce
Using Genymotion with Google Pixel 2.0 device, Android 8.0 - API 26

### Expected behaviour
When the "Don't Show Again" button is clicked, it should return to the Main Activity displaying the featured cities
### Actual behaviour
When the "Don't S

[2018-11-13 09:16] #59 closed

[2018-11-14 22:42] Charliocat opened #555 "Swap icons on create travel screen"
When I click on the button to create a new trip, on My Trips. The icon date and icon city are swapped.
![14-11-2018 23-40-05](https://user-images.githubusercontent.com/38671248/48517501-c7ba8c80-e866-11e8-9284-5bb6b8f01341.png)

### Steps to reproduce
Click to my trips, then add a new trip, you can see the icons ara missplaced.

### Expected behaviour
Location icon should be next to the city, and

[2018-11-19 07:45] jtj9817 opened #557 "Documentation for Travel Mate app"
# Documentation
I would like to submit a proposal for a documentation of the app so that future contributors to the project will have an easier understanding of the codebase. This is just an idea that came up to me as I was investigating the previous issues that I've worked at. A documentation for this project can be really helpful because I haven't seen any activity from the main people that cont

[2018-11-20 16:11] Swati4star commented on #557
I have few doubts regarding this:
- Are you planning to create this chart manually, or do you have automation tool for this? If manually, the cost of updating the class diagram along with the code changes might be an issue.
- Do you wish to add these in wiki page only or someplace else?

[2018-11-20 16:13] Swati4star commented on #555
Sure. You can work on it 👍

[2018-11-21 06:02] jtj9817 commented on #557
My first idea is to create these charts manually but I will start looking into automation tools that can make diagrams of classes and functions. I'm thinking Rational Rose/StarUML might have these features but I will need to research them first.

My current plan is to create a PDF file that has the documentation. Of course I can also add them to the wiki but that will involve the authorization for

[2018-11-22 10:31] weiyang94 commented on #262
Can i take this issue?

[2018-11-22 14:30] numerative commented on #555
I'd like to take up this issue.

[2018-11-23 03:50] #555 closed

[2018-11-23 03:55] Swati4star commented on #539
I think, we shouldn't go ahead with this issue. Flipping of cards will also look weird if there are 3 cities in a row 👍

and thanks for such a detailed investigation on this issue!

[2018-11-23 03:55] #539 closed

[2018-11-23 03:56] Swati4star commented on #557
Dont create the charts manually, the maintenance of those charts will be an issue then.
Search for some automation tools only for this.

[2018-11-23 04:12] #554 closed

[2018-11-23 04:13] Swati4star commented on #262
Sure @weiyang94 👍

[2018-11-23 20:16] jtj9817 commented on #557
I found a method to do it using automated UML-generating tool but it will need to be imported on Gradle as an add-on.

https://stackoverflow.com/questions/17123384/how-to-generate-class-diagram-uml-on-android-studio-intellij-idea/36823007#36823007

[2018-11-24 04:58] Swati4star commented on #557
Did you want that kind of output only? (the type that is there in the link you have mentioned)

[2018-11-25 02:57] jtj9817 commented on #557
It's not the only output that I want for the documentation but it makes the documentation easier. I still need to provide a description for the functions so that if there's a bug found in the future, future contributors can find it easily.

[2018-11-28 06:16] weiyang94 commented on #262
@Swati4star hi, by any chances we are allowed to access the server api? It seems like we need a new api to achieve the feature ( dynamically fetch cities based on what user has typed).

[2018-11-28 06:19] Swati4star commented on #262
We already have an API for this.
Try this API endpoint, `get-city-by-name/<str:city_prefix>`

[2018-12-05 06:55] Swati4star commented on #262
Any updates @weiyang94 ??

[2018-12-05 06:57] Swati4star commented on #224
@PeterHorbulak Updates?

[2018-12-17 09:34] Swati4star commented on #557
@jtj9817 This link looks good. Just create a new PR with:
- a new folder which contains these diagrams
- a link to the above folder in the readme

[2018-12-18 18:30] wmisqaw commented on #224
@PeterHorbulak is this issue free or are you working on it?

[2018-12-18 18:33] PeterHorbulak commented on #224
It´s free. You can work on it.

[2018-12-18 19:33] wmisqaw commented on #224
I will try to complete this issue if  i can.

[2018-12-19 09:16] Swati4star commented on #224
Sure @wmisqaw 👍

[2018-12-26 10:55] mast-armaan opened #562 "This app is on admin panel if yes how to create admin panel?"
Describe your issue here.

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Would you like to work on the issue?
Tell us if you would like to work on this issue

[2018-12-26 16:53] Swati4star commented on #562
what do you mean by admin panel? What are your expectations for this?

[2018-12-26 18:36] mast-armaan commented on #562
Suppose I want to add more cities or changes description or any other
information from server and after changing the information it should show
on this app so i want admin panel, is this has admin panel?

On Wed 26 Dec, 2018, 10:24 PM Swati Garg <notifications@github.com wrote:

[2018-12-28 15:50] Swati4star commented on #562
you need to set up your own server for this. You can have your database then.
See this repo for setting up the server: https://github.com/project-travel-mate/server

[2019-01-07 20:08] wmisqaw commented on #224
I have created a pull request @Swati4star

[2019-01-28 13:11] oluwadara-abijo commented on #224
I guess this issue can be closed now.

[2019-01-29 14:15] Swati4star commented on #224
@wmisqaw @oluwadara-abijo
I have been quite busy lately, didnt get the time to review the code. Will try to merge this in a week or so.

[2019-01-30 20:30] blongho commented on #512
Hello @Swati4star, I would love to fix this issue if @patres270  has not already done so.

[2019-01-31 08:07] Swati4star commented on #512
@blongho Yes you can 👍
Let me know if you face any issue.

[2019-02-03 09:51] blongho commented on #512
ok @Swati4star  i will work on this

[2019-02-03 10:46] 12abhijeet12 commented on #512
i would like to create this app

On Feb 3, 2019 3:21 PM, "Bernard Longho" <notifications@github.com> wrote:

[2019-02-08 20:20] blongho commented on #512
@Swati4star, you might want to tag this issue as ```in progress```. I am working on it

[2019-02-10 13:07] NicaNicaNicaNica opened #564 "Filter cities on home page"
Hi, I just want to thank you guys for this amazing project.
Is there a way in filtering the city based on the number of visitors?

[2019-02-11 05:29] Swati4star commented on #564
No. There isn't.
We actually don't have any 'filtering' option for cities yet.

[2019-02-13 10:24] nitinnatural commented on #461
hey @Swati4star , shall I take this up??

[2019-02-16 05:43] Swati4star commented on #461
Sure @nitinnatural

[2019-02-16 05:47] Swati4star commented on #494
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/560

[2019-02-16 05:48] #224 closed

[2019-02-16 05:48] #465 closed

[2019-02-16 05:49] Swati4star commented on #562
If you need any other info, comment here or join us on slack, or drop a mail

[2019-02-16 05:49] #562 closed

[2019-02-16 05:51] #494 closed

[2019-02-16 05:54] Swati4star commented on #557
@jtj9817 any updates here?

[2019-02-16 05:59] jtj9817 commented on #557
I will make a PR concerning this Issue within the next 2 weeks. If any problem comes up, I'll discuss it here.

[2019-02-16 11:26] narendrasinghsolanki commented on #557
how to run this project on android studio

[2019-02-16 16:39] jeevanreddyb opened #565 "crash on main activity?"
Describe your issue here.
after login app crashes on home page ie., mainactivity.java
**app.gradle file**
apply plugin: 'com.android.application'
apply plugin: 'kotlin-android'
apply plugin: 'kotlin-android-extensions'
android {
    compileSdkVersion 28
    defaultConfig {
        applicationId "com.example.jeeev.tma"
        minSdkVersion 23
        targetSdkVersion 23
        versionCode 1

[2019-02-16 16:41] jeevanreddyb commented on #565
my error:

02-16 20:57:41.935 7975-7975/com.example.jeeev.tma E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.example.jeeev.tma, PID: 7975
    java.lang.RuntimeException: Unable to start activity ComponentInfo{com.example.jeeev.tma/com.example.jeeev.tma.io.github.project_travel_mate.MainActivity}: android.view.InflateException: Binary XML file line #38: Binary XML file line #38: Error inf

[2019-02-16 16:48] Swati4star commented on #565
`Didn't find class "utils.CircleImageView"` this is the error

Also, why have you copy pasted the whole code for main activity and gradle? Isnt it already here on repo? Or, if you made some changes, why dont you just write the change you made

[2019-02-16 16:49] Swati4star commented on #557
@narendrasinghsolanki https://github.com/project-travel-mate/Travel-Mate/wiki#installation

[2019-02-16 16:52] jeevanreddyb commented on #565
added in gradle file:
implementation 'de.hdodenhof:circleimageview:2.0.0'

[2019-02-17 08:53] jeevanreddyb commented on #565
when i run the application got this error?

[2019-02-17 08:55] Swati4star commented on #565
Why did you add this? added in gradle file:
implementation 'de.hdodenhof:circleimageview:2.0.0'
We already have circle imageview implementation

I hope you followed these steps: https://github.com/project-travel-mate/Travel-Mate/wiki#installation
There shouldnt be this error.

[2019-02-17 10:00] jeevanreddyb commented on #565
It's working now
Thanks!
you can close this

[2019-02-17 10:17] #565 closed

[2019-02-18 07:49] narendrasinghsolanki commented on #557
how i clone repositry

On Sat, Feb 16, 2019 at 10:19 PM Swati Garg <notifications@github.com>
wrote:

[2019-02-18 16:24] thedevelopersanjeev commented on #557
Hello @narendrasinghsolanki
Open Terminal/GitBash(if using windows)
and
write command `git clone git@github.com:project-travel-mate/Travel-Mate.git`

[2019-02-18 17:52] thedevelopersanjeev opened #566 "Implement Runtime Permissions Properly."
Improve user experience.

### Steps to reproduce
Uninstall and reinstall the application

### Expected behaviour
Runtime permissions should be requested when they are required.

### Actual behavior
Runtime permissions are requested during the first launch of the application.

### Would you like to work on the issue?
No

[2019-02-18 19:10] CoderVishalSehgal commented on #566
I would like to work on this issue.

[2019-02-18 19:11] thedevelopersanjeev commented on #566
go ahead.

[2019-02-20 00:41] Rita-Okonkwo commented on #557
Hello is this still an issue or has it been solved? Also, are all the issues recent ones that require a solution? Looking forward to your kind and urgent response

[2019-02-20 00:45] Rita-Okonkwo commented on #414
I'm working on this tomorrow

[2019-02-20 05:14] thedevelopersanjeev commented on #414
Hi Rita, you can start working on issues 1 March 2019 as coding phase for GSSoC starts from 1 March 2019.

[2019-02-20 05:14] jtj9817 commented on #557
This issue is still being worked on. To be more specific, I can be certain that there would be **no pull request** at the end of this week as I'm currently preoccupied. Next week seems to be a better time to continue working on the Issue.

[2019-02-20 07:22] Rita-Okonkwo commented on #414
Alright thank you for the information

[2019-02-20 07:23] Rita-Okonkwo commented on #557
Alright thanks

[2019-02-20 17:44] narendrasinghsolanki commented on #557
what is your test cases and user documentation,conclussion of project
DIDI

On Sat, Feb 16, 2019 at 10:19 PM Swati Garg <notifications@github.com>
wrote:

[2019-02-25 03:17] ashiagarwal73 commented on #566
I can work on this issue

[2019-02-25 05:32] thedevelopersanjeev commented on #566
Hello @ashiagarwal73 This issue has already been assigned to @CoderVishalSehgal

[2019-02-25 05:33] ashiagarwal73 commented on #566
Okay

[2019-02-27 02:12] jddeep commented on #511
@Swati4star I would like to work on this issue (gssoc19). Kindly assign me. Thanks.

[2019-02-27 02:59] Swati4star commented on #511
Sure @jddeep

[2019-02-27 11:48] pradnyasd commented on #511
Can I work on the same issue?

[2019-02-28 16:47] jddeep commented on #262
@Swati4star i would like to work on this issue.

[2019-03-01 19:04] ShivangiSingh17 commented on #564
I would like to work on this issue. Shall I ??

[2019-03-01 19:06] thedevelopersanjeev commented on #564
sure @ShivangiSingh17 you can start working on it.

[2019-03-02 02:53] Swati4star commented on #262
Sure

[2019-03-03 13:58] ShivangiSingh17 opened #568 "Application is unable to fetch data"
When the user wants to know more about *Panjim*, the activity does not lead to any information page.

### Steps to reproduce
```Panjim city```>```Know more about Panjim```

### Expected behaviour
On clicking ```Know more about Panjim```, the user should be redirected to the page containing information about the Panjim city.

### Actual behaviour
No loading of information .

### Would you like to w

[2019-03-03 19:00] ShivangiSingh17 opened #569 "The page loses functionality while fetching data"
The information displayed regarding cities under ```Know more about``` in the application is fetched form wikimedia that uses the text to speech feature for the city names pronounciation. But in the application the feature is missing and only ```listen``` word is displayed without the sound feature.

### Steps to reproduce
Choose cities like Bangalore, Chennai, Kolkata, Jaipur, Hyderabad, Ahmedaba

[2019-03-03 19:04] ShivangiSingh17 commented on #569
I would like to implement this missing feature. Shall I start working on this issue??

[2019-03-03 19:27] ShivangiSingh17 opened #570 "App bar label is minimized on orientation change"
When the user switch to landscape mode the action app label is minimized .

### Steps to reproduce
1. Run the application.
1. Enable screen rotation and change the orientation to landscape.

### Expected behaviour
The label text size should remain same.

### Actual behaviour
The size of the label written in the action bar is minimized.

### Would you like to work on the issue?
Yes

[2019-03-03 19:30] ShivangiSingh17 commented on #570
Please I would like to fix this issue. Shall I begin working on this  ?

[2019-03-03 22:15] thedevelopersanjeev commented on #570
go ahead @ShivangiSingh17

[2019-03-04 03:57] ashiagarwal73 commented on #568
I would like to work on this issue

[2019-03-04 04:45] ShivangiSingh17 commented on #568
Sorry.. but I am working on this issue.

[2019-03-04 13:40] #262 closed

[2019-03-04 14:01] Swati4star commented on #569
@ShivangiSingh17 you are working on https://github.com/project-travel-mate/Travel-Mate/issues/570 also. complete that, and then you may start on this

[2019-03-04 14:02] Swati4star commented on #566
@CoderVishalSehgal updates?

[2019-03-04 14:03] Swati4star commented on #564
@ShivangiSingh17 Pick up one issue at a time please!

[2019-03-04 16:02] ShivangiSingh17 commented on #569
Ok sure,  @Swati4star I will first work on #570 then I will continue doing this one.

[2019-03-04 16:07] CoderVishalSehgal commented on #566
@Swati4star Will push the code by tomorrow!

[2019-03-05 05:34] jddeep commented on #511
![screenshot 140](https://user-images.githubusercontent.com/43133646/53783092-331f8b80-3f36-11e9-8b19-14c9ec1b8c5c.png)
@Swati4star Please take a look. This is a just a basic mockup; All images and a background is not added. These will be added while developing.

[2019-03-05 05:35] jddeep commented on #511
@Swati4star Kindly confirm whether I should proceed to making a PR.

[2019-03-05 14:32] Swati4star commented on #511
@jddeep
- Reduce the curve radius of the cards
- Shadow is looking weird. Reducing the intensity might help
- Make the text size smaller

You can work on this layout. We can create further issues to improvise.

@thedevelopersanjeev Add your views too.

[2019-03-05 14:35] jddeep commented on #511
@Swati4star okay sure. I will work with on the asked changes and shall make a PR on the same. Thanks.

[2019-03-05 14:37] jddeep commented on #511
And @Swati4star Do you want a full functioning Home screen with linkings to all activities or just a UX/UI screen whose functioning should be added in further issues.

[2019-03-05 14:38] Swati4star commented on #511
Functioning screen with linking to fragments/activites

[2019-03-05 14:40] jddeep commented on #511
Then it shall be a long tedious task if everything is to be done together in one PR.

[2019-03-08 07:11] ShivangiSingh17 opened #572 "Typo error in README.md file"
Typo error is found in README.md file.

### Steps to reproduce
Open the README.md file of the project.

### Would you like to work on the issue?
Yes

[2019-03-08 11:35] jddeep commented on #511
@Swati4star Should I consider making the homepage layout in `fragment_tavel.xml` ? Cause I am not finding another way to link it to the main activity.

[2019-03-08 16:05] jtj9817 commented on #557
For everyone that still wants to work on this Issue, a PR was opened up 2 days ago to deal with this Issue. The PR can be seen here: https://github.com/project-travel-mate/Travel-Mate/pull/571

[2019-03-08 19:58] CoderVishalSehgal commented on #511
@Swati4star I would like to work on this issue :)

[2019-03-09 08:33] Swati4star commented on #572
@ShivangiSingh17 This type of issue wont be considered for gssoc.
I am merging your PR though, but points wont be added for this PR

[2019-03-09 08:34] #572 closed

[2019-03-09 08:38] jddeep commented on #511
@Swati4star Should I consider making the homepage layout in fragment_tavel.xml ?

[2019-03-09 09:27] ShivangiSingh17 commented on #572
Ok @Swati4star not a problem. I will consider that.

[2019-03-09 12:31] atul161 commented on #569
I am going to start this!!

[2019-03-09 12:42] ShivangiSingh17 commented on #569
@atul161 I am already working on this.

[2019-03-09 13:13] ShivangiSingh17 commented on #570
@Swati4star can you please review this PR and suggest the changes if any.

[2019-03-09 14:18] atul161 commented on #569
ohkk

[2019-03-10 01:57] jddeep commented on #511
@Swati4star Should I consider making the homepage layout in `fragment_tavel.xml` ?

[2019-03-10 04:30] theabhishekavi opened #576 "My Trip list doesn't refreshes its content after deleting the last trip"
If last trip is deleted, its details are still being shown in my trip

### Steps to reproduce
1.Open My trips
2.Add a new trip(if you don't have any upcoming trips)
3.Now delete all trip one by one(by selecting remove me from trip)
4.Details of last trip is still being visible.

### Actual behaviour
![image](https://user-images.githubusercontent.com/35160400/54080670-2080ca00-431b-11e9-8720-2b492a

[2019-03-10 05:01] theabhishekavi opened #577 "Snackbar is displayed for very long duration in my trips section"
When there is no upcoming trip snackbar is displayed for a long duration preventing from adding a new trip

### Steps to reproduce
1. Open My Trips
2. Remove all the trips

### Actual behaviour
Snackar is displayed for long duration causing add new trip icon invisible

### Expected behaviour
1.Either Snackbar duration should be set to short
2.Or Snackbar should be shown above the level of add icon

[2019-03-10 05:59] Swati4star commented on #511
@jddeep Create a new fragment `fragment_home` and add a new entry in navigation drawer

[2019-03-10 06:12] Swati4star commented on #576
Go ahead @theabhishekavi

[2019-03-10 06:13] Swati4star commented on #577
- Set the duration of snackbar to short

You can work on this @theabhishekavi
choose any one issue to work first

[2019-03-10 12:52] atul161 commented on #569
@ShivangiSingh17  i have worked in this and i found that "you cant stop  Text to speech which is running in background(tts.stop(),tts.shutdown()) fails for some Android devices  and also worked for some devices " .so there is one more option you can record that audio and save  in room database  and  after saving we  can  play pause and Perform other operation on recorded Audio.If you have done thi

[2019-03-10 13:43] theabhishekavi opened #580 "Pressing back button in any of the fragment leads to app close"
If we press back button in any of the fragment(Travel, My Trips, My Friends, Favourite clients,etc) the app closes

### Expected behaviour
On back press the fragment should open the main activity instead of closing the app.
And to close the app from main activity twice back press button should be enabled:- First back button asking "Are you sure you want to exit" and second time the app should be c

[2019-03-11 00:00] theabhishekavi commented on #580
@Swati4star should it be implemented?

[2019-03-11 09:16] Swati4star commented on #580
Sure @theabhishekavi 👍

[2019-03-11 09:22] #577 closed

[2019-03-12 10:01] HarryHeights opened #582 "Is the app only for Indians?"
I thought  I could check out other locations. However, it is restricted to India

[2019-03-12 19:42] blongho commented on #582
@HarryHeights, I think that is why it is open source. You can adapt it to other settings. Check the [licence here](https://github.com/project-travel-mate/Travel-Mate/blob/master/LICENSE)

[2019-03-12 19:46] HarryHeights commented on #582
Thanks @blongho. I'm not a developer though, I don't know how I'd go about that. Hopefully someone makes another variant of the app supporting other countries.

[2019-03-12 20:15] blongho commented on #582
@HarryHeights, in that case, you should make your feature request just as you created this one. Instead, you could make the heading **Make Travel app for XXX country**. Doing this, however, will require the developer to have some local information about "XXX" which might or might not be difficult, depending on the country

[2019-03-12 20:29] blongho commented on #512
Can @Swati4star  or anyone take a look at this branch feature?
1. Clone my copy of the app
[code]
2. Get the branch
[code]
3. Build and run app and go to `Utilities-> Currency Converter `
Things to check
- Check that CurrencyConverter displays flag list appropriately
  **Note** In this version of the app, all flags in `res/drawable` have been deleted
    and uses that provided by [country-data](ht

[2019-03-12 21:02] HarryHeights commented on #582
Yea true that. Thanks for your suggestion. I will open a new issue.

[2019-03-14 16:31] ShivangiSingh17 commented on #569
@atul161, I am not solving this issue as suggested by you. I am removing that whole function while fetching and will show the data only.

[2019-03-14 17:10] #582 closed

[2019-03-14 17:10] Swati4star commented on #512
It might take a week for me to review this.

[2019-03-14 23:21] blongho commented on #512
@Swati4star, i think i have "completed" this task and have submitted a formal pull request.

[2019-03-16 08:34] #580 closed

[2019-03-16 08:40] #570 closed

[2019-03-17 05:56] #511 closed

[2019-03-17 06:24] Swati4star commented on #512
yes you have! There are a few minor changes that I have mentioned in the PR. you can check those, and then the PR is ready to be merged.

[2019-03-17 06:46] jddeep commented on #447
@Swati4star is it available for gssoc19? I would like to work with this.

[2019-03-17 06:48] Swati4star commented on #447
No. It's not. We are not sure if we are going to implement this. You can leave this for now.

[2019-03-17 06:48] jddeep commented on #568
@Swati4star can I work on this?

[2019-03-18 15:28] Swati4star commented on #568
@ShivangiSingh17 Are you working on this issue?

[2019-03-19 02:25] jddeep opened #585 "Develop and link Hotels Fragment to HomeFragment."
Currently the Home page is UX/UI based and has no functionality. Child Activities/fragments are to be linked with it.

### Steps to reproduce
1. Go to Home from Nav Drawer.
2. The Home Page opens but does not respond on clicking the cards.

### Expected behaviour
On clicking a particular card, user should be taken to that particular fragment.

### Actual behaviour
Nothing.

### Would you like to w

[2019-03-19 02:25] jddeep commented on #585
@Swati4star Please check this issue and confirm me on the same. Thanks.

[2019-03-19 16:55] ShivangiSingh17 commented on #568
@Swati4star , Yes I am working on this issue. I will be sending a PR soon.

[2019-03-20 12:58] jddeep commented on #585
@Swati4star Is it a `beginner` issue? Cause the fragment needs to be developed from scratch and then needs to linked.

[2019-03-21 11:09] Swati4star commented on #585
changes it @jddeep

[2019-03-23 17:39] lifeLessCoder commented on #414
Hey! Can I start working on this issue?

[2019-03-24 15:16] #585 closed

[2019-03-24 15:19] Swati4star commented on #414
sure @lifeLessCoder

[2019-03-25 15:18] thedevelopersanjeev opened #587 "Improve UX of Signup Screen."
During signup, the error is displayed using snackbar which is not visible when the keyboard is in use.

### Steps to reproduce
Improve the logic and enable error on EditText.

### Expected behaviour
Show the error on EditText using method setError and setErrorEnabled.
Reference: https://developer.android.com/reference/android/support/design/widget/TextInputLayout#seterror

### Actual behavior
The

[2019-03-25 15:26] thedevelopersanjeev opened #588 "Improve validation on SignUp Screen"
Checking for empty First Name and Last Name is not done before sending the data to the server.

### Steps to reproduce
Perform a check for empty first name and last name before sending the data to the server and show an appropriate error if the EditText is empty.

### Expected behavior
Checking for empty EditText should be done before forwarding the data.

### Actual behavior
Empty details are sen

[2019-03-26 07:27] jddeep opened #589 "Develop and Integrate Friends fragment to HomeFragment."
Describe your issue here.
Integrate Friends fragment to HomeFragment.

### Steps to reproduce
Navigate to Home Fragment and click on Friends.

### Expected behaviour
It should lead to some Friends fragment.

### Actual behaviour
Nothing happens.

### Would you like to work on the issue?
Yes.

[2019-03-26 07:28] jddeep commented on #589
@Swati4star please add some tags to the issue.

[2019-03-27 00:59] lifeLessCoder commented on #414
okay

[2019-03-27 01:59] lifeLessCoder commented on #414
I'm not able to convert pngs to XML using the website mentioned above. Can I use
Icons from flaticon to do so?

Reference
https://www.flaticon.com

[2019-03-28 06:59] gateway2rohan commented on #587
I would like to work on this.

[2019-03-28 08:47] thedevelopersanjeev commented on #587
go ahead.

[2019-03-28 10:39] agarwalprashasti commented on #564
Is this issue still open? If this is the case I would like to work on this.

[2019-03-28 11:08] jddeep commented on #589
@Swati4star I shall make a new fragment for this,

[2019-03-28 15:27] ShivangiSingh17 commented on #564
@agarwalprashasti, I am not working on this issue, you can proceed working on this issue.

[2019-03-28 19:06] gateway2rohan commented on #588
Want to do this.

[2019-03-29 08:12] agarwalprashasti commented on #564
@Swati4star Maybe we can show the most visited cities in the top.

[2019-03-29 09:21] thedevelopersanjeev commented on #588
go ahead

[2019-03-30 09:24] Swati4star commented on #564
We already show most visited cities only on destinations

[2019-03-30 09:25] Swati4star commented on #589
sure @jddeep

[2019-03-30 09:32] #512 closed

[2019-03-30 09:33] Swati4star commented on #414
if you see the code, we now dont have flags images in the drawable folder.
You can convert other images to vector drawables

[2019-03-30 10:31] gateway2rohan commented on #587
I completed it. Want to know the difficulty label of this issue?

[2019-03-30 14:22] jeevanreddyb opened #592 "API_LINK_V2"
what exactly String uri = API_LINK_V2 + "get-places/" + latitude + "/" + longitude + "/accommodation"; this string return?

How can someone see that details in API_LINK_V2?

[2019-03-30 16:20] Swati4star commented on #592
You can make an http call to above link using postman (or something else)
This is the value of API_LINK_V2
https://github.com/project-travel-mate/Travel-Mate/blob/master/Android/app/src/main/java/utils/Constants.java#L27

[2019-03-31 10:08] lifeLessCoder commented on #414
okay!

[2019-03-31 11:46] lifeLessCoder commented on #414
Done! @Swati4star

[2019-03-31 12:01] lifeLessCoder opened #594 "Remove unused resources from drawable directory"
## Description
There are many unused pngs in the drawable folder which need to be deleted

[2019-04-01 16:58] #588 closed

[2019-04-02 19:10] lifeLessCoder opened #596 "Improve UI for the profile screen"
Describe your issue here.
The user profile page has few changes to be made
- The no_image drawable is blurred out.
- The cross mark overlaps the email ID

Also, the UI needs to be improved in both portrait and landscape Orientation.

![Screenshot_20190403-001312](https://user-images.githubusercontent.com/33070301/55429115-4e6ace80-55a8-11e9-97fd-74b5008b9d6c.png)

![Screenshot_20190403-001327](htt

[2019-04-04 11:46] #587 closed

[2019-04-05 04:32] jtj9817 opened #597 "Add Test Suites"
Currently, there is no UI testing or functionality testing for TravelMate. It would be a good idea to start adding testing suites to the app so that it becomes more maintainable in the future. It would be also a good practice for people that wants to contribute to an open source project but they're at lost at where to start, this way they can slowly learn about the project by creating test cases f

[2019-04-09 05:11] Jantzilla opened #600 "FloatingActionBar covers content MyTripInfoActivity"
The coordinated header minimizes while the "FAB - know_more" stays the same resulting in the share and menu options being blocked

![travel_mate_pr](https://user-images.githubusercontent.com/35611020/55774718-f7f40900-5a5b-11e9-9136-597e24d12784.gif)

### Steps to reproduce
Add a trip inside "My Trips" --> Select the new trip --> Scroll the page to see the undesirable behavior.

### Expected behav

[2019-04-09 11:11] #589 closed

[2019-04-09 15:05] #592 closed

[2019-04-09 16:16] pranitp2222 opened #601 "DATABASE NOT FOUND"
Describe your issue here.
HOW TO FIND AND CONNECT DATABASE
### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Would you like to work on the issue?
Tell us if you would like to work on this issue

[2019-04-10 05:33] Swati4star commented on #601
Please give some description of what information do you exactly need?

[2019-04-10 05:42] pranitp2222 commented on #601
I have to see database file in your project
How you have created and how u have used i want to used in my project

On Wed, Apr 10, 2019, 11:03 AM Swati Garg <notifications@github.com> wrote:

[2019-04-10 06:13] jddeep opened #603 "Integrate the Trips Fragment into Home Fragment."
Integrate the Trips Fragment into Home Fragment.

### Steps to reproduce
Navigate to Home Fragment and click on Trips.

### Would you like to work on the issue?
Yes.

[2019-04-10 06:13] jddeep commented on #603
@Swati4star Please give some labels to the issue.

[2019-04-10 06:19] Swati4star commented on #601
check this repo https://github.com/project-travel-mate/server

[2019-04-11 10:10] #603 closed

[2019-04-11 10:11] #600 closed

[2019-04-13 17:55] ShivangiSingh17 opened #605 "The toast message in My Friends section is displayed for very long time"
In ```My Friends``` section the toast message displayed for no friends added for a trip, occurs for a very long time.

### Steps to reproduce
Select ```My Friends```.

### Expected behaviour
When no friends are added for a trip the toast should be displayed for a shorter duration.

### Actual behaviour
The toast is displayed for long duration.

### Would you like to work on the issue?
Yes

[2019-04-14 07:07] ShivangiSingh17 opened #607 "Setting the word limit for the Username input box"
Lengthy username is not supported and an error message is displayed rejecting the username updation.

### Steps to reproduce
Update the username and type a lengthy username.

### Expected behaviour
To avoid the error message the word limit can be set.

### Actual behaviour
The user is allowed to input the username of his choice but long username is not supported and the error message is displayed.

[2019-04-14 07:12] ShivangiSingh17 commented on #607
@Swati4star and @thedevelopersanjeev, I would like to know your opinion regarding setting up the word limit to 50

[2019-04-15 03:14] jddeep opened #608 "Integrate Cities Fragment & utilities fragment with Home Fragment"
Describe your issue here.
Integrate Cities & utilities Fragment with Home Fragment

### Actual behaviour
Nothing happens onClick.

### Would you like to work on the issue?
Yes.

[2019-04-15 03:14] jddeep commented on #608
@Swati4star Please add tags to this.

[2019-04-15 07:13] Swati4star commented on #608
Work on it @jddeep

[2019-04-15 07:13] #605 closed

[2019-04-15 08:05] ShivangiSingh17 commented on #607
@Swati4star please add labels to this.

[2019-04-15 08:47] Swati4star commented on #607
Sure. Go ahead with this.

[2019-04-15 09:05] ShivangiSingh17 opened #609 "Updating the pull request template"
While creating the pull request there can be a need of adding screenshots according to the issue type. Also at times attaching screenshots helps to understand the issue in a better way.

### Actual behaviour
Right now in the PR template, there is no reference given for adding screenshots. I will add that.

### Would you like to work on the issue?
Yes

[2019-04-15 09:06] Swati4star commented on #609
This isnt a valid issue @ShivangiSingh17

[2019-04-15 09:06] #609 closed

[2019-04-15 09:14] ShivangiSingh17 commented on #609
@Swati4star most of the projects have that in there template.

[2019-04-15 09:16] ShivangiSingh17 commented on #609
I will add separate templates for issues, feature requests and chores for ease.

[2019-04-15 09:19] ShivangiSingh17 commented on #609
![template](https://user-images.githubusercontent.com/43827236/56121374-99fc7f80-5f8d-11e9-9c93-6ad97cd40831.png)
It will look like this once implemented.

[2019-04-15 10:20] ShivangiSingh17 opened #611 "Adding separate templates for bugs, feature requests and chores"
### Actual behaviour
Right now, there is a common issue template for creating any type of issue.

### Expected behaviour
There should be separate issue templates for bugs, adding new features or for chores such as code optimizations.

### Would you like to work on the issue?
Yes

[2019-04-15 11:00] Swati4star commented on #611
go ahead @ShivangiSingh17

[2019-04-15 11:00] #601 closed

[2019-04-16 02:20] jddeep opened #614 "The App closes completely when returning from a Fragment."
Describe your issue here.
The App closes completely when returning from a Fragment.

### Steps to reproduce
Navigate to any Fragment from HomeFragment(in this case).
While returning from that fragment to the previous ones, the App closes completely.

### Expected behaviour
The app should correspond to the previous fragment.

### Actual behaviour
The app closes.

### Would you like to work on the i

[2019-04-16 02:21] jddeep commented on #614
@Swati4star This is an important issue for the app. I would like to look into it. Please add difficulty tags.

[2019-04-16 15:00] Swati4star commented on #614
So, this issue is there for every fragment (either from home or navigation drawer).
what is the expected behaviour?

a toast saying "press back again to exit" or automatically go back to previous fragment?

[2019-04-16 15:01] jddeep commented on #614
It should go back to previous fragment.

[2019-04-16 15:03] #608 closed

[2019-04-16 15:05] Swati4star commented on #614
go ahead @jddeep

[2019-04-17 05:21] #611 closed

[2019-04-17 11:01] Swati4star commented on #614
@jddeep Thehttps://github.com/project-travel-mate/Travel-Mate/pull/615 is only addressing back from home page. Take care of navigation drawer too

[2019-04-17 11:05] jddeep commented on #614
@Swati4star Okay. In that case, kindly give the issue at least an easy tag.

[2019-04-17 11:18] Swati4star commented on #614
It's a beginner issue only @jddeep

[2019-04-17 15:28] jddeep commented on #614
Okay @Swati4star As you say. :)

[2019-04-17 15:30] jddeep commented on #614
@Swati4star I could not get it. Like when the back button is pressed when nav drawer is open, the nav drawer simply closes as it should. What else do you want here?

[2019-04-17 15:47] Swati4star commented on #614
- you to a fragment using navigation drawer.
- press back button
- app closes

instead, it should come back to home fragment

[2019-04-17 16:06] jddeep commented on #614
@Swati4star I see. So do I need to use `addtoBackStack()` in every case while committing to replace a fragment, OR is there a better way?

[2019-04-18 07:06] jddeep commented on #614
@Swati4star ?

[2019-04-18 14:09] jddeep commented on #614
@Swati4star PR Updated! Ignore the above messages and please review the PR. #615

[2019-04-18 21:56] jtj9817 commented on #597
@Swati4star Hey Swati,

I started doing experimental testing on the Login Screen and Sign-up Screens, so we might want to start doing testing with the UI first using Espresso and automated testing. I used the method here: https://medium.com/@akifev/android-automation-testing-getting-started-with-espresso-a6f8cb50746a
so if anyone  wants to contribute to doing UI testing they can do these too. It's

[2019-04-18 22:03] jtj9817 opened #616 "No Error Messages on Invalid Email for Sign-up Screen"
## Issue
When I enter an invalid email address and click the "Signup" button, nothing happens and it doesn't display the error message.

![](https://raw.githubusercontent.com/jtj9817/MediaFiles/master/NoErrorMessages.gif)

## Steps to reproduce
Install development version of TravelMate, go to Signup screen. Fill out the 'First Name' and 'Last Name' sections, then enter an invalid email address. Pr

[2019-04-19 02:15] jddeep opened #618 "Bad behavior on navigating to Trips, Friends Fragment from Home"
Bad behaviour on navigating to Trips, Friends Fragment from Home.

Steps to reproduce:-
Click on Home.
Then click on Trips or Friends fragment,

I would like to Work on this issue.

[2019-04-19 02:15] jddeep commented on #618
@Swati4star Please provide difficulty tags.

[2019-04-19 07:26] jddeep commented on #618
@Swati4star Please provide difficulty tags.

[2019-04-19 09:33] jddeep commented on #618
@Swati4star ?

[2019-04-19 09:39] Swati4star commented on #618
what exactly do you mean by `bad behaviour`?

[2019-04-19 09:42] jddeep commented on #618
@Swati4star The Home Fragment remains in the background and the new fragment comes on top of it. The replacement is not properly functional.

[2019-04-19 09:44] Swati4star commented on #618
isnt it the intended behaviour?
app should go back to home fragment only

[2019-04-19 09:45] jddeep commented on #618
No i didn't mean that. wait i will post screenshot.

[2019-04-19 09:46] Swati4star commented on #618
https://github.com/project-travel-mate/Travel-Mate/pull/615 should have taken care of the issue with back from fragments on home page.
we wont be having a new issue for this. We can reopen the #615 only in this case

[2019-04-19 09:48] jddeep commented on #618
@Swati4star In that case I don't need score for this. I will be making a PR for this and you don't need to reopen the earlier PR

[2019-04-19 10:02] jddeep commented on #618
![Screenshot_20190419-151526](https://user-images.githubusercontent.com/43133646/56419573-59b43e80-62b8-11e9-856a-01fd4279f9dc.png)
![Screenshot_20190419-151530](https://user-images.githubusercontent.com/43133646/56419584-633da680-62b8-11e9-8569-a8a8335452d6.png)

[2019-04-19 10:04] jddeep commented on #618
@Swati4star Have a look at above screenshots. Why do you think happens anyway? Like this problem is only with the `Trips` and `Friends` Fragments.

[2019-04-19 14:38] jddeep commented on #618
@vyankatesh24

[2019-04-20 05:15] Swati4star commented on #618
When I faced this issue, I changed the background color of whole fragment to white. I dont know if this is the right way to do so, but this works

[2019-04-20 06:12] DevanandGowda commented on #616
@jtj9817 Can I work on this? Please assign this to me.

[2019-04-20 10:36] Swati4star commented on #616
Sure @jtj9817 you can work on it

[2019-04-20 12:54] jddeep commented on #618
Okay then @Swati4star Do you want me to make a PR doing the same? Please tell me so but please don't reopen the previous PR. I would not want score for the new PR.

[2019-04-20 12:55] Swati4star commented on #618
yeah, create a new PR

[2019-04-21 11:00] maaudrana opened #619 "The app crashing when going to view city trend post by hashtag"
<h4>Actual behavior</h4>
When i trying to view trends post by hashtag,app stuck and crashes.
<h4>Expected behavior</h4>
I expected that I can view trending post successfully by hashtag
<h4>How to reproduce</h4>
<ol>
<li>Download the latest version app from playstore.</li>
<li>Open the app</li>
<li>Creat account and login with mail and password.</li>
<li>Allow all the permission and start the app</

[2019-04-21 16:14] #618 closed

[2019-04-22 05:42] #607 closed

[2019-04-22 18:12] ShivangiSingh17 opened #621 "Enhancing the UI/UX for the home screen"
For the cities that are marked on the right side on the home screen, the card functionality is working for more than once while on the left side it works well.

###  Expected behaviour
The card should open only once.

### Actual behaviour
The card opens allows 3 openings, for the cities marked on the right side.

### Would you like to work on the issue?
Yes
### Screenshot

![BIDU](https://user-ima

[2019-04-22 18:19] ShivangiSingh17 commented on #621
@Swati4star, @prabhakar267, @thedevelopersanjeev, I would like to work on this issue.

[2019-04-22 18:36] prabhakar267 commented on #621
@ShivangiSingh17 Yeah go ahead

[2019-04-23 01:46] OlgaMorales commented on #594
@lifeLessCoder can i work on Delete unused drawables #595 ?

[2019-04-23 04:15] OlgaMorales commented on #569
@ShivangiSingh17 Can i work on this issue?

[2019-04-23 07:51] ShivangiSingh17 commented on #569
I am already working on this issue and I am almost done, I am facing an
error. Once done, I will be sending a PR soon.

Warm regards
Shivangi Singh

On Tue, Apr 23, 2019, 9:45 AM OlgaMorales <notifications@github.com wrote:

[2019-04-23 08:55] maaudrana commented on #619
@Swati4star, @prabhakar267 can you view the issue.

[2019-04-23 15:41] Swati4star commented on #619
Thanks for reporting the bug! We will try to fix it in future release

[2019-04-23 19:51] XAMIR555 opened #622 "[ Travel Mate version 5.4.0 ] Unable to change my profile picture"
#### Project Information
* Repository    :  https://github.com/project-travel-mate/Travel-Mate
* Project Name  : Travel Mate
* Publisher     :  Swati Garg

#### Expected behavior
I expected that when I click on the camera button and choose an image from the phone gallery the profile picture should be changed

#### Actual behavior
after opening the profile when I try to change the profile picture i

[2019-04-23 20:17] XAMIR555 opened #623 "[ Travel Mate version 5.4.0 ] In landscape mode Rename option is not working properly"
#### Project Information
* Repository    :  https://github.com/project-travel-mate/Travel-Mate
* Project Name  :  Travel Mate
* Publisher     :  Swati Garg

#### Expected behavior

I expected that when I change the profile name   in landscape mode the profile name should be changed

#### Actual behavior

after opening the application when I try to change profile name in landscape mode   Profile na

[2019-04-24 04:34] jddeep commented on #623
Thanks for pointing out the issue. @Swati4star Please provide some tags on it. I will work on it.

[2019-04-24 05:06] Swati4star commented on #623
go ahead @jddeep

[2019-04-24 08:08] XAMIR555 commented on #623
good work

[2019-04-24 08:10] XAMIR555 commented on #622
thank you  very much

[2019-04-24 08:57] XAMIR555 opened #625 "[ Travel Mate version 5.4.0 ] My Trips automatically become Add when I refresh the page"
#### Project Information
* Repository    :  https://github.com/project-travel-mate/Travel-Mate
* Project Name  :  Travel Mate
* Publisher     :  Swati Garg

#### Expected behavior

I expected that when I refresh  my trips page  My trip should not be Add automatically

#### Actual behavior

after opening the application when I create my Trips and refresh the page My Trips automatically add in my tr

[2019-04-24 09:18] XAMIR555 opened #626 "[ Travel Mate version 5.4.0 ] The Convert button disappears in the landscape mode"
#### Project Information
* Repository    :  https://github.com/project-travel-mate/Travel-Mate
* Project Name  :  Travel Mate
* Publisher     :  Swati Garg
* My GitHub account----:  [[Here]](https://github.com/XAMIR555)
#### Expected behavior

I expected that The Convert  button should not disappear in the landscape mode

#### Actual behavior

after opening the application and rotate the mobile sc

[2019-04-24 10:21] XAMIR555 opened #627 "[ Travel Mate version 5.4.0 ] In the Hotels booking call and location button are not working"
#### Project Information
* Repository    :  https://github.com/project-travel-mate/Travel-Mate
* Project Name  :  Travel Mate
* Publisher     :   Swati Garg

#### Expected behavior

I expected that in the Hotels booking when I click on the call button  the hotel's contact should be shown and when I click on the location button the hotel,s location show in google map

#### Actual behavior

after op

[2019-04-24 14:00] #623 closed

[2019-04-25 02:00] cckole opened #628 "App crashed when i sorted by price lowest and clicked on the displayed image."
### Description
I was browsing through the info of different cities and clicked on Hyderabad. I clicked on the restaurant to check the available info, and different restaurants was displayed. I discovered a menu button and clicked to check what feature could be accessed. I discovered that I can sort for restaurants in different ways, I clicked on price lowest  and it worked. But when I clicked on

[2019-04-25 12:44] sourovafrin opened #629 "[ Travel Mate ][ version 5.4.0 ] In landscape mode of world clock i am unable select country and digital time disappears"
#### Expected behavior

In world clock section user should be able to select country and watch the digital time under the analog clock on landscape mode same as portrait mode. If there is less space on landscape mode, the page should be scrollable.

#### Actual behavior

While tried to the visit world clock page on landscape mode, the app page rotated in Such way which made me unable to select cou

[2019-04-25 14:47] chrisbarth01 opened #630 "I can't reset my password on Travel Mate Version 5.4.0"
**Expected behavior**
- I expected my password to be reset and sent to my email when I click on 'SUBMIT' option.

**Actual behavior**
- I typed in my email as requested and whenever I click on the 'SUBMIT' option, the app tells me that I imputed an invalid username or password and when I use my username, it tells me that I imputed an invalid Email

**How to reproduce**
- [Download](https://play.go

[2019-04-25 14:54] jddeep commented on #629
Thanks for reporting the issue. @Swati4star Please add difficulty labels. I shall work on it.

[2019-04-25 22:43] OlgaMorales commented on #627
hi @Swati4star i'd like to help u with this issue , however I'm facing the next trouble , when i try to create one account i see a message which says "invalid user name or password" I've checked if passwords are equal and they are , so what could be the error?

[2019-04-26 00:48] cckole opened #631 "Map unable to fetch item location and app crashed when I clicked on the menu button"
###Discription

I clicked on the real time location to select items so that the map can display their locations. But it displayed a network error. I then went ahead to click the menu button on the map and the app crashed.

### Expected behaviour

I expected that when I selected the items and clicked on the okay button, the map was supposed to display the locations of the items. However, when I cli

[2019-04-26 04:49] sourovafrin opened #632 "[ Travel Mate ][ version 5.4.0 ] Online shopping search result disappears on every rotation"
#### Expected behavior

On online shopping the search result should always show so the user don't need to search again after rotating the phone

#### Actual behavior

After rotating the phone the search result disappears and user need to search again which is quite irritating.

#### How to reproduce

- Turn on auto rotation and enter into the app
- Go to Travel and click on Online shopping
- Now s

[2019-04-26 08:52] cckole commented on #631
It started working perfectly this morning when I tried it again. I can say for now that the bug is ineffective.

[2019-04-26 13:47] bhavyakaria commented on #619
@Swati4star Can I fix this issue?

[2019-04-26 14:15] chrisbarth01 commented on #630
Hello @project-travel-mate, can anything be done about this error.

[2019-04-26 15:15] bhavyakaria opened #633 "Blank Google Search Page opening up on clicking more button"
When clicking on more button in Nearby Places, the app redirects the user to the blank Google page instead of the google page with the query set as the selected monument.

### Expected behaviour
The Google search page should be opened with the monument/place name in the search box

### Actual behaviour
A blank Google search page opens up.

### Would you like to work on the issue?
Yes

### Steps to

[2019-04-26 22:46] chrisbarth01 commented on #630
Hello @Swati4star, can anything be done about this bug as I really want to reset my password and login.

[2019-04-27 10:15] Swati4star commented on #627
the passwords need to be alphanumeric with one special character. Can you check if these conditions are satisfied.

[2019-04-27 10:16] Swati4star commented on #631
Should we close this then @cckole ?

[2019-04-27 10:18] Swati4star commented on #619
sure @bhavyakaria

[2019-04-27 10:20] Swati4star commented on #630
Thank you for reporting! @chrisbarth01
We will work on it & fix it in future release

[2019-04-27 11:52] cckole commented on #631
Yea. Sure you can close it. I've tried it several times and its working fine. That is a magic fix I guess. Smiles.

[2019-04-27 12:31] OlgaMorales commented on #627
Length? Whatever ?

El sáb., 27 de abril de 2019 5:15, Swati Garg <notifications@github.com>
escribió:

[2019-04-27 15:53] Swati4star commented on #627
https://github.com/project-travel-mate/Travel-Mate/blob/master/Android/app/src/main/java/io/github/project_travel_mate/login/LoginActivity.java#L434

Length >= 8

[2019-04-27 15:54] #631 closed

[2019-04-27 19:52] ShivangiSingh17 opened #635 "Upgrading the gradle version"
### Describe the chore
Gradle version that is currently 3.2.1 should be updated to the latest version that 3.4.0 and the kotlin gradle plugin that is 1.2.71 should be upgraded to 1.3.31.

### Steps to reproduce
Check app level ```build.gradle``` file.

### Would you like to work on the issue?
Yes

[2019-04-27 19:52] ShivangiSingh17 commented on #635
@Swati4star

[2019-04-28 01:15] OlgaMorales commented on #627
I guess , It's necessary to put a google maps key ,isn't it ? if yes, where can I find it's reference?

[2019-04-28 10:03] maaudrana opened #636 "[Travel Mate][version 5.4.0]The app crashed if i click on my created trips."
<h4>Actual behavior</h4>
App crashes if i click on my trips to view trip details.
<h4>Expected behavior</h4>
Expected that i can on my trips and view details successfully without crash.
<h4>How to reproduce</h4>
<ol>
<li>Install the apps and open the app</li>
<li>click navigation bar select "My trips"</li>
<li>Create one trip by clicking "+" or if you have already trip list don't need to create.</

[2019-04-28 14:27] #621 closed

[2019-04-28 14:28] Swati4star commented on #635
I'll update it myself. This isnt an issue. It's just a version update.

[2019-04-28 16:55] ShivangiSingh17 commented on #635
@Swati4star, I already made the changes to the branch. Shall I create a PR, please. :)

[2019-04-29 11:08] cckole opened #639 "Adding more than one trip shows duplicated trips, and deleted trip seem not deleted. Still shows in the trip list"
### Description

In the "my trip" feature, I added my first trip and it was okay, but subsequent additional trip duplicates the already added ones in multiples.

### Another description

I'm reporting it together because it's almost the same.

When I removed my trip from the list of the added trip,it will show that my trip was removed but it still remains in my trip list.

### Expected behavior

I

[2019-04-29 12:05] cckole opened #640 "First trip added not showing on my friend list"
### Description

I added a friend to my trip and clicked on "my friend" to see if the friend was added. I got a message that "I haven't added any friend to trip". I added another trip and checked again. Now I saw both trips. Meaning that if only one trip is added, the app cannot fetch it.

### Expected behavior

I expected to see the first friend I added to my trip when I clicked on " my friend" t

[2019-04-29 12:17] jddeep commented on #636
@Swati4star i would work on this

[2019-04-29 13:19] jddeep commented on #630
@Swati4star I would like to work on this. Please confirm.

[2019-04-29 13:20] jddeep commented on #636
@Swati4star PR made. Please merge.

[2019-04-29 13:58] maaudrana commented on #636
@jddeep Good job.

[2019-04-29 16:39] cckole opened #643 "Removing a friend I added to my trip also deleted my trip"
### Description

When I added a friend to my trip list,and later removed him, my trip was deleted as well

### Expected behavior

I expected that only the friend I removed from the list should be deleted,not both the friend and my trip.

### Note
I started my recording after adding trips to make the video short. The steps to add trips is simple. Following the steps below would definitely get you t

[2019-04-29 17:35] darewealth opened #644 "App crashed when a click is initiated on Twitter #tags"
### Describe the bug.

The app crashed when I clicked on any #tag, on the Twitter city trends.

### Steps to reproduce.
* Launch the app.

* Clicked on any city.

* Scroll down and click on city trends

* Then, click on any # tag

### Expected Behaviour

I was expecting to see the information that is available under the tag that I selected.

### Screen recording
https://youtu.be/GYk_fvCxHN8

### D

[2019-04-30 01:29] cckole commented on #628
<sub>04-29 09:53:17.255 30142 30142 E AndroidRuntime: FATAL EXCEPTION: main
04-29 09:53:17.255 30142 30142 E AndroidRuntime: Process: io.github.project_travel_mate, PID: 30142
04-29 09:53:17.255 30142 30142 E AndroidRuntime: java.lang.RuntimeException: Unable to start activity ComponentInfo{io.github.project_travel_mate/io.github.project_travel_mate.destinations.description.RestaurantDetailsActivi

[2019-04-30 21:48] darewealth opened #645 "Bug: Timezone feature does not work"
### Describe the bug.

When I clicked on the selected timezone, it takes me to search timezone and when I input my country it didn't work.

### Steps to reproduce.

* Launch the app.

* Clicked on menu icon.

* Then, click on utilities

* Scroll down and click on the world clock

* Then select timezone

* And note the bug

### Expected Behaviour

I was expecting to be able to select timezone of my

[2019-04-30 21:59] darewealth opened #646 "App crashed when Ahmedabad or Delhi is clicked in weather forecast."
### Describe the bug.

The app crashed when I clicked on Ahmedabad or Delhi on the select city for a weather forecast.

### Steps to reproduce.
* Launch the app.

* Clicked on menu icon.

* Then, click on utilities

* And click on the weather forecast

* Then select Delhi or Ahmedabad

* And note the bug

### Expected Behaviour

I was expecting to see the weather forecast information on any select

[2019-05-01 05:16] cckole opened #647 "App crashed in the process of changing my password"
### Description

When I tried changing my password, the app crashed

### Expected behaviour

I expected that my password would be change when I clicked on change password after I input the necessary info

### How to reproduce

After login in to the app

- Click on the menu icon by the top left side

- Click on settings. You will find it at the bottom

- Fill the spaces and click on change password

[2019-05-01 07:35] saraji-ali opened #648 "( Bug found in Tavel-Mate version 5.5.0 ) In the Real time locator tab app is crash when i click on the 3 horizontal dots"
# Project Information

* Repository: https://github.com/project-travel-mate/Travel-Mate
* Project Name:  Travel-Mate

# Expected behavior

I was expecting that   when I click on the 3 horizontal dots there are show more option

# Actual behavior

open the application goto travel and open the Real Time Locator tab and then click on the 3 horizontal dots   the Tavel-Mate version 5.5.0  is crash

# H

[2019-05-01 07:52] facebook-786 opened #649 "( Bug found in Tavel-Mate version 5.5.0 ) the application is crash when I try to change the username"
# Project Information

* Repository: https://github.com/project-travel-mate/Travel-Mate
* Project Name:  Travel-Mate

# Expected behavior
I was expecting that when I try to change the username  the username should be changed easily

# Actual behavior

the application is crash when I try to change the username

# How to reproduce
1-[Download latest application](https://f-droid.org/packages/io.githu

[2019-05-01 14:43] ShivangiSingh17 commented on #645
@darewealth, that would be a version problem as you are even not able to access the droplist of the countries list. It is working for me in the app properly.

[2019-05-01 15:03] ShivangiSingh17 opened #650 "Scrolling is unavailable"
The scroll is not working for the world clock activity under ```Utilities```

### Steps to reproduce
Choose ```World clock``` from ```Utilities```and switch to landscape mode.

### Expected behaviour
The time zone selection list option should appear, allowing the scroll function.

### Actual behaviour
Only the clock appears on the screen.

### Would you like to work on the issue?
Yes
### Screensho

[2019-05-01 16:19] ShivangiSingh17 opened #651 "Error symbol cannot be seen properly"
In the ```Settings```, when the ```Done``` button is clicked without any input, the warning is shown but the two icons collide and not seen properly.
### Steps to reproduce
Choose ```Settings``` from the home screen and without any input  click on the ```Done``` option.

### Expected behaviour
Both symbols should be seen separately and clearly for the user convenience.

### Observed behaviour
The

[2019-05-02 19:27] ShivangiSingh17 commented on #651
@Swati4star @thedevelopersanjeev, Shall I work on this issue?

[2019-05-02 19:27] ShivangiSingh17 commented on #650
@Swati4star @thedevelopersanjeev, Shall I work on this issue?

[2019-05-02 19:30] thedevelopersanjeev commented on #651
sure @ShivangiSingh17

[2019-05-03 10:28] #619 closed

[2019-05-03 10:29] #635 closed

[2019-05-03 10:30] #633 closed

[2019-05-03 10:30] #636 closed

[2019-05-03 10:31] Swati4star commented on #650
Go ahead @ShivangiSingh17

[2019-05-03 10:32] Swati4star commented on #569
@ShivangiSingh17  Fix this first

[2019-05-03 10:32] Swati4star commented on #568
@ShivangiSingh17 You cant hold these many issues at a time!!

[2019-05-03 10:32] Swati4star commented on #650
@ShivangiSingh17 Please work on previously claimed issues first!

[2019-05-03 10:34] Swati4star commented on #630
Sure @jddeep

[2019-05-03 10:35] Swati4star commented on #644
Same as https://github.com/project-travel-mate/Travel-Mate/issues/619

[2019-05-03 10:35] #644 closed

[2019-05-03 10:36] jddeep commented on #650
Yes @Swati4star I can see that @ShivangiSingh17 has been holding #568 and #569 as well for a long time. But how was she allowed to solve further issues?

[2019-05-03 10:37] Swati4star commented on #651
@ShivangiSingh17 Complete previously claimed issues first. This is open for others to pick currently

[2019-05-03 10:38] Swati4star commented on #650
I didnt realize she was holding multiple issues. Now, I have noted it & already mentioned in the comment as you can see.

@jddeep If you want to claim any open issue, please comment on that

[2019-05-03 22:46] realrufans opened #652 "TravelMate v.5.5.0 says reset code has been sent to my unregistered email"
## Expected behavior
I was expecting it to toast an error message that an email isn't registered while trying to get a reset  code via email.

## Actual behavior
It says , ```A new code has been sent``` when the user clicks on **Didn't get the code ? resend**

## How to reproduce
- Launch travelMate v 5.5.0
- click on forget password?. Then, enter
an unregistered email, then click the submit butto

[2019-05-03 23:00] realrufans commented on #652
```Didn't get the code ? resend``` shouldn't show when an emails is invalid/ not registered

[2019-05-04 16:27] GauravDixit11 opened #653 "Background image quality on home screen is pixelated .Specially on portrait mode.Seems like landscape image used in portrait."
![Screenshot_20190504-204946](https://user-images.githubusercontent.com/22414838/57181934-64292780-6eb7-11e9-848c-fe3dd7a281c8.png)

Version : 5.4.0
Description :
Portrait :Background image quality on home screen is pixelated or tear down.

Steps to reproduce :
1.Load the app.
2.Observe the background image quality after loading on home screen.

Actual :Image quality is not sharpen as it should be

[2019-05-04 17:09] GauravDixit11 opened #654 "Landscape : Link Text "forgot password" and "create new account" are almost overlapped.Unable to click on link once in a time."
![Screenshot_20190504-204458](https://user-images.githubusercontent.com/22414838/57182429-72c60d80-6ebc-11e9-9f7b-9d4a2413d314.png)

Version : 5.4.0
Description :
Landscape : Link Text "forgot password" and "create new account" are almost overlapped.Unable to click on link once in a time.

Steps to reproduce :
1.Load the app in landscape mode.
2.Observe "forgot password" and "create new account" l

[2019-05-06 17:29] GauravDixit11 opened #656 "Landscape :Fluctuation on loading screen or home screen when app is being loaded in landscape mode as default."
Steps to reproduce :
1.Load the app in landscape mode.
2.On loading time , observe the screen activity.

Actual: Screen fluctuates on loading in landscape mode.
Expected : App should load without any fluctuation as it loads in the portrait mode.

[](![Screenshot_20190504-204458](https://user-images.githubusercontent.com/22414838/57242932-725f7b00-7052-11e9-9546-f0495e0a6c2b.png))

[2019-05-07 18:27] OlgaMorales commented on #627
hi @Swati4star when I am in  HOTEL BOOKING and type Delhi , I just can see one image which says: Searching Network , We're sorry we could not connect, I don't know Why I can't reproduce the issue, help me please. I think what is expected is that when I type the name of the City, something should be shown but I am not getting any result.

[2019-05-07 18:39] OlgaMorales commented on #627
![picturescreen](https://user-images.githubusercontent.com/48235441/57324470-78df0880-70cd-11e9-9eb2-220f86c912cb.png)

[2019-05-07 19:47] OlgaMorales commented on #651
hi @ShivangiSingh17  I was working on this issue and I solved it setting the error in the InputLayout instead the editText, I'll send my PR, please check it and tell me what do you think about it?

[2019-05-08 16:30] malieop commented on #645
Is anyone resolving this issue ??

[2019-05-09 16:02] #630 closed

[2019-05-09 16:03] Swati4star commented on #645
Do you want to? @malieop

[2019-05-09 16:05] Swati4star commented on #652
sure @gateway2rohan

[2019-05-09 16:10] #651 closed

[2019-05-09 16:40] malieop commented on #645
I can ... how do u want it ?
Like a list ? and the user can choose one timezone?

[2019-05-10 18:20] malieop commented on #645
@Swati4star I just can't get some of the flags right, because to get the timezones data I had to use the Java Timezone class and the method that search for the flag also needs to be updated to this cases where the Android API is lower... I will do the Pull Request like this, it works! Only don't show sone flags

[2019-05-12 18:39] malieop commented on #649
I will resolve this bug

[2019-05-12 23:13] cckole opened #660 "App crashed when I accessed the shopping feature and pressed the white background"
### App info
Travel mate v.5.5.0

## Descriptions

On the destination page, I clicked on a city and access the shopping feature, but the app crashed when I mistakenly press  the white background.

### Expected behavior
My expectation was to use the page freely without the fear of the app crashing whenever I mistakenly press  or touch the white background.

### Steps to reproduce

After login into

[2019-05-14 09:14] Swati4star commented on #649
Sure. Pleae create a PR for the fix @malieop 👍

[2019-05-14 09:15] #649 closed

[2019-05-14 09:15] #645 closed

[2019-05-15 09:39] jddeep opened #661 "Signup snackbar error for a new user."
**Description**
Signup snackbar error for a new user.
![Screenshot_20190515-150151](https://user-images.githubusercontent.com/43133646/57765751-aeb26b80-7723-11e9-9b74-ebab5d957e81.png)

The snack bar has some meaningless message shown when the user clicks on sign up.

**Steps to reproduce:**
The user fills up the details, clicks on sign up and a misleading snack bar pops up.

I would like to work

[2019-05-15 09:42] jddeep commented on #661
@Swati4star Please provide difficulty tags.

[2019-05-16 18:16] darewealth opened #662 "App keeps popping up invalid email when I put in my email to reset my password."
### Describe the bug.

I forgot the password I used for the application and I used the function down  below the app "Forget password feature." When I  checked on it, a page pops up asking for my email ID.  I put in my email but the app says my email is invalid. Invalid email keeps popping up. Whereas I am sure that it is the email that I used.

### Steps to reproduce.
* Launch the app.

* Clicked

[2019-05-16 18:24] cckole opened #663 "Login in with correct credentials is showing invalid username or password"
### App info
- Travel mate V.5.5.0
- [GITHUB LINL](https://github.com/project-travel-mate/Travel-Mate/issues/663_
### Description
I was having a full memory, so I had to uninstall some apps on my device for a free space and Travel mate happens to be one of them. Later, I installed it and tried to log in but, upon using the right username and password, I couldnt log in.

### Expected behaviour
Sinc

[2019-05-17 07:29] darewealth opened #664 "The currency converter does not work."
### Describe the bug.

I tried to convert currency using the currency converter but it kept loading without any results.

### Steps to reproduce.
* Launch the app.

* Click on the menu and go to utilities

* Then, click on currency converter

*  And convert any currency

* And note the bug

### Expected Behaviour

I expected that I should be able to convert from one currency to another

### Screen

[2019-05-17 08:10] darewealth opened #665 "App crashed when I use the notification and mark all notification."
### Describe the bug.

The app crashed when I  tried to use the notification and then mark all notification as read.  It happens most time when there is not any message on the notification

### Steps to reproduce.
* Launch the app.

* Click on the notification icon

* And click on the mark all icon at the top by the right

*  It will pop up "Do you want to mark all notification as read? "

* Then

[2019-05-17 10:04] XAMIR555 opened #666 "(BUG) [ Travel Mate ] I click on the Google play store button and the application opens on F-Droid"
#### Project Information
* Repository-----------:[Here](https://github.com/project-travel-mate/Travel-Mate)
* Project Name---------: Travel Mate
* Publisher------------:  Swati Garg
* My GitHub account----:  [Here](https://github.com/XAMIR555)

#### Expected behavior

The google play store should open when I click on the google play store button and the travel-mate application should also appear o

[2019-05-17 10:18] XAMIR555 opened #667 "(BUG) [ Travel Mate version 5.5.0 ] New account is not registering"
#### Project Information
* Repository-----------:[Here](https://github.com/project-travel-mate/Travel-Mate)
* Project Name---------: Travel Mate
* Publisher------------:  Swati Garg
* My GitHub account----:  [Here](https://github.com/XAMIR555)

#### Expected behavior
When I click on the signup button after entering all of my information and after clicking on I signup, my account should be register

[2019-05-19 07:17] Swati4star commented on #661
@jddeep you can work on this

[2019-05-19 11:42] darewealth opened #669 "Bug: Analog time doesn't correspond with digital time"
### Describe the bug.

The analog time doesn't correspond with digital time in some countries. E..g America /Anchorage

### Steps to reproduce.
* Launch the app.

* Click on the menu and go to utilities

* Click on word clock

*  Then select  country to "America/Anchorage"

* And note the bug

### Expected behavior

I expected that the analog and digital time should be the same.

### Screen record

[2019-05-21 03:19] asoback commented on #667
I'm getting the same issue after downloading from the play store.

[2019-05-22 05:32] ShivangiSingh17 opened #672 "Scrolling unavailable in the login screen"
### Description
The login screen does not allow the user to scroll down, thereby restricting the screen contents from being viewed like button is not visible as there is no scrolling of the page.
### Steps to reproduce:
The user switches to use the app in landscape mode.

### Would you like to work on this issue?
Yes

### Screenshot
![ezgif com-video-to-gif](https://user-images.githubusercontent.c

[2019-05-22 05:38] ShivangiSingh17 commented on #672
@Swati4star @thedevelopersanjeev I would like to work on this.

[2019-05-22 05:40] Group4-GUSTO commented on #672
Cannot login or sign up its keeps crashing saying <!DOCTYPE html> <html>..

[2019-05-22 05:44] ShivangiSingh17 commented on #672
@Group4-GUSTO as suggested by you, that is not what I am dealing with. That is already an issue and yet to be solved: https://github.com/project-travel-mate/Travel-Mate/issues/661

[2019-05-22 05:53] Group4-GUSTO commented on #672
Sry but can you please tell me if you can login? Because I cant login with
account that is already created

On Wed, May 22, 2019 at 12:14 PM Shivangi Singh <notifications@github.com>
wrote:

[2019-05-22 05:55] prithvish-doshi-17 commented on #669
I would like to work on the issue. Please assign it to me

[2019-05-22 05:56] Group4-GUSTO commented on #667
Can you login though?

[2019-05-22 06:02] ShivangiSingh17 opened #673 "Incorrect message displayed"
### Description
When the user clicks on the ```Forgot password``` then while inputting credentials the application displays misguiding message when the user clicks on submit button.
Initially, it functions well but in the end, it displays incorrect message.
***##For a registered user***

### Steps to reproduce
Click on ```Forgot Password? Click here to reset.```. Enter your E-mail and click on ```

[2019-05-22 06:02] ShivangiSingh17 commented on #673
@Swati4star please label the issue.

[2019-05-22 06:07] ShivangiSingh17 commented on #672
Today I by mistake I uninstalled my app also and now even I am also not
able to log in. I asked mentors also but no reply yet. I even contacted the
person solving issue #661 but he is also not able to follow the same.
It is better to ask on the community slack channel.
Warm Regards,
Shivangi Singh
GitHub <https://github.com/ShivangiSingh17> | Blog
<https://aeonianchapters.wordpress.com/> | amFoss

[2019-05-22 06:19] Group4-GUSTO commented on #673
I think its probably the server crashes and send back the wrong response that contains html  -> https://stackoverflow.com/questions/42096207/value-doctype-of-type-java-lang-string-can-not-be-converted-to-jsonobject

[2019-05-22 06:34] Group4-GUSTO commented on #672
Noted and thank you I hope the issue gets solved sooner since I use the app
real time locator to travel

On Wed, May 22, 2019 at 12:37 PM Shivangi Singh <notifications@github.com>
wrote:

[2019-05-22 15:17] Group4-GUSTO commented on #667
Can someone plz fix this issue? I have tried but server side is too hard for me

[2019-05-23 02:40] Group4-GUSTO commented on #661
Have you been able to fix this? Please do so I’m facing difficulty without using this app during my travel here before going back in a the after tmr

[2019-05-23 18:33] ShivangiSingh17 opened #676 "Main Screen activity repeats itself when opened after long time"
### Description
The main screen activity repeats itself when the application is opened after a long time and once refreshed retains the original (correct) activity.

### Steps to reproduce
Open the application after a long time and scroll down the main screen.

### Would you like to work on this issue?
Yes

### Screenshots
![ezgif com-video-to-gif(2)](https://user-images.githubusercontent.com/4382

[2019-05-23 18:35] ShivangiSingh17 commented on #676
@Swati4star @prabhakar267 @thedevelopersanjeev  I would like to work on this issue. Shall I proceed?

[2019-05-24 00:30] Group4-GUSTO commented on #676
How is it possible that are you able to login and use the app?

[2019-05-24 02:38] ShivangiSingh17 commented on #676
I'm able to do so through another device in which I didn't signout through
the application.
Also I suggest for you that once you have the code base you can directly
use the emulator in android studio making sure changes in small
functinalities.

On Fri, May 24, 2019, 6:00 AM Cary <notifications@github.com wrote:

[2019-05-25 05:05] #650 closed

[2019-05-25 05:08] #672 closed

[2019-05-25 05:10] Swati4star commented on #564
@agarwalprashasti any updates here?

[2019-05-25 05:10] Swati4star commented on #566
@CoderVishalSehgal Are you working on this?

[2019-05-25 05:11] Swati4star commented on #568
@ShivangiSingh17 Send PR for this first & then only proceed with others.

[2019-05-25 05:12] Swati4star commented on #594
@OlgaMorales If you want you can work on this on your own. There have been no updates from @OlgaMorales

[2019-05-25 05:13] Swati4star commented on #667
There are some server issues. We are working on that.

[2019-05-25 05:16] Swati4star commented on #676
No @ShivangiSingh17 You may not start working on this issue. Send PR for previously claimed issues first.

Let's follow basic open source principles. If you have claimed a issue, finish that up first or comment that you are not going forward with that.

[2019-05-26 17:39] ShivangiSingh17 commented on #568
@Swati4star till now its long I am working on this issue and found that this issue is due to having problem from the server side while calling the api for the Panjim city.

I am no more working on this issue being it a server error.

[2019-05-26 17:39] ShivangiSingh17 commented on #568
I would like to proceed with my other claimed issues.

[2019-05-27 17:28] ShivangiSingh17 opened #678 "The activity multiplies in itself on refreshing"
### Description
On refreshing the page the activity multiplies itself as per the RefreshView happen.

### Steps to reproduce
Go to ```My Trips``` refresh your page.

### Screenshots
![ezgif com-video-to-gif(3)](https://user-images.githubusercontent.com/43827236/58433218-bbe03a80-80d3-11e9-83d8-f8ac83e93fbe.gif)

### Would you like to work on this issue?
Yes

[2019-05-27 17:28] ShivangiSingh17 opened #679 "No scrolling for Settings"
###  Description
There is no scrolling available for the ```Settings``` when the user switches to landscape mode.

### Would you like to work on this issue?
Yes

[2019-05-28 18:24] ShivangiSingh17 opened #681 "The calendar allows to choose past dates also"
### Description
The calendar under ```My Trips``` allows the user to choose the past dates also.

### Steps to reproduce:
```My Trips```>Add new trip

### What the behaviour should be?
The application should not allow the user to choose past dates as the journey cannot be planned for past dates on a practical basis but here in the application, one can choose the past dates also for a trip.

### Wo

[2019-05-28 18:25] ShivangiSingh17 commented on #681
@Swati4star can you please label this issue.

[2019-05-28 22:22] cckole opened #682 "Enhancing Travel mate by showing hotel price range, getting acquainted with travellers, and creating personal and travelers gallery"
### Components
Travel mate is an open source application available for those that are interested in travel. It is a very nice app that provides users with various features to select the actual destination by organizing trips and making appropriate bookings. The app has many features. However, I will mention a few.

- Destination: It shows the most popular cities. User can also search for other cit

[2019-05-29 21:19] blongho commented on #664
I would like to fix this

[2019-06-06 12:43] valericaplesu commented on #665
I'm fixing it

[2019-06-08 11:06] SafalShrestha369 commented on #667
hello guys
how to login first, I m very beginner of android
so please help me, it asking me email id and password. What might be password and email id or something else

[2019-06-09 19:28] Abhishekds94 commented on #653
@GauravDixit11 @Swati4star Instead of using it as an ImageView, use it as a background in the parent tag.
Eg - android:background="@drawable/your_image_name"

Let me know if this doesn't work.

[2019-06-10 04:30] VenomsByte opened #686 "java.lang.AbstractMethodError"
during build it shows

at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	at org.gradle.internal.concurrent.ThreadFactoryImpl$ManagedThreadRunnable.run(ThreadFactoryImpl.java:55)
	at java.lang.Thread.run

[2019-06-11 16:01] gifmackenzie opened #687 "Reword README doc"
Restructure the language in README.md file, Changes to "How Travel Mate Works" section for clearer readability and removing unnecessary words.

[2019-06-11 16:52] gifmackenzie opened #689 "Broken link in CONTRIBUTING.md file"
Under "Pull Requests Process", the  "TRAVIS" link is broken (opens up "https://github.com/project-travel-mate/Travel-Mate/blob/master/Travis-ci.org" rather than the intended link : "Travis-ci.org"

[2019-06-12 17:31] #679 closed

[2019-06-25 02:44] charlygg commented on #689
Hi, Is this issue open to contribute?

[2019-07-07 04:42] ShivangiSingh17 opened #690 "The currency converter does not work"
### Description
The feature "currency converter" available under the ```Utilities``` section does not.

### Steps to reproduce
Utilities>Currency Converter
### What the current behaviour is?
The converter does not convert the value provided in the desired currency. Eg. If we convert Rs.1 to bitcoin it is showing value to be 00001375, 0.000001462 etc. and the actual value is much higher to about 76

[2019-07-07 08:43] darewealth opened #691 "App crashed when i select and crop image for profile."
Describe the bug.
When I tried to select an image for my profile I clicked on the upload and the complete action. I selected the image I want to use and click on the crop function immediately I clicked on crop the app crashed.

### Screen recording.
https://youtu.be/cwIxaIMT6_8

### Devices and Versions)

* Device: [Gionee, X1]

* Version [7.0]

* App version [5.5.0]

[2019-07-18 15:14] msecilmis commented on #461
@Swati4star i can pick this up also??

[2019-07-20 13:43] #665 closed

[2019-07-20 13:46] Swati4star commented on #461
As @nitinnatural hasn't started working on it, you can start @msecilmis

[2019-07-20 14:06] #687 closed

[2019-07-20 14:06] Swati4star commented on #686
@VenomsByte The build is working fine. There is some local issue, and these logs are not clear enough to identify the issue.

[2019-07-20 14:07] #686 closed

[2019-07-20 14:08] Swati4star commented on #667
Server issues have been fixed now. You should be able to signup.

[2019-07-20 14:08] #667 closed

[2019-07-20 14:12] Swati4star commented on #665
Great @valericaplesu  👍

[2019-07-20 14:24] Swati4star commented on #678
@ShivangiSingh17 Are you willing to work on it now?

[2019-07-20 15:32] ShivangiSingh17 commented on #678
I would like to continue in mere future. :)

On Sat, Jul 20, 2019, 7:54 PM Swati Garg <notifications@github.com wrote:

[2019-07-23 10:09] msecilmis commented on #461
Ok, great. Can you assign the issue to me?

[2019-07-24 10:58] #681 closed

[2019-07-24 10:59] Swati4star commented on #461
Sure, you can start working on it @msecilmis 👍

[2019-07-26 02:02] nasreekar opened #694 "Login Screen cropped"
Description
I tried to clone the repo and installed the app on both emulator and a real device and I found the login screen cropped

What the current behavior is?
Login Screen is cropped to half

What behavior should?
Login screen should be completely filling the mobile screen like the one in the play store.

Devices Used:
Galaxy Note 8 - Android 9, API 28
Pixel 2 XL API 28
Nexus 6 API 27

[![Scre

[2019-07-26 12:34] valericaplesu commented on #660
I cannot reproduce it using the latest code. @cckole can you please give it a try? Thanks!

[2019-07-26 12:42] valericaplesu commented on #643
I cannot reproduce it on the latest code. @cckole can you give it a try? Thanks!

[2019-07-26 13:13] valericaplesu commented on #694
pull request here: https://github.com/project-travel-mate/Travel-Mate/pull/695

[2019-08-04 16:03] Swati4star commented on #694
Great @valericaplesu 👍

[2019-08-04 16:03] #694 closed

[2019-08-04 16:04] Swati4star commented on #660
@cckole Any response here?

[2019-08-04 16:08] Swati4star commented on #689
yes @charlygg
You can create a PR for this

[2019-08-04 16:10] Swati4star commented on #673
The issue has been fixed now. It indeed was because of server.

[2019-08-04 16:10] #673 closed

[2019-08-10 15:32] #689 closed

[2019-08-10 15:35] Swati4star commented on #461
any updates @msecilmis ??

[2019-08-10 17:20] msecilmis commented on #461
Yeah, im almost done. Right now i’m on vacation. Next week i’ll wrap it up

[2019-08-12 13:00] sukhbeer commented on #691
@Swati4star Can I work on this?

[2019-08-12 16:45] Swati4star commented on #691
Sure @sukhbeer 👍

[2019-08-14 14:56] Swati4star commented on #643
@cckole Any response?

[2019-08-15 10:00] nasreekar commented on #654
Can I take this up?

[2019-08-18 06:50] Swati4star commented on #654
Sure @nasreekar

[2019-08-18 10:52] vaibhavsharma316 opened #697 "toast message is showing when navigating back to login"
![Screenshot_1566124474](https://user-images.githubusercontent.com/17318663/63223378-099ba900-c1d2-11e9-89f6-7def6a0d0fa5.png)

**Current Behaviour**

Snackbar is showing a message "your password has been reset. Login with the new password" when moving back to login screen from forgot password screen. (I have not done password reset but still it shows this message).

**Steps to reproduce**

1. Cli

[2019-08-18 11:09] vaibhavsharma316 commented on #697
@Swati4star  - shall i start working on this ?

[2019-08-19 05:41] Swati4star commented on #697
sure @vaibhavsharma316
The playstore build is not updated.

[2019-08-19 06:34] prabhakar267 opened #698 "Discuss contract between APIs and Android client for invalid external services response"
We make a call to number of external services for currency conversion, weather, etc. If we get no response / invalid response / error from those external services, the error message from services is propogated to Android app.
We can come up with a uniform resposne which is descriptive and is to be sent in case any external service fails.

[2019-08-20 09:05] lewisgarton commented on #662
Hi team, I would like to contribute to this project!
Can I work on this one?

Thanks.

[2019-08-20 15:49] sukhbeer opened #701 "Kotlin Version Problem"
Kotlin Has some problem that creates a warning in code.
![Screenshot (27)](https://user-images.githubusercontent.com/25095372/63362815-11a14780-c390-11e9-9952-0060088feafd.png)

[2019-08-21 09:58] Swati4star commented on #701
These are just warnings. You can submit a fix to update kotlin version.

[2019-08-22 01:39] nasreekar opened #702 "Navigate to Currency converter activity on pressing back button from error (animation) screen"
If there is an error with the converter, it is showing an animation but then clicking on the back button is dismissing the whole activity and navigating the user to utilities fragment. It would be great if the user is navigated to the currency converter activity instead of utilities so that the user doesn't have to do it again from the beginning.

[2019-08-22 14:05] sukhbeer commented on #691
@Swati4star I tried a different method for that issue but I didn't find anything wrong with that everything works fine I also test application in android version 7.0 there is no issue. if logcat detailed are provided for this it will be more clear.

Instead of this, I found that when we select or set image in profile and reopen application again user image not appear in navigation drawer and profi

[2019-08-22 22:28] AminullahTajMuhammad opened #703 "Future trip date not selected of current month."
## Current Behaviour

When I selected future date of this month like this.

![after_estimote](https://user-images.githubusercontent.com/43150539/63638182-3f430500-c69e-11e9-8da2-cc1262773942.png)

after clicking ok button. It gives error massage on snakeBar like this.

![snackbar](https://user-images.githubusercontent.com/43150539/63638169-19b5fb80-c69e-11e9-9195-5f5ace18aa5e.png)

But when I sele

[2019-08-24 05:17] Swati4star commented on #691
@sukhbeer Then, what did changes you open up these Pull requests with?

regarding the error you posted, is the application crashing here? or you are just seeing this error?

[2019-08-24 05:19] Swati4star commented on #703
@AminullahTajMuhammad  What is the expected behaviour here?
Please fill up the issue template. It gives clearer information.

[2019-08-24 13:46] AminullahTajMuhammad commented on #703
issue updated

[2019-08-24 20:51] AminullahTajMuhammad commented on #703
@Swati4star can I do this?

[2019-08-25 04:24] Swati4star commented on #703
Yes @AminullahTajMuhammad 👍

[2019-08-25 16:39] AminullahTajMuhammad opened #705 "Trip Details Screen ui seems not good"
Trip Screen UI not looking good

![trip_details_ui](https://user-images.githubusercontent.com/43150539/63652998-7a1d6980-c780-11e9-98f9-44ef7667224a.png)

[2019-08-25 16:40] Swati4star commented on #705
Do you have suggestions for a new UI? @AminullahTajMuhammad
If yes, please share those too.

[2019-08-25 19:28] AminullahTajMuhammad commented on #705
can I working on this UI?

[2019-08-25 19:29] AminullahTajMuhammad commented on #705
@Swati4star Can I working on this UI?

[2019-08-26 05:57] Swati4star commented on #705
@AminullahTajMuhammad  Sure. But, before creating a PR, share the UI mockups here.

[2019-08-29 14:54] rajput2122 commented on #705
Is this issue closed?

[2019-08-30 07:35] AminullahTajMuhammad commented on #705
no i am working on it.

[2019-08-30 08:19] #628 closed

[2019-08-31 20:19] ameyand98 commented on #664
Hey can I take up this issue?

[2019-08-31 23:33] AminullahTajMuhammad commented on #705
@Swati4star I think the trip detail screen looks like this.

![untitled - Trip Detail Screen@2x](https://user-images.githubusercontent.com/43150539/64070043-5327d180-cc71-11e9-8c90-137f70bccd0c.png)

[2019-09-01 06:37] hayneek commented on #647
Can I work on this? Also, #663 seems like it's related to this issue.

[2019-09-02 06:26] nasreekar commented on #654
@Swati4star  Update: sorry for the delay. I was busy with some office work and also traveling. Will try to complete it asap.

[2019-09-03 11:45] Swati4star commented on #705
Some suggestions:
- combine Enter friend name & Add friend in single row
- Replace "Add friend" button with simply an icon
- Trip type section can be improved. No need to show such a big "Public". I think this can also be depicted using just icons. globe for public & lock for private trips.

[2019-09-03 11:45] Swati4star commented on #647
Sure @hayneek

[2019-09-03 11:48] Swati4star commented on #664
Sure @ameyand98

[2019-09-04 07:48] usmanrafi commented on #596
Hi @Swati4star

If this is still open, I'd like to work on it.

[2019-09-04 14:15] prabhakar267 commented on #664
@Swati4star @ameyand98 @darewealth Currency converter issue has been fixed in https://github.com/project-travel-mate/server/commit/bb6fa001851b564cc91d08b67a19dc41da8f93c9
Please reopen this issue if there is any other issue

[2019-09-04 14:15] #664 closed

[2019-09-04 14:46] Swati4star commented on #596
Yes, it's open. You can work on it @usmanrafi

[2019-09-05 02:23] ameyand98 commented on #663
Hello can I work on this issue? Please assign it to me

[2019-09-05 08:42] Swati4star commented on #663
Can you please check if this issue is still valid? I think, this is resolved. @ameyand98

[2019-09-05 08:43] #461 closed

[2019-09-05 13:37] ameyand98 commented on #663
Sure

On Thu, Sep 5, 2019, 03:42 Swati Garg <notifications@github.com> wrote:

[2019-09-05 15:24] usmanrafi commented on #596
@Swati4star I've made a pull request regarding this, please review it.

[2019-09-06 03:52] sr1990 commented on #662
Can reproduce this issue for a registered user.
I get a 400 bad request response as follows:
Response{protocol=http/1.1, code=400, message=Bad Request, url=https://project-travel-mate.herokuapp.com/api/forgot-password-email-code/<email>}
The res in onResponse() has "Unable to send a forgot password email to user".
Should 400 errorcode be handled in this case to show the above response or
should th

[2019-09-06 03:54] Swati4star commented on #662
@prabhakar267 can you see why are we getting this error message for valid credentials?

@sr1990 yes please, let's show the "res" value message in our app. That'll be helpful.

[2019-09-08 16:21] #596 closed

[2019-09-08 16:22] #703 closed

[2019-09-14 09:23] Swati4star commented on #705
Sure, you can create a PR for this UI 👍
@AminullahTajMuhammad

[2019-09-15 11:28] saechimdaeki opened #709 "can i join this project? (UI)"

[2019-09-15 16:09] #709 closed

[2019-09-17 04:46] Swati4star commented on #709
@saechimdaeki This is an open source project!
You are welcome to join :)

[2019-09-26 18:01] light-kira commented on #701
Is the kotlin version updated ?

[2019-09-27 12:09] sukhbeer commented on #691
@Swati4star sorry late reply I close the pull request few days ago. I don't see any error with default select image code.
regarding the error app not crashing here. This error come when user select or set image in profile and re-open application again user image is disappear as I earlier mentioned and I also share video

https://youtu.be/0MlIqhsre4o

[2019-09-27 19:33] f71uday commented on #616
I checked this issue  this is working fine
@Swati4star I think this issue needs to be closed

[2019-09-29 19:50] mih475 commented on #557
I am trying to run the tests by saying ./gradlew checkstyle. But its not working. It's saying -
![travelMate](https://user-images.githubusercontent.com/22691383/65838414-6a85c900-e2c8-11e9-8a87-de0eb17ae7cb.JPG)

[2019-10-01 14:24] prabhakar267 commented on #666
Seems to be fixed now.
Closing this issue.

[2019-10-01 14:24] #666 closed

[2019-10-01 14:31] prabhakar267 opened #711 "Use vector drawables instead of PNGs"
Remove the use of PNGs in code and replace them with the corresponding vector images.
You can use a online tool for conversion like [this one](tsendeyo.com/onlineconverter/en/image-png/xml).

[2019-10-01 14:31] prabhakar267 commented on #414
Trackign in #711

[2019-10-01 14:31] #414 closed

[2019-10-01 14:39] prabhakar267 commented on #697
@vaibhavsharma316 any updates?

[2019-10-01 14:45] #701 closed

[2019-10-01 14:46] prabhakar267 commented on #632
@jm200dp Sure, go ahead.

[2019-10-01 14:56] prabhakar267 commented on #616
Closing this since it seems fixed!
@jtj9817 Feel free to reopen if it isn't fixed

[2019-10-01 14:56] #616 closed

[2019-10-01 14:57] prabhakar267 commented on #643
Closing this since it seems fixed!
@cckole Feel free to reopen if it isn't fixed

[2019-10-01 14:57] #643 closed

[2019-10-01 15:22] prabhakar267 commented on #660
Closing this since it seems fixed!
@cckole Feel free to reopen if it isn't fixed

[2019-10-01 15:22] #660 closed

[2019-10-01 15:23] #662 closed

[2019-10-01 17:00] prabhakar267 commented on #652
Closing this since it seems fixed!
@realrufans Feel free to reopen if it isn't fixed

[2019-10-01 17:00] #652 closed

[2019-10-01 17:12] sankalpchauhan-me commented on #711
I would like to take up this issue

[2019-10-01 21:08] sankalpchauhan-me commented on #711
Pull Request #713

[2019-10-02 08:28] sankalpchauhan-me commented on #702
I would like to work on this issue, Thanks

[2019-10-02 08:50] Swati4star commented on #702
sure @sankalpchauhan-me

[2019-10-02 08:53] #632 closed

[2019-10-02 10:06] #702 closed

[2019-10-02 10:12] Swati4star commented on #705
@AminullahTajMuhammad Updates?

[2019-10-02 10:16] #711 closed

[2019-10-02 10:46] AminullahTajMuhammad commented on #705
@Swati4star I am working on it

[2019-10-02 19:00] prabhakar267 commented on #691
@sukhbeer This seems to be a different issue than the one described here, please open a new issue. Closing this one since this seems to be fixed.
@darewealth Feel free to reopen if it isn't fixed

[2019-10-02 19:00] #691 closed

[2019-10-02 19:01] prabhakar267 commented on #654
@nasreekar Any update?

[2019-10-02 19:02] prabhakar267 commented on #568
Closing this since it seems fixed!
@ShivangiSingh17 Feel free to reopen if it isn't fixed

[2019-10-02 19:02] #568 closed

[2019-10-02 19:04] prabhakar267 commented on #622
Closing this since it seems fixed!
@XAMIR555 Feel free to reopen if it isn't fixed

[2019-10-02 19:04] #622 closed

[2019-10-02 19:05] prabhakar267 commented on #447
As discussed in #105 we do not plan on adding social login feature.
Closing this.

[2019-10-02 19:05] #447 closed

[2019-10-02 19:05] prabhakar267 commented on #648
Closing this since it seems fixed!
@saraji-ali  Feel free to reopen if it isn't fixed

[2019-10-02 19:05] #648 closed

[2019-10-02 19:08] prabhakar267 commented on #627
Closing this since it seems fixed!
@XAMIR555  Feel free to reopen if it isn't fixed

[2019-10-02 19:08] #627 closed

[2019-10-02 19:09] prabhakar267 commented on #647
Closing this since it seems fixed!
@cckole Feel free to reopen if it isn't fixed

[2019-10-02 19:09] #647 closed

[2019-10-02 19:12] prabhakar267 commented on #564
@NicaNicaNicaNica
Cities by default are sorted on the basis of **current interest** and if we want to add another sorting method, it would require for us to make changes to our **interest** calculations. Currently, we sort them based on the number of impressions and number of people who have had a trip to that city.
Regardless, you can always search for city by name.
Thanks for suggestion though.

[2019-10-02 19:12] #564 closed

[2019-10-02 19:15] prabhakar267 commented on #646
Closing this since it seems fixed!
@darewealth  Feel free to reopen if it isn't fixed

[2019-10-02 19:15] #646 closed

[2019-10-02 19:16] prabhakar267 commented on #663
Closing this since it seems fixed!
@cckole Feel free to reopen if it isn't fixed

[2019-10-02 19:16] #663 closed

[2019-10-02 19:19] prabhakar267 commented on #661
Closing this since it seems fixed!
@jddeep  Feel free to reopen if it isn't fixed

[2019-10-02 19:19] #661 closed

[2019-10-02 20:33] HeinKhantZaw opened #717 "Time shown in world clock is incorrect"
![Screenshot_2019-10-03-02-54-31-802_io github project_travel_mate](https://user-images.githubusercontent.com/40730345/66079301-cb8ff400-e589-11e9-8eda-3babdb089168.png)
In the world clock setting of the app, the time shown according to the time zone are incorrect. Not only for Yangon, I found that there are several time zones that are showing incorrect time.
![Screenshot_2019-10-03-02-54-52-698_i

[2019-10-03 04:55] prabhakar267 commented on #717
Same as #669

[2019-10-03 04:55] #717 closed

[2019-10-03 06:01] HeinKhantZaw commented on #669
@prithvish-doshi-17 Is this issue solved?
If not, I wanna work on this issue.

[2019-10-03 06:14] prabhakar267 commented on #669
@HeinKhantZaw Go ahead!

[2019-10-03 11:16] shubhamdamani opened #719 "Unable to add a "my trip""
showing "integer out of range\n" in snackbar

[2019-10-03 12:27] prabhakar267 commented on #719
@shubhamdamani Can you describe the problem a little more?

[2019-10-03 12:29] prabhakar267 commented on #148
@Swati4star @santoshhiremani @aayushinigam
One possible solution could be storing the checklist along with the user ID and fetching only the items with current user's user ID.

[2019-10-03 12:33] shubhamdamani commented on #719
![WhatsApp Image 2019-10-03 at 18 01 52](https://user-images.githubusercontent.com/43433565/66126883-151f2400-e608-11e9-9833-40850428774a.jpeg)
While adding a trip to my trip, this error is getting popped-up!

[2019-10-03 16:19] Swati4star commented on #719
@shubhamdamani Do you want to work on this issue?

[2019-10-03 16:52] shubhamdamani commented on #719
yes, i want to give a try

[2019-10-03 19:34] aman0408 commented on #719
I am giving it a try too.

[2019-10-03 20:07] aman0408 commented on #719
The issue is with the start date being sent. Is the requirement of the API a timestamp? I tried sending "1" instead of the actual timestamp and it got added.

[2019-10-03 20:18] aman0408 commented on #705
Can I also give it a try?

[2019-10-03 20:51] prabhakar267 commented on #719
@aman0408 Can you raise a PR for the fix?

[2019-10-04 02:13] aman0408 commented on #719
Haven't fixed it yet. I tried sending a hardcoded value for which it worked. For an actual timestamp, the backend server is sending "integer out of range". So I need to know what exactly does the server require

[2019-10-04 04:02] #594 closed

[2019-10-04 04:06] prabhakar267 commented on #719
@aman0408 Can you send me the exact timestamp you're sending when it gives `integer out of range` error and also one when it doesn't

[2019-10-04 10:02] aman0408 commented on #719
"61528617000" gives the error. Sending "1" does not.

[2019-10-04 19:16] aman0408 commented on #719
You probably need to update the database to accept bigInteger. There's nothing wrong from the android side.

[2019-10-04 19:17] aman0408 commented on #678
Can I work on this issue?

[2019-10-05 05:47] RMVIVEK55 commented on #678
I when  do you refresh data list and also list  clear (newly adding data clear the list)

[2019-10-05 06:34] RMVIVEK55 commented on #697
Can you return bool flag value from user click the submit button

[2019-10-05 06:37] RMVIVEK55 commented on #697
if the use the use click the submit button set true and not click or back press set value false.
and login openLogin check the bool value if true show toast message other dont toasr

[2019-10-05 06:53] prabhakar267 commented on #697
@RMVIVEK55 can raise a PR for the fix

[2019-10-05 07:20] prabhakar267 commented on #719
@aman0408 I checked the server code, `61528617000` is failing because this is Epoch milliseconds, whereas the server expectes it to be Epoch seconds.
@Swati4star can confirm if the milliseconds to seconds conversion needs to be added to server code or the Android code

[2019-10-05 07:33] aman0408 commented on #719
Okay. I'll do the needful changes if required.

[2019-10-05 11:33] #653 closed

[2019-10-05 11:43] Swati4star commented on #719
yes @aman0408
Do the changes in android code to send time as Epoch seconds. Thank you!

[2019-10-05 11:44] Swati4star commented on #678
sure @aman0408

[2019-10-05 14:26] aman0408 commented on #719
The problem was not with seconds or milliseconds. It was because of using a deprecated Date class constructor. I have fixed it.

[2019-10-05 14:40] aman0408 commented on #678
I am unable to reproduce the error. I think it has been fixed already.

[2019-10-05 14:53] #719 closed

[2019-10-05 15:59] aman0408 commented on #669
Can I also work on this?

[2019-10-06 05:44] Swati4star commented on #719
@aman0408 Great finding :)
If you see the use of these deprated classes at some other place also, feel free to create a PR for that too!

[2019-10-06 05:45] Swati4star commented on #678
I'll close this issue then :)

[2019-10-06 05:45] #678 closed

[2019-10-06 08:22] aman0408 commented on #625
@Swati4star this is similar to #678 which you closed and again I'm unable to reproduce this. Someone else please comfirm if it really exists

[2019-10-06 08:24] aman0408 commented on #719
Sure, I will do that!

[2019-10-06 08:55] prabhakar267 commented on #625
Closing this. @XAMIR555 please reopen if issue is not fixed

[2019-10-06 08:55] #625 closed

[2019-10-06 10:25] ambika1101 opened #729 "Fun facts for jaipur and delhi card throws null pointer exception"

[2019-10-06 12:37] ambika1101 opened #730 "Bug:Delhi weather forecast causes app crash"

[2019-10-06 12:41] prabhakar267 commented on #640
Closing this since it seems fixed!
@cckole Feel free to reopen if it isn't fixed

[2019-10-06 12:41] #640 closed

[2019-10-06 15:02] marcoebbinghaus commented on #729
I'd like to work on this.

[2019-10-06 15:54] vincent-paing commented on #626
I think this can be fixed with `ConstraintLayout`, let me try this one

[2019-10-06 16:09] aman0408 commented on #730
This is not only for Delhi. It crashes for multiple cities.

[2019-10-06 16:18] prabhakar267 commented on #730
API seems to be giving correct output.
@aman0408 Can you look into the reason?

[2019-10-06 16:21] aman0408 commented on #730
Yes I'm looking into it. API is giving the correct response. The drawable is null. I'm working on it.

[2019-10-06 16:38] aman0408 commented on #730
The issues is because of missing icons drawable xml in the app. There is only "wi_day_rain" present. No other icon is present.

[2019-10-06 17:00] prabhakar267 commented on #730
Recently a lot of files were deleted but they were supposed to be unused resources, can you verify if the files needed for weather were present in any of the following PRs?
https://github.com/project-travel-mate/Travel-Mate/pull/725
https://github.com/project-travel-mate/Travel-Mate/pull/718

[2019-10-06 17:17] aman0408 commented on #730
Yeah the required files are present in those PRs.

[2019-10-06 17:22] ambika1101 commented on #697
i'd like to work on this

[2019-10-06 17:24] Swati4star commented on #730
You can check the previous version of repo and download files from there.
This is the repo version just before that PR: https://github.com/project-travel-mate/Travel-Mate/tree/b48ae53090242680803937d8e5c44fbfa91da6f9

I would recommend to add those drawables back, but also, even when the drawables are not there, app should not crash.

[2019-10-06 17:40] Swati4star commented on #697
Sure @ambika1101

[2019-10-06 17:44] Swati4star commented on #729
Sure @marcoebbinghaus

[2019-10-06 17:51] Swati4star commented on #626
Sure @vincent-paing  👍

[2019-10-06 18:36] vincent-paing commented on #730
I think we can do a conditional check and provide a drawable icon, any idea what default drawable should be?

[2019-10-06 18:37] vincent-paing commented on #639
Will check and see what I can do

[2019-10-06 18:38] aman0408 commented on #730
I have created a PR for the issue.

[2019-10-06 20:08] aman0408 opened #734 "Bug: Unable to open City Info for cities on the right side of the CityFragment"
### **Describe the bug.**
Can't view information of cities on the right of the list eg. Bangalore,Chennai, Jaipur etc.
### **Steps to reproduce.**

- Launch the app.

- Click on a city on the right

- And note the bug (opened info is of the left city

### **Expected behavior**
It is expected that the info of the city that has been touched should be opened.

[2019-10-06 20:54] aman0408 commented on #734
Shall I work on this issue?

[2019-10-06 21:14] prabhakar267 commented on #734
Please make sure you only claim one issue at a time, if you have nothing else, go ahead.

[2019-10-06 21:15] aman0408 commented on #734
I have already created a PR for the issue that was assigned to me so I got nothing to do. I'll work on this.

[2019-10-07 08:42] prabhakar267 commented on #557
As mentioned in #571 we don't think it is necessary for the project at this moment and maintaining this would be a lot of effort which we think would be very more tedious than fruitful.
Thanks for the issue.

[2019-10-07 08:42] #557 closed

[2019-10-07 08:44] #730 closed

[2019-10-07 16:28] aman0408 commented on #734
Can someone give me a summary of what's happening in the CityAdapter and the BaseFlipAdapter classes? I'm having difficulty understanding those.

[2019-10-07 17:37] #729 closed

[2019-10-07 17:57] #626 closed

[2019-10-07 18:01] Swati4star commented on #639
Sure @vincent-paing

[2019-10-07 22:23] prabhakar267 commented on #734
@aayushinigam @amy6 @brijeshshah13 You guys have worked on `CityAdapter`, can you help @aman0408 out.

[2019-10-07 22:29] aman0408 commented on #734
I just need a jist of what each function does and returns. Also specifically need to know which function returns the view on click.

[2019-10-08 06:30] Swati4star opened #736 "Weather forecast drawables shouldn't show up in "unused resources""
A side effect of this issue:
https://github.com/project-travel-mate/Travel-Mate/pull/732#issuecomment-538771597

If we check for unused drawables in IDE, it shows all weather drawables, but they are required.

[2019-10-08 08:31] Swati4star opened #737 "Improve world clock home page UI"
![wc](https://user-images.githubusercontent.com/9164477/66379877-fa67f900-e9d3-11e9-8844-9a6e3b018e71.jpeg)

Some suggestions:
- Move "select timezone" and the "asia/kolkata" dropdown to same line
- Reduce the size of "Select timezone"

More suggestions are welcome

[2019-10-08 08:54] prabhakar267 opened #738 "Reduce password validations"
## Description
Currently there are multiple validations a new password goes through, it needs to be 8 character long, should have a special character, a lowercase and an uppercase.
After https://github.com/project-travel-mate/server/commit/c3867548eafcd67dcdbd271ee1002d39f7a3ddf5 commit in server repository, we can accept any password as long as it is `>= 8` characters.

## What needs to be done
+

[2019-10-08 09:05] Swati4star commented on #669
@HeinKhantZaw Are you working on this issue?

[2019-10-08 09:06] prabhakar267 opened #739 "Implement Runtime permissions"
## Description
Runtime permissions should be asked only when required. Currently, all permissions are requested during the first launch of the application.

![image](https://user-images.githubusercontent.com/10768588/66382477-e246a880-e9d8-11e9-86e4-a674608f8b5c.png)

[2019-10-08 09:07] prabhakar267 commented on #566
Added a fresh issue with all relevant information, removing this stale one.

[2019-10-08 09:07] #566 closed

[2019-10-08 09:55] reynaldo22 commented on #737
let me do this
assign me

[2019-10-08 10:44] prabhakar267 commented on #737
Sure @reynaldo22 , go ahead

[2019-10-08 11:20] aman0408 commented on #734
@prabhakar267 if there's noone to explain, can I reimplement the home screen using a gridlayout having a single independent adapter instead of using multiple adapters?

[2019-10-08 11:42] fluctix commented on #738
@prabhakar267
i have created a PR to solve this issue: https://github.com/project-travel-mate/Travel-Mate/pull/741

[2019-10-08 14:16] prabhakar267 commented on #734
@aman0408 Swati is a bit busy these days, you can pick up some other issue meanwhile. As soon as she will be free, she can explain you what is happening in the code.

[2019-10-08 14:20] aman0408 commented on #734
Alright!

[2019-10-08 14:39] HeinKhantZaw commented on #669
Yes @Swati4star  I am working but the issue is still not solved.

[2019-10-08 15:27] aman0408 commented on #669
I was able to partial fix the issue. Everything works fine when the user initially has 12 hour clock enabled. If the format is changed to 24 hour, time is displayed correctly without the seconds (only hours and minutes are shown).

Basically hours and minutes are always displayed correctly. Seconds are displayed only when the user has 12 hour clock enabled.

[2019-10-08 22:38] miso11 commented on #629
Hi, can i work on this bug? Can you assign it to me?

[2019-10-09 04:59] prabhakar267 commented on #629
@miso11 sure you can go ahead.

[2019-10-09 10:46] flash76 commented on #739
I think I can take this on.

[2019-10-09 10:47] Swati4star commented on #739
Sure @flash76

[2019-10-09 15:10] Swati4star opened #742 "Modifications in "daily quotes" page UI"
![daily quotes](https://user-images.githubusercontent.com/9164477/66494092-bf012380-ead4-11e9-90b4-41aee707441d.jpg)

### Enhancements:
- Remove the app bar
- background is distorted. fix this.
- "Don't show again" should be a checkbox
- Activity shouldnt get dismissed on clicking "dont show again"
- Add an ok or continue button to dismiss activity
- any other enhancements are also welcome!

[2019-10-09 18:13] mangelovic commented on #742
I might take a look at it

[2019-10-09 18:18] prabhakar267 commented on #742
@mangelovic Please either claim the issue and make sure you work on it or don't claim for other to pick 😄

[2019-10-09 19:31] miso11 commented on #629
Issue is solved on version 5.6.0, World clock is scrollable now. Do you need this fix on 5.4.0 version?

[2019-10-09 21:54] miso11 commented on #654
I can take a look on it. Can you assign it to me?

[2019-10-10 04:47] nasreekar commented on #654
@prabhakar267  Sorry Prabhakar (for both late reply and no update).. was a little busy with office work (currently on site) and couldn't fix the bug.

[2019-10-10 06:38] prabhakar267 commented on #654
@miso11 You can have a look into this

[2019-10-10 06:43] Swati4star commented on #629
No. We don't want a fix in previous version.
Thank you for investigation this issue. Closing it now as fixed.

[2019-10-10 06:43] #629 closed

[2019-10-10 18:48] masrnam commented on #742
Can you also assign it to me? Thanks.

[2019-10-11 14:54] Swati4star commented on #597
@Komachka Which module do you wanna pick up for writing test?

[2019-10-11 18:34] HeinKhantZaw commented on #669
I have fixed the issue @Swati4star

[2019-10-12 11:46] Balram02 commented on #148
Can I work on this issue?

[2019-10-12 12:06] Swati4star commented on #148
Sure @Balram02

[2019-10-12 22:36] AmrDeveloper opened #748 "[BUG] Can't see city name when city has default image"
Can't see city in FindCityInfoActivity when slider showing the default image

**Bug screenshot**
![city name](https://user-images.githubusercontent.com/23631699/66708359-a9e3f900-ed4f-11e9-891c-a1946c9c05fb.PNG)

**Expected behavior**
See city name in any image color in the slider

**Suggestion**
Add TextView with good color for example colorPrimary to show city name

**Suggestion screenshot**
![f

[2019-10-13 04:44] Swati4star commented on #748
My suggestion would be: to add black contrast to background image, like in the Utilities section. The cards have reduced transparency with black background. White text will look good in this case.
Reason: your suggestion won't look good when I fully scroll up the screen.

[2019-10-13 12:23] DroidSU commented on #739
can i take this please!

[2019-10-13 12:26] DroidSU commented on #736
can you please explain a little more please?

[2019-10-13 12:43] DroidSU opened #750 "[BUG] Clicking on home page recycler opens up the wrong item"
**Describe the bug**
A clear and concise description of what the bug is:

On the main screen, clicking one the even recycler items opens its previous odd item.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Home Screen
2. Click on any recycler item on the right side.
4. The next activity opens with the data of the previous item.

**Expected behavior**
The next activity should open wit

[2019-10-13 12:55] prabhakar267 commented on #739
Sure @DroidSU

[2019-10-13 13:45] nextybrown commented on #750
Hey  DroidSU
I have tried do reproduce the error but, everything looks good so far if you can be more specific about the bug  that will be helpfull

[2019-10-13 13:51] nextybrown commented on #748
Hey Guys
I don't think this is a gub put just FontColor issue, The city font color is just merging with the image color. We can change the image  or generate color according to the image

[2019-10-13 14:00] HeinKhantZaw commented on #750
![72742544_897260510656642_7907122280419819520_n](https://user-images.githubusercontent.com/40730345/66716761-94c2a500-edf7-11e9-9259-0699ce55a8bf.jpg)

I can reproduce the error @nextybrown  Did u choose the recycler item on the right side such as Bangalore , Chennai. If these items are clicked, the next activity shows the left side items - for example, if you select bangalore, the app shows the

[2019-10-13 14:57] nextybrown commented on #750
Ok, The error is in List of cities @HeinKhantZaw  not in the menu ... let me see what is wrong in the code

[2019-10-13 16:00] HeinKhantZaw commented on #748
Can I fix this issue?

[2019-10-13 16:05] HeinKhantZaw commented on #748
Can I fix this?

[2019-10-13 16:26] AmrDeveloper commented on #748
@Swati4star You are right i will implement your suggestion

[2019-10-13 16:26] AmrDeveloper commented on #748
@HeinKhantZaw Sorry bro i am working on it

[2019-10-13 18:39] HeinKhantZaw commented on #748
Oh! Sry, I didn't see that you want to work on this issue.

[2019-10-13 20:56] #748 closed

[2019-10-13 22:53] AmrDeveloper commented on #750
Can i work on this issue?

[2019-10-14 03:34] nextybrown commented on #750
@AmrDeveloper  I actually start working on it

[2019-10-14 05:11] Swati4star commented on #742
updates @masrnam ?

[2019-10-14 10:01] pintu236 commented on #697
anybody working on it?

[2019-10-14 11:28] masrnam commented on #742
I am working on it. I think, that it should be finished tomorrow or on Wednesday at the latest.

[2019-10-14 12:37] AmrDeveloper commented on #750
@nextybrown Sorry bro, good luck

[2019-10-15 09:53] droid-it commented on #739
Is it open to be picked up? If yes, I would like to pitch in!

[2019-10-15 09:53] droid-it commented on #737
Is it open to be picked up? If yes, I would like to pitch in!

[2019-10-15 09:55] droid-it commented on #697
Is it open to be picked up? If yes, I would like to pitch in!

[2019-10-15 10:01] Swati4star commented on #737
@reynaldo22 Updates?

@droid-it Please comment on one issue at a time and pick that up.

[2019-10-15 10:02] Swati4star commented on #697
@ambika1101 Updates?
@pintu236 You may work in it, if ambika doesn't reply.

[2019-10-15 13:27] mridul-arora commented on #737
Can I take this? If it's still open and if nobody is working on it still.

[2019-10-15 14:36] Swati4star opened #755 "[BUG] Daily quotes page should only be shown once a day"
**Describe the bug**
Daily bug quotes page is displayed every time app is opened

**To Reproduce**
Launch app

**Expected behavior**
Quotes page should be shown only once a day

[2019-10-15 14:42] #654 closed

[2019-10-15 14:42] svignesh93 opened #756 "[BUG] Wrong snackbar message appears when creating a new account and submitting user credentials"
**Describe the bug**
When creating a new account and while the internet was turned off and submitting user credentials shows a snack bar message "Invalid username or password"

**To Reproduce**
Steps to reproduce the behavior:
1. Turn Off the internet
2. Create a new Account from Login Screen. If logged in already, please sign out.
3. Enter user credentials and submit
4. A snack Bar message will a

[2019-10-15 14:45] Swati4star commented on #756
**Suggested Expected behaviour:**
`"We couldn't find an active internet connection. Please try again."`

[2019-10-15 14:46] Swati4star commented on #756
Or, you can directly use ** check_internet** string in strings.xml file

[2019-10-15 15:13] Irfan-S commented on #756
Hi , can I be assigned this issue?

[2019-10-16 07:35] Swati4star commented on #750
@nextybrown Could you find the issue?

[2019-10-16 16:56] Swati4star commented on #742
It looks good.
Just modify the continue button also. Make it smaller in size. Not all caps. change background to some orangish or blue color & text white color.

[2019-10-16 16:57] Swati4star commented on #734
Duplicate of https://github.com/project-travel-mate/Travel-Mate/issues/750
Closing this one. #750 is in progress.

[2019-10-16 16:57] #734 closed

[2019-10-16 16:58] #756 closed

[2019-10-16 21:56] shldhll commented on #755
@Swati4star Sorry, forgot to ask for permission before I started working on this.

[2019-10-17 05:13] #755 closed

[2019-10-17 05:14] Swati4star commented on #742
Looks good @masrnam

[2019-10-17 05:14] Swati4star commented on #742
Please create a PR for this @masrnam 👍

[2019-10-17 16:00] AmrDeveloper opened #761 "Show default Status as a hint in ProfileActivity"
## Current State
When user edit state in ProfileActivity for first time he need to delete all default status from EditText then start to write status

![before_commit](https://user-images.githubusercontent.com/23631699/67024603-fd19cb00-f104-11e9-80ba-006345654cb2.PNG)

## Suggestion
Show default status in ProfileActivity as a hint so he can start write new status without delete default one

## Sc

[2019-10-17 16:32] prabhakar267 commented on #761
@AmrDeveloper Do you want me to assign this to you?

[2019-10-17 16:39] AmrDeveloper commented on #761
@prabhakar267 Yup i want to work on it

[2019-10-17 17:35] #761 closed

[2019-10-17 17:40] masrnam commented on #742
Ok. I am going to create PR tomorrow.

[2019-10-18 08:23] Lika-B opened #764 "[BUG] Logging in to different devices at the same time with one account not possible"
Describe the bug
I used the same account to log on to the tablet and the mobile phone at the same time. It does not work, once you are logged in with one device, the same account data will be displayed as incorrect on the other device.

Steps to reproduce the behavior:
1. Go to two devices at the same time to log in to the app.
2. Sign in, after a successful login to one device, to the other devic

[2019-10-18 08:30] prabhakar267 commented on #764
@Lika-B  What does it show? Are you not getting the same data on both devices or are you able to login only to one of the devices?
If its the data issue, then what data is not showing the same?

[2019-10-18 17:28] #742 closed

[2019-10-19 04:03] dekzitfz commented on #697
is it still open to be picked up? I'll open PR for this :D

[2019-10-19 05:15] #750 closed

[2019-10-19 05:53] #697 closed

[2019-10-19 11:23] miso11 commented on #639
Hi, i can not reproduce it on Android 5.0.1 API 22m application version: 5.6.1. Maybe issue has been already solved.

[2019-10-19 11:29] prabhakar267 commented on #639
We can close this then. Please reopen if this issue is still there.

[2019-10-19 11:29] #639 closed

[2019-10-21 07:13] pfieffer opened #768 "Images on the github pages not displayed"
### Images on the github pages is not displayed.
Fix the images not displayed on the [github pages](https://project-travel-mate.github.io/Travel-Mate/) for the project.

![image](https://user-images.githubusercontent.com/16465152/67183975-61d56e00-f402-11e9-888b-fc24957fc883.png)

### Would you like to work on the issue?
Yes

[2019-10-21 07:55] prabhakar267 commented on #768
@pfieffer We would need to change the relative image paths in README to absolute paths. That should fix the missing images.

[2019-10-21 10:00] pfieffer commented on #768
I can work on that. @prabhakar267

[2019-10-21 13:56] #768 closed

[2019-10-21 19:48] prabhakar267 commented on #669
Closed in #747

[2019-10-21 19:48] #669 closed

[2019-10-21 19:49] prabhakar267 commented on #148
@Balram02 any updates?

[2019-10-22 05:31] smtrz opened #770 "implement search in the places"
I have implemented search functionality in the places of the app, please review and add .

thanks

Tahir Raza

[2019-10-22 05:41] Swati4star commented on #764
@Lika-B Please provide the requested details of this issue?

[2019-10-22 05:43] pfieffer commented on #739
Is everyone of the following permissions critical and being used? If yes mark them. And can someone who has deep knowledge of the application, please create an ordered list of the Screens on which each permission is being used. I am sure that will help in this issue being resolved faster.

- [ ]     Manifest.permission.CAMERA,
- [ ]     Manifest.permission.READ_EXTERNAL_STORAGE,
- [ ]     Manifest

[2019-10-22 06:21] smtrz commented on #770
added a new pull request.

[2019-10-23 09:51] Balram02 commented on #148
@prabhakar267 will send PR within 3-4 days.

[2019-10-23 14:36] Swati4star commented on #770
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/773

[2019-10-23 14:36] #770 closed

[2019-10-24 07:39] HeinKhantZaw commented on #736
I have fixed the problem @Swati4star

[2019-10-24 15:10] #736 closed

[2019-10-24 19:02] RyanMarzec commented on #737
is anyone working on this? if not I can complete this

[2019-10-24 20:50] AmrDeveloper opened #775 "[FEATURE REQUEST] Show Profile information in Offline mode"
**Current State**
The problem is that Code in ProfileActivity run getUserDetails method to get information from internet but in offline mode it will hide all Views so the activity will be empty

**Solution**
Check if user is offline or online if is Online call getUserDetails else fill information from SharedPreferences and hide all edit views

# Screenshot for current code
![offline_before](https:

[2019-10-25 07:56] Swati4star commented on #737
Sure @reynaldo22 Please create a PR.

[2019-10-26 05:47] #775 closed

[2019-10-26 21:39] 4rthurRousseau opened #779 "[BUG] Crash right after app startup"
**Describe the bug**
I just pulled the repository and launched a build, the application instantly crashed.
See the "Additional context" for error logs.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the application (debug variant)
2. See the application crash

**Expected behavior**
The application runs normally.

**Device Information (please complete the following information):**
 - Dev

[2019-10-26 22:18] 4rthurRousseau opened #780 "[ENHANCEMENT] Replace "findViewById" by "@BindView""
**Is your feature request related to a problem? Please describe.**
I noticed that you're using Butterknife but there is still some "findViewById" usage here and there, sometimes on classes that already use ButterKnife.

Example from the "CurrencyListViewActivity" class :
[code]

**Describe the solution you'd like**
Take some time to tidy up those classes.

[2019-10-27 00:16] 4rthurRousseau opened #781 "[ENHANCEMENT] Load the World library once"
**Is your feature request related to a problem? Please describe.**
As stated in the WorldCountryData library, it should be initialized once with the application context.
I think it should be created during the application creation so we don't have to initialize it everywhere to make sure it's properly loaded.

**Describe the solution you'd like**
Create a TravelMateApplication class where we would

[2019-10-27 10:06] #779 closed

[2019-10-27 10:07] #781 closed

[2019-10-27 12:30] 4rthurRousseau opened #785 "[ENHANCEMENT] Hide the "Don't show again" checkbox on the daily quote screen before screenshot"
**Is your feature request related to a problem? Please describe.**
I think the "Don't show again" checkbox should be hidden when screenshotting the daily quote screen for sharing.

![Screenshot_1572179407](https://user-images.githubusercontent.com/7251970/67634553-ed954180-f8bd-11e9-899d-1d324d201ea5.png)

[2019-10-27 17:20] #785 closed

[2019-10-27 19:24] hafiz703 commented on #780
I can have a go at this

[2019-10-28 03:10] RyanMarzec commented on #780
I have updated some files containing to this issue, for now I am only working on files within "app/src/main/java/io/github/project_travel_mate/utilities/"

I just have a questions before proceeding with a PR for this section.

1. Would you prefer BindView variables declared at the top Fragment/Activity class or in a ViewHolder class?
I noticed in most files in the utilities folder use butterknife

[2019-10-28 05:25] Swati4star commented on #780
@RyanMarzec
I'll prefer these to be declared in ViewHolder class.

Sure, create a PR and I'll review the changes.

[2019-10-28 05:29] Swati4star commented on #737
@4rthurRousseau Can you please comment on issue next time before creating a PR?

[2019-10-28 05:30] #737 closed

[2019-10-28 05:32] Swati4star commented on #676
This issue is not reproducible now. Closing it.

[2019-10-28 05:32] #676 closed

[2019-10-28 05:34] Swati4star opened #787 "Add unit tests for DateUtils class"
### Describe the chore
Add unit tests for DateUtils class: https://github.com/project-travel-mate/Travel-Mate/blob/master/Android/app/src/main/java/utils/DateUtils.java

Code coverage should be ~90%

[2019-10-28 19:14] fokion commented on #787
I will pick it up if it is ok

[2019-10-29 07:04] Swati4star commented on #787
Sure @fokion

[2019-10-29 20:30] fokion commented on #787
#790

[2019-11-02 11:09] #787 closed

[2019-11-18 15:58] rahimakhan313 opened #793 "database"
sir if i want to change the database. how can I do that? I can't find the database file

[2019-11-18 17:19] prabhakar267 commented on #793
The database and related interactions are in different repository.
https://github.com/project-travel-mate/server

[2019-11-18 17:19] #793 closed

[2019-11-19 09:52] rahimakhan313 commented on #793
thank you sir!
but this is the django site and travel mate is the android app. so if i change the database in the given link , will my travel mate project updated automatically? or i have to change something in that code. 
also  which database you used for storing all information related to india like sqlite, mysql , firebase? 
    On Monday, November 18, 2019, 10:19:14 PM GMT+5, Prabhakar Gupta <

[2019-11-19 11:13] prabhakar267 commented on #793
@rahimakhan313 If you want to make some change in the database, you would have to make a copy of complete server along and produce your own data; run the server. Then in Android studio, you would need to change the server credentials and start using your own local server.

If you want to point out any data incorrection on the app, please feel free to raise a new issue on the server repository, I w

[2019-11-19 14:23] rahimakhan313 commented on #793
thanx for your help
    On Tuesday, November 19, 2019, 04:13:48 PM GMT+5, Prabhakar Gupta <notifications@github.com> wrote:

@rahimakhan313 If you want to make some change in the database, you would have to make a copy of complete server along and produce your own data; run the server. Then in Android studio, you would need to change the server credentials and start using your own local server.

I

[2019-11-19 14:44] AmrDeveloper opened #794 "[FEATURE REQUEST] hide visited cities in offline mode profile activity"
hide visited cities in offline mode profile activity because we can't load Cities in offline mode

## Screenshot before
![hide_citites_visited](https://user-images.githubusercontent.com/23631699/69156089-90bb2e80-0aeb-11ea-9915-344069b937f8.PNG)

## Screenshot after
![cities_visited_done](https://user-images.githubusercontent.com/23631699/69156098-93b61f00-0aeb-11ea-84e5-89a80aa0522b.PNG)

Would y

[2019-11-19 14:44] AmrDeveloper opened #795 "[FEATURE REQUEST] Show quote only if network is available"
Check network state before show quote dialog

### Screenshot
![quote_no_net](https://user-images.githubusercontent.com/23631699/69155637-beec3e80-0aea-11ea-8ab5-1d47742dc278.PNG)

Would you like to work on this feature?

Yes

[2019-11-20 03:30] #795 closed

[2019-11-20 03:31] #794 closed

[2019-11-20 13:54] #764 closed

[2019-12-13 09:51] Saifu786 opened #799 "Issue in storing profile pic and its crashes once u click on crop.I will resolve these bugs by EOD[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device Information (please complete

[2019-12-13 09:52] Saifu786 opened #800 "Can't able to recover to edit name if we are giving edit option for name.[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device Information (please complete

[2019-12-19 13:52] Swati4star commented on #800
@Saifu786 Can you fill the issue template?

[2019-12-19 13:52] Swati4star commented on #799
@Saifu786 Please fill the issue description template.

[2019-12-31 16:24] HeinKhantZaw opened #801 "fragment_citylist doesn't work in landscape mode[BUG]"
**Describe the bug**
When app is loaded in landscape mode, items from Most Popular Cities (fragment_citylist) doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Chang screen orientation to landscape mode.
2. Go to "Destinations".
3. Press any item in Most Popular Cities.
4. City information doesn't show up after pressing.

**Expected behavior**
It should be able to navigate to cit

[2020-01-08 06:23] rahimakhan313 commented on #793
Hi!
sorry for disturbing you again sir, but i need your help earlier i told you that i want this app as my semester project and i have to change the data base for this purpose. i want to generate data for another country, but i can't find the database so plz help me find it so i will change the database. 
earlier  you also told me about server on django i have already done that but what about next

[2020-01-14 07:30] lewisgarton opened #803 "FlipViewPager has an issue with the number of pages. [BUG]"
**Describe the bug**
On the "Most Popular Cities" page, the FlipViewPager has an issue with the number of pages.
When turning a page for an item in the left column (e.g Delhi) the pager works correctly: it will only allow you to turn the page once to see the options ("know more", "View weather info", "fun facts", "City Trends"), but when turning a page on the right (e.g Bangalore) it will allow yo

[2020-01-14 07:32] lewisgarton commented on #803
Can i please work on this?

[2020-01-14 08:53] prabhakar267 commented on #803
@lewisgarton Sure go ahead

[2020-01-14 10:41] #803 closed

[2020-01-14 23:21] lewisgarton commented on #801
Is this a bug?
I feel this is the behaviour intended by the FlipPageViewer?

[2020-01-14 23:59] lewisgarton opened #805 "Signup activity does not inform user email address is invalid during signup [BUG]"
**Describe the bug**
The signup activity does not notify the user there is an issue with the email address provided during signup.
Input field should check if valid and prompt user the same as it does when mismatching passwords are entered.

**To Reproduce**
Steps to reproduce the behavior:
1. Open application
2. Sign up with details
3. Enter an email address with an incorrect format
4. Click sign

[2020-01-15 00:00] lewisgarton commented on #805
Can i please work on this issue?

[2020-01-15 07:46] Swati4star commented on #801
But, this issue is there in landscape mode only?

[2020-01-15 07:47] Swati4star commented on #805
Sure @lewisgarton

[2020-01-15 08:10] prabhakar267 commented on #805
@lewisgarton Sure go ahead.

[2020-01-16 04:27] #805 closed

[2020-01-16 06:55] lewisgarton commented on #148
Can i work on this issue?
Would you like to mount a different DB depending on which user is logged in, or would to use the single database and extended the tables to contain the user id?

[2020-01-16 07:57] Swati4star commented on #148
I'll prefer different DBs

[2020-01-16 09:36] lewisgarton commented on #148
@Swati4star great, i will work on this one tomorrow.

[2020-01-16 10:05] lewisgarton opened #807 "Missing images in most poular cities [BUG]"
**Describe the bug**
Images are missing from some items in the "most popular cities"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Most popular cities

**Expected behavior**
Images should resolve.

**Screenshots**
![Screenshot_20200116-225444_Travel Mate](https://user-images.githubusercontent.com/32315300/72515256-7962ac80-38b4-11ea-840a-5149317ef920.jpg)

**Device Information (pleas

[2020-01-19 01:54] lewisgarton commented on #148
@Swati4star
With this fix, when it rolls out to production and the user updates, are you happy for the existing (Singular) database to become owned by the current user, then going forward a new database will be created for each logged in user?

[Additional fix]
The above will cause cached application data to be duplicated across each user database, would you like me to split these out:

1. DB for