[2016-11-01 16:11] youngrichu opened #1 "how to edit in android studio"
Hi there

i rly like this project: the idea, the features amazing. and i would love to to localize it and modify to my need but the problem is i'm kinda new to Android studio and i can't seems to be able to open and edit the files. so would you be so kind and give me some tips.

 thanks in advance :)

[2016-11-01 16:28] Swati4star commented on #1
Hi @youngrichu
Just follow the following steps
- Clone this repository.
- In Android Studio, Go to File -> New -> Import Project; and navigate to 'Android' subdirectory of this project
- Build the project, and install the missing dependencies
- Run it on your device or virtual device.

Feel free to ping if you face any error. :smile:

[2016-11-04 14:34] youngrichu commented on #1
HI

first i would like to thank you for your replay :smile: and  i just did exacly as you told me , but i run into some errors with the styles.xml file.
![android studio](https://cloud.githubusercontent.com/assets/3649930/20009156/798db59a-a2b4-11e6-96b9-d9276425cac2.PNG)

[2016-11-06 03:26] Swati4star commented on #1
Well, you shouldn't get this error
I will recommend checking out the answers on this page.

http://stackoverflow.com/a/31980495

[2017-01-03 14:15] #1 closed

[2017-01-21 19:51] prabhakar267 opened #3 "Change error responses for City Hotels API"
Change the responses for the [```get-city-hotels.php```](https://github.com/Swati4star/Travel-Mate/blob/master/APIs/get-city-hotels.php).
If the response from Here API is empty or if the city ID is incorrect, send the responses accordingly

Note : Take reference from [```bus-booking.php```](https://github.com/Swati4star/Travel-Mate/blob/master/APIs/bus-booking.php)

[2017-01-23 11:27] prabhakar267 opened #4 "Change error responses for Places API"
Change the responses for the [```places-api.php```](https://github.com/Swati4star/Travel-Mate/blob/master/APIs/places-api.php.)
If the response from Here API is empty or if the city ID is incorrect, send the responses accordingly

Note : Take reference from [bus-booking.php](https://github.com/Swati4star/Travel-Mate/blob/master/APIs/bus-booking.php)

[2017-01-24 22:55] gugakatsi opened #6 "Butterknife and more"
is there any reason , there is no use of butterknife? thanks in advance.

[2017-01-25 03:27] Swati4star commented on #6
Hi. Thanks for the advice.
Actually I wasn't acquainted with using butterknife when I started working on the project.

[2017-01-25 03:27] Swati4star commented on #6
If anyone is interested in working on this issue, feel free to comment.

[2017-01-25 12:09] gugakatsi commented on #6
i will , thanks.

[2017-01-25 15:42] gugakatsi commented on #6
@Swati4star  i have a question , for example you have many setOnClickListener calls there , so would't it be good to implement onClickListener, i guess in this situation would be better.

[2017-01-25 15:50] Swati4star commented on #6
Yeah. Nice idea. It would be better. Please do the changes.

[2017-01-27 14:54] gugakatsi commented on #6
@Swati4star somehow i can't push it , tells me that some file is too large..

[2017-01-27 20:08] Swati4star commented on #6
Can you please post a screenshot, or paste the error message over here?

[2017-01-27 21:28] gugakatsi commented on #6
ofc, no problem ,I'll do it tomorrow morning.

[2017-01-28 20:02] gugakatsi commented on #6
@Swati4star here you go :
<pre>
Counting objects: 59, done.
Delta compression using up to 4 threads.
Compressing objects: 100% (54/54), done.
Writing objects: 100% (59/59), 267.11 MiB | 32.00 KiB/s, done.
Total 59 (delta 40), reused 5 (delta 0)
remote: Resolving deltas: 100% (40/40), completed with 38 local objects.
remote: error: GH001: Large files detected. You may want to try Git Large File Sto

[2017-01-28 20:06] Swati4star commented on #6
The hprof file is a dump file. Just delete this file, and then try pushing it

[2017-01-29 20:03] gugakatsi commented on #6
@Swati4star pushed it , thanks :+1:

[2017-01-29 20:17] gugakatsi opened #9 "okhttp to retrofit and some rxJava?"

[2017-01-29 20:18] gugakatsi opened #10 "Decomposition of app"
currently app architecture is pretty much is mixed up , we could  decompose it nicely , also there is many repeated code as you know , so i think it is good idea , i would work on those issues.

[2017-01-31 10:20] prabhakar267 commented on #4
Fixed in #7

[2017-01-31 10:20] #4 closed

[2017-02-06 13:59] Swati4star commented on #9
@gugakatsi  Can you list some advantage of why should I use retrofit, instead of okhttp?

[2017-02-06 14:18] gugakatsi commented on #9
@Swati4star of course, so first of all maybe i am wrong here so that's why i wrote ? at the end :D so don't judge me ,  without a doubt retrofit code i guess cleaner and much easier to read right? also it's really handsome while you're decomposing app for example, also it is great with alongside with rxJava, i don't know this about okhttp and also retrofit also uses okhttp in some situations when

[2017-02-06 14:42] Swati4star commented on #9
I know, Retrofit code is cleaner, and easier to read. If you come across any other benefit too, mention it here.
I thought it would be a lot of effort to do this task. If you would like to work on moving the code from okhttp to retrofit. you are welcome. :)

[2017-02-06 14:46] gugakatsi commented on #9
@Swati4star  yeap i would work on it , i have exams right now , so i will start working in few days

[2017-02-06 14:59] Swati4star commented on #9
Great. Just post a message over here when you will start working on it.

[2017-02-06 15:44] Swati4star commented on #10
@gugakatsi Elaborate it properly, like what parts of app would you like to decompose?

[2017-02-06 16:03] gugakatsi commented on #10
i'll do in few days too

[2017-02-08 03:27] trihung93 opened #11 "Crash when App launch"
I got an error like this for the first time app launch
I use Genymotion Samsung s6 6.0.0

02-08 10:26:51.153 3579-3594/tie.hackathon.travelguide E/AndroidRuntime: FATAL EXCEPTION: BeaconServiceThread
                                                                         Process: tie.hackathon.travelguide, PID: 3579
                                                                         java.lan

[2017-02-09 06:19] Swati4star commented on #11
Thank you.

Fixed by 1ac3c5fb60aa110115275537b38c041a5c00a69f

[2017-02-09 06:19] #11 closed

[2017-02-16 19:30] #6 closed

[2017-02-18 12:08] sushilsaini04 opened #12 "API Link Path"
i have upload API in http://abc.in website and give the following API Link into the Android Code
public static  String apilink = "http://abc.in";
but this i not working. Request please correct where i am wrong

[2017-02-19 07:14] Swati4star commented on #12
Try using
public static String apilink = "http://abc.in/";

Also, I tried using
http://abc.in/users/login.php?contact=1234567834&password=123456
but this shows 404:Not found

[2017-02-21 15:48] gugakatsi commented on #10
@Swati4star finally me exams are over and i'll start working on this and also on retrofit, about decomposition i'll start with basics like packaing them , mergin adapters from activity code  and etc, models, buss. logic.

[2017-02-21 15:59] Swati4star commented on #10
@gugakatsi Sure, Go ahead with this.

[2017-02-27 19:13] Swati4star commented on #10
@gugakatsi Any updates?

[2017-02-27 19:14] gugakatsi commented on #10
@Swati4star i'll let u know tomorrow morning or earlier , i can't write down everything right now

[2017-03-02 04:22] gugakatsi commented on #10
@Swati4star  sorry for delay i will notify you as fast as i can

[2017-03-20 15:21] tictakk commented on #3
Hey @prabhakar267 , I would like to work on this. Quick question. In the bus-booking.php, after you get the query results. It looks like you're building a temp_array with default values. What is that used for? Is something like that necessary for get-city-hotels.php? Thanks

[2017-03-27 19:07] prabhakar267 commented on #3
@tictakk Sorry for replying so late
No it is not necessary in ```get-city-hotels.php``` so you can skip that part

[2017-03-29 09:06] jazzmann30 commented on #3
Hi @prabhakar267 , first time trying to contribute here. Is this issue been assigned to somebody already?  Also a quick question, will the closed issue #5 have an impact on this issue?

[2017-03-30 18:21] prabhakar267 commented on #3
@jazzmann30
@tictakk  is working on this issue, you can probably take up some other issue :+1:

[2017-04-14 22:51] gugakatsi commented on #10
@Swati4star so here i am :D again ,  so i though about that and reviewed code couple of times , i guess it could be a nice idea to refactor to mvp and package by layers , it would really make app overally pretty clear and scalable. what do you think about that.

[2017-04-18 14:03] Swati4star commented on #10
Sure, we can surely do this. But then we need to discuss clearly upon this first. We can start with modules at a time.
Let me create a doc of all the features that are there in Travel Mate. Then, we can work on which module to start with the decomposition. Sounds good?

[2017-04-18 14:04] Swati4star commented on #12
I guess you are done with this issue?
I am closing this for now. If there is still some problem, you can reopen the issue.

[2017-04-18 14:04] #12 closed

[2017-04-18 14:05] Swati4star commented on #10
One of the things you can start with is working on https://github.com/Swati4star/Travel-Mate/issues/9

[2017-04-18 14:43] gugakatsi commented on #10
yeap, that's actually is a great idea.

[2017-04-19 06:24] Swati4star commented on #10
Look at this file [Features.md](https://github.com/Swati4star/Travel-Mate/blob/swati/Features.md)

[2017-04-19 06:58] wesk0 commented on #10
Hi there,

Is there any way i can help with the project ?

On 19/04/2017, Swati Garg <notifications@github.com> wrote:

[2017-04-19 07:02] Swati4star commented on #10
@wesk0 You can work on changing from okhttp to retrofit https://github.com/Swati4star/Travel-Mate/issues/9

If you want to go ahead with this, we can discuss upon this further.

[2017-04-19 10:01] gugakatsi commented on #10
@Swati4star i checked it , so i can start working on it alone or we can split up , let me know what we gonna do about that.

[2017-04-19 13:57] Swati4star commented on #10
Why don't you take up one module at a time. Let me know what module are you gonna start with?
Start with Signup/Login first. Sounds fine?

[2017-04-19 13:59] gugakatsi commented on #10
Sounds fine , i will start it with alongside #9 , and will commit step by step by modules . should we use dagger or anything else?

[2017-04-19 14:01] Swati4star commented on #10
Do we need to use daggers? Not sure about these.

For #9 also, go module by module only.

[2017-04-19 14:40] gugakatsi commented on #10
@wesk0 let me know if you gonna work on issue , we could split it up in many different ways.

[2017-04-19 14:58] wesk0 commented on #10
@swati, I'm not sure if I can make it.

On Wednesday, 19 April 2017, desire_rawr <notifications@github.com> wrote:

[2017-04-19 16:35] Swati4star commented on #10
@gugakatsi You are starting with Signup/Login, or some other module?

[2017-04-19 16:42] gugakatsi commented on #10
@Swati4star Signup/Login with alongside #9 issue , but i'll do step by step as you mentioned.

[2017-05-03 18:29] Puneet1995 opened #13 "App Crash"
csinsit.org/prabhakar/tie/
this URL has been expired So Application is not working , it gets crashed as soon as we launch it.

[2017-05-03 21:33] gugakatsi commented on #10
@Swati4star  i have not changed anything else , ( i mean okhttp call stuff etc ... ) but here is an error :

https://gist.github.com/gugakatsi/62193131ba196a22bc805d3f37e42e4d

[2017-05-04 12:59] Swati4star commented on #10
@gugakatsi The domain name has expired. We are looking into this.

[2017-05-04 13:01] gugakatsi commented on #10
@Swati4star ah okay , than i'll pull request in a minutes.

[2017-05-07 05:54] Swati4star commented on #13
The problem is now resolved. The domain name was expired. Now, it has been renewed. Thank you for pointing it out. :+1:

[2017-05-07 05:54] #13 closed

[2017-05-12 12:55] oofoamalu opened #15 "Crash at app launch"
Find stacktrace below:

05-12 13:23:39.579 21992-21992/tie.hackathon.travelguide E/AndroidRuntime: FATAL EXCEPTION: main
                                                                           Process: tie.hackathon.travelguide, PID: 21992
                                                                           java.lang.NoSuchMethodError: No static method setOnApplyWindowInsetsListener(Landr

[2017-05-14 02:25] Niranjan-B commented on #10
Hi @Swati4star, I would like to contribute to the modularization of app as well. I can see that gugakatsi has raised a PR for login module. I would like to start off with Destinations feature if no one is already working on it. What do you say?

[2017-05-14 09:32] gugakatsi commented on #10
@Niranjan-B checkout pull request alongside with comment.

[2017-05-14 16:17] Niranjan-B commented on #10
@gugakatsi yup, did see your PR and comment

[2017-05-14 16:33] gugakatsi commented on #10
@Niranjan-B so start working on any module  , after refactoring in that style , we'll refactor okhttp -> retro/rx

[2017-05-14 17:34] Niranjan-B commented on #10
@gugakatsi yes, I mentioned which module I wanted to work on in my previous comment. Refactoring to Retrofit/RX post modularization sounds good.

[2017-05-15 06:51] hanmeimei888 commented on #15
compile('com.jakewharton:butterknife:8.5.1') {
    exclude module: 'appcompat-v7'
    exclude group: 'com.android.support'
}

[2017-05-15 06:52] hanmeimei888 commented on #15
and don‘t forget 'annotationProcessor 'com.jakewharton:butterknife-compiler:8.5.1'

[2017-05-15 06:54] hanmeimei888 commented on #15
you may meet the questions like ‘No such file’ ....just trust me and clean project

[2017-05-15 06:57] hanmeimei888 commented on #15
(your head is so beautiful

[2017-05-15 22:58] Niranjan-B opened #16 "Failed to load twitter feed"
I was playing around with the code and found that the app crashes when "City Trends" is clicked. Here's the crash log ->
org.json.JSONException: End of input at character 0 of
05-15 15:51:57.119 2857-2857/tie.hackathon.travelguide W/System.err:     at org.json.JSONTokener.syntaxError(JSONTokener.java:450)
05-15 15:51:57.119 2857-2857/tie.hackathon.travelguide W/System.err:     at org.json.JSONToke

[2017-05-17 12:21] oofoamalu commented on #15
Thanks!

I added the following:

[code]
That solved the crash.

Also on the side, I used the latest appcompat-v7 versions

Is there a need to submit a PR for this? I'm not certain if anyone has experienced this crash before.

[2017-05-18 02:15] hanmeimei888 commented on #15
yeah , i think we should do this.
someone i have know is suffering with this issue too,
in fact i have met this crash before by 'fresco'..etc..，in this project i think it's caused by
'com.jakewharton:butterknife:8.5.1'.
can you do this? I'm new guy for github,not familiar with operation

ps: i have 0 followers now ,could you click following for me ? It's just a cutie's hope...

[2017-05-18 16:25] marianofumante1 opened #18 "places-api.php don't work"
Hi, i have set the constants and connection file and all php file work fine, but the file places-api give me an error type 500. Could you help me?
Thanks in advance

[2017-05-18 20:00] prabhakar267 commented on #18
@marianofumante1 500 error can come due to a lot of reasons, it is an Internal Server Error. You can refer to http://php.net/manual/en/function.error-reporting.php for enabling full error reporting and then probably you can debug it.

[2017-05-18 20:04] marianofumante1 commented on #18
Hello dear,
But all other files work fine. Could be an error in request for places-api?
Thanks for help
On Thu, 18 May 2017 at 22:00, Prabhakar Gupta <notifications@github.com>
wrote:

[2017-05-18 20:05] prabhakar267 commented on #18
It works fine on my machine. If you could enable error reporting and then show me the screenshot of the error, I would be able to help you better.

[2017-05-18 20:31] prabhakar267 commented on #18
@marianofumante1  I have added the error reporting code
I am closing the issue, feel free to reopen it. If you face any problem. :+1:

[2017-05-18 20:31] #18 closed

[2017-05-18 23:58] maklaymiklyxa opened #19 "something wrong with api or server"
![image](https://cloud.githubusercontent.com/assets/28544059/26227953/67bc280a-3c3e-11e7-91ab-00dbb7f31613.png)
if you open something it's loading all time and cant get some information about сity or places on map or temperature.
P.S. sorry for my english.

[2017-05-20 10:17] marianofumante1 opened #20 "Syntax error places-api.php"
Hi, I have changed the file places-api.php to display the error log, due to an error in the same file.

![filegit](https://cloud.githubusercontent.com/assets/24568891/26274903/532a1952-3d55-11e7-9a20-a8ea349bee17.JPG)

After this, the error that the browser shows me is the below.

![filegit2](https://cloud.githubusercontent.com/assets/24568891/26274928/c0acdc1c-3d55-11e7-8199-adcfb5284ac1.JPG)
Sor

[2017-05-20 12:49] prabhakar267 commented on #20
@marianofumante1
Thank you for the error, it was due to some bad merge #7 I did.
I have fixed it in my last commit d149c75e4073593e416709a604fc12603213b22f

[2017-05-21 12:40] #15 closed

[2017-05-21 13:40] prabhakar267 commented on #15
@Swati4star please check if there is a need to add this to the code or not
mention : @oofoamalu

[2017-05-21 13:42] prabhakar267 commented on #19
@maklaymiklyxa you would need to setup a server of your own
We (me and @Swati4star ) are in process of creating a public server for the same, till the time you would have to manage with a personal server.

[2017-06-04 18:34] Niranjan-B commented on #10
@Swati4star, I would continue to work on FunFacts sub-module. However, there seems to be something wrong with the city-info request (http://csinsit.org/prabhakar/tie/city/info.php?id=1). It returns a 502. I can raise a new issue if you want me to.

[2017-06-05 12:32] Swati4star commented on #10
Hi @Niranjan-B , I and prabhakar are currently working on setting up the server. You can continue to work on cleaning up the Android part. We will fix it soon.

[2017-06-05 16:57] #16 closed

[2017-06-05 16:58] prabhakar267 commented on #16
@Niranjan-B I have added the updated code for this bug in c9335a772ef0d843e32a80046c103bf6f56404cd.

Mention: @Swati4star

[2017-06-09 08:27] Swati4star commented on #19
Thank you for pointing it out.
Fixed by https://github.com/Swati4star/Travel-Mate/commit/3210daac328c01a22aa28e7ec7c4b890c2636cb0

[2017-06-09 08:27] #19 closed

[2017-06-23 00:28] ViWu opened #22 "NetworkOnMainThreadException crashing app"
When I run and test the app on my emulator, the app crashes when I try to type in the search bar on the main page (destinations). Sometimes it also randomly crashes when I click on some of options in the navigation drawer. Not sure if it's because of my emulator or if it's a bug. Anyways, here is the log:

06-22 17:22:08.291 18492-18492/tie.hackathon.travelguide E/AndroidRuntime: FATAL EXCEPTION:

[2017-07-04 03:16] apoorv9990 commented on #10
Hi,

I came across this thread while looking for open source projects to contribute and I would suggest including Dagger 2 for dependency as well since you are moving to MVP architecture. Dagger 2 can be used to inject the Retrofit class directly into the presenter where it is needed. As a result, the OkHttpClient and Retrofit objects can be injected from one class removing the need to instantiate

[2017-07-04 03:37] Niranjan-B commented on #10
Yes, Dagger-2 is definitely on the plate. How about refactoring to MVP first and then Dagger-2? Codebase will get messed up since MVP modularization is in progress IMHO. Suggestions @Swati4star ?

[2017-07-04 13:30] gugakatsi commented on #10
@Niranjan-B @apoorv9990 i already mentioned that , after refactor to mvp , we could start injecting <3 :D

[2017-08-16 21:51] AnandPilania opened #24 "Android: jack is deprecated"
[jack is deprecated](https://github.com/JakeWharton/butterknife/issues/990#issuecomment-310932440)

[2017-08-24 13:22] Kartik2016 commented on #9
Is the issue still open ?

[2017-08-24 13:25] gugakatsi commented on #9
Yeap, we gonna do it after refactoring app to mvp , in end of September
probably

On Aug 24, 2017 5:22 PM, "Kartik2016" <notifications@github.com> wrote:

Is the issue still open ?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/Swati4star/Travel-Mate/issues/9#issuecomment-324633323>,
or mute the thread
<https://github.com/n

[2017-08-24 15:08] Kartik2016 commented on #9
Is there a way i could contribute too?

[2017-08-24 16:40] gugakatsi commented on #9
Sure , check issue #10 and write on which module you gonna work

[2017-09-09 21:26] rahul-953 commented on #10
Hi, I am new to open source and I want to contribute to this. How can I contribute to this project?

[2017-09-15 15:43] MJBrennan commented on #3
Hi has this issue been resolved yet?

[2017-09-17 05:32] prabhakar267 commented on #3
@MJBrennan No!

[2017-09-17 15:03] jazzmann30 commented on #3
I thought I was to look for another issue since somebody is trying to
resolve this.

On Sun, 17 Sep 2017 at 1:32 PM Prabhakar Gupta <notifications@github.com>
wrote:

[2017-10-01 13:04] iamhofo commented on #3
I'd like to do this

[2017-10-08 22:31] gugakatsi commented on #10
@rahul-953 take a any module and start refactoring to mvp , but first review pr , or if u see another issue here just mention and start working on it

[2017-10-12 06:17] prabhakar267 opened #27 "Android: Fix travis fails"

[2017-10-12 06:19] prabhakar267 opened #28 "Add java checkstyle"
Ref: https://github.com/checkstyle/checkstyle

Integrate checkstyle to make the java code uniform

[2017-10-13 05:51] prabhakar267 opened #30 "Move EBAY API KEY to constants"
File to be refactored : https://github.com/Swati4star/Travel-Mate/blob/master/APIs/online-shopping.php
Constants file : https://github.com/Swati4star/Travel-Mate/blob/master/APIs/inc/constants.inc.sample

[2017-10-13 05:57] prabhakar267 opened #31 "Give more verbose error if connections file is missing"
If the user has not generated connection.inc.php file, he should get a more verbose error asking him to add the file.

[2017-10-13 06:09] topspinj commented on #30
on it

[2017-10-13 17:50] prabhakar267 commented on #30
Fixed in #32

[2017-10-13 17:50] #30 closed

[2017-10-14 08:46] Swati4star commented on #24
@gugakatsi Should we revert back the jack changes?
A lot of people are even having the problem in setting up the project

[2017-10-14 13:19] gugakatsi commented on #24
@Swati4star , i guess we should stay with jack for a while , unless preview of android studio becomes stable , not gonna take long i guess , let me know your opinion about that.

[2017-10-14 14:06] Swati4star commented on #24
I think we should move. People really are having setup issues.
And also jack is no longer maintained. We will eventually end up with some other issue if we don't shift now.

[2017-10-14 14:16] gugakatsi commented on #24
@Swati4star yeah , i guess u're right , and still who knows when google gonna publish stable version of AS , if @AnandPilania wants to work on that issue would be good or i'd happy too , just let me know.

[2017-10-15 06:26] Swati4star commented on #24
@gugakatsi I guess before refactoring, we should work on this?
Are you ready to take up this issue?
It would be better to refactor after this.

[2017-10-15 07:43] suksit commented on #31
Could you elaborate more on this? How should the error message be shown? e.g. as JSON or just simple text. Should we also send the status code (maybe 500)?, etc.

[2017-10-15 16:24] codeteo commented on #28
Please check PR #37 which integrates `checkstyle` to the project :+1:

[2017-10-15 23:32] gugakatsi commented on #24
@Swati4star yeap i  have some time tomorrow evening so i can fix it , so i'll rollback jack changes.

[2017-10-16 05:37] Swati4star commented on #27
Fixed by https://github.com/Swati4star/Travel-Mate/pull/23.
Thanks @Niranjan-B 👍

[2017-10-16 05:37] #27 closed

[2017-10-16 05:39] Swati4star commented on #22
Are you still facing this error? I can't reproduce this bug.

[2017-10-16 05:41] Swati4star commented on #10
We would be putting this issue on hold until https://github.com/Swati4star/Travel-Mate/issues/24 is fixed.

[2017-10-16 05:48] #3 closed

[2017-10-16 05:53] Swati4star commented on #28
Fixed by https://github.com/Swati4star/Travel-Mate/pull/37
Thanks @codeteo 👍

[2017-10-16 05:53] #28 closed

[2017-10-16 07:18] prabhakar267 commented on #31
I think an appropriate JSON response and an 500 response code would be good enough!

[2017-10-16 16:28] gugakatsi commented on #24
@Swati4star just to mention i am currenty working on it , will push in few minutes.

[2017-10-18 13:10] Swati4star commented on #24
Fixed by https://github.com/Swati4star/Travel-Mate/pull/38

Thanks @gugakatsi 👍

[2017-10-18 13:10] #24 closed

[2017-10-18 13:15] Swati4star commented on #10
This issue seems to be a big one. I will be breaking into multiple units and create multiple issues for different modules.

[2017-10-18 13:16] gugakatsi commented on #10
we could make todolist by modules - [ ]  etc..

[2017-10-18 13:25] Swati4star opened #39 "Refactor destinations module"
As mentioned in the hierarchy in [this](https://github.com/Swati4star/Travel-Mate/blob/master/Features.md) file.

description and fun facts are already there in *destinations* folder.
Move `Tweets` and `PlacesOnMap` activities also to this folder.

[2017-10-18 13:27] Swati4star opened #40 "Refactor travel module"
The following activities need to be moved to travel folder:
`My Trips` , `MyTripsInfo`
`SelectModeOfTransport`
`TrainList`, `BusList`, `CarDirections`
`Hotels`
`ShoppingCurrentCity`
`MapRealTimeActivity`

[2017-10-18 19:25] gugakatsi opened #44 "every activity/fragment should have getStartIntent() / getNewInstance()"
for example :

in Activity :

[code]

or in Fragment

[code]

[2017-10-18 23:58] jvretamero commented on #39
Is this issue about moving classes between packages? Can you give more information?

[2017-10-19 10:24] Swati4star commented on #39
Take reference from https://github.com/Swati4star/Travel-Mate/pull/41

[2017-10-19 10:25] Swati4star commented on #40
Being solved in https://github.com/Swati4star/Travel-Mate/pull/41

[2017-10-25 11:36] Swati4star commented on #22
Closing it for now. Not able to reproduce it. Feel free to open it again, in case you face the same issue.

[2017-10-25 11:36] #22 closed

[2017-10-28 16:03] stupidly-logical commented on #44
May I work on this?

[2017-10-28 21:17] gugakatsi commented on #44
@stupidly-logical sure , go ahead with , make sure u create new branch

[2017-10-29 10:16] trendyupdates opened #47 "Error:Could not find material.aar (com.github.rey5137:material:1.2.1)."
How to solve this error..

[2017-10-29 10:39] gugakatsi commented on #47
@trendyupdates check jar files first , probably someone deleted that lib jar file accidently or idk

[2017-11-01 05:38] haridev22 commented on #31
@prabhakar267 : I am a first timer and I would like to take this up if no one is working on this.

[2017-11-01 09:06] stupidly-logical commented on #44
One issue I encountered while solving this issue is that Activities and Fragments file names are not ending with "Activity"/"Fragment" respectively.
Your views on this : @Swati4star  @gugakatsi ?

[2017-11-01 16:26] gugakatsi commented on #44
@stupidly-logical yeah , they should be , u mean SomeActivity.java right...

[2017-11-01 16:28] stupidly-logical commented on #44
@gugakatsi yes exactly, I'll fix this too. @Swati4star ?

[2017-11-01 16:31] gugakatsi commented on #44
@stupidly-logical i like that idea.

[2017-11-01 17:03] Swati4star commented on #44
@stupidly-logical
Sure, go ahead with it. Make sure the changes are in accordance with the checkstyle rules.

[2017-11-18 07:56] Sumeet-Rukeja commented on #9
Greetings of the day!
I want to contribute to this project and i think i'll be helpful in shifting the project from okhttp to retrofit

[2017-11-19 19:56] gugakatsi commented on #9
@Sumeet-Rukeja sorry for late response , i'll write down tomorrow evening .

[2017-11-24 17:49] Swati4star commented on #47
Was this error resolved?
Closing it for now. Feel free to open on case you get this error again.

[2017-11-24 17:49] #47 closed

[2017-11-25 11:20] Sumeet-Rukeja commented on #9
Hi, any updates on this issue??

[2017-12-12 20:30] gugakatsi commented on #9
@Sumeet-Rukeja , make indepedent package data and inside that remote package , start with destinations module , refactor those okHttp to RetroFit . tell me what you think about that.

[2017-12-17 08:28] Sumeet-Rukeja commented on #9
Ok, i'll start with Destinations module and will use retrofit 2.0+.

[2018-01-20 17:49] Sumeet-Rukeja commented on #9
Hi @gugakatsi @Swati4star, i have completed integrating retrofit in Destinations module and have created a pull request . Please, verify it and let me know about the next module to continue this process.

[2018-01-31 15:44] Swati4star commented on #44
@stupidly-logical Any updates on this issue? Are you working on this?

[2018-02-03 07:08] stupidly-logical commented on #44
@Swati4star Yes, I'll send PR soon

[2018-03-06 16:08] Swati4star commented on #44
this issue is being solved in https://github.com/Swati4star/Travel-Mate/pull/50
thanks @stupidly-logical

[2018-03-26 15:08] mohitjawanjal opened #52 "Dev environment setup and Contribution guide"
Would be very good for First timers. I can work on it.

[2018-03-27 05:52] prabhakar267 commented on #52
@mohitjawanjal You can find setup guide for server [here](https://github.com/Swati4star/Travel-Mate/blob/master/APIs/README.md#setup) and for Android, you can simply start by importing the project in Android studio.

[2018-03-29 07:40] leslieharland opened #53 "How to run project?"
See title

[2018-03-29 08:13] prabhakar267 commented on #53
@leslieharland you can see my comment on #52

[2018-03-29 08:13] #53 closed

[2018-05-16 14:23] zeshan-rana7 opened #55 "App crashes on registration/login"
As soon as I press login or register button, app crashes.

Here are stack traces:
FATAL EXCEPTION: OkHttp Dispatcher
                                                                         Process: tie.hackathon.travelguide, PID: 2617
                                                                         java.lang.RuntimeException: Can't toast on a thread that has not called Looper.prepare()

[2018-05-16 14:28] Swati4star commented on #55
I have added a fix for this issue. We were getting error in the response : "Expected ':status' header not present". Updating okhttp to the latest version fixed this issue.
Closing it for now. If you face any problem, feel free to reopen the issue.

[2018-05-16 14:28] #55 closed

[2018-05-22 18:07] prabhakar267 commented on #31
Closing since already taken up in v2.

[2018-05-22 18:07] #31 closed

[2018-05-27 15:08] Rudloff opened #57 "Crash: Unable to instantiate application"
Hello,

I built 896f06ab7c2adaf4118218fb406de00ec3509109 from source.

When I launch, it crashes with the following error:
[code]

[2018-05-27 16:02] #57 closed

[2018-05-27 16:05] Swati4star commented on #57
Thanks for reporting the issue! 👍

[2018-05-27 16:38] Rudloff commented on #57
It works correctly now, thanks!

[2018-05-27 16:41] Rudloff opened #59 "F-Droid"
Hello,

Would you be interested in publishing this app on [F-Droid](https://f-droid.org/)?

[2018-05-29 09:44] prabhakar267 opened #60 "Change monument detection logic from estimote beacons to GPS location"
Currently monuments or near by attractions are detected using estimote beacons but we decided to remove it to improve usability and scalability of the app.
Instead, use the current GPS location of the user and constantly poll (in certain interval ~600 seconds) the server providing the GPS coordinates and the proximity radius (in meters) to get a list of attractions near-by and accordingly send out

[2018-05-30 12:53] Swati4star commented on #59
@Rudloff Sure! You can add a merge request for this project on FdroidData.

[2018-05-30 17:55] Rudloff commented on #59
Great!

Would it be possible to tag [releases](https://github.com/project-travel-mate/Travel-Mate/releases)?
This makes packaging a lot easier.

[2018-06-01 12:04] Swati4star commented on #59
Hi @Rudloff ! Sure. Just specify the tag format you want me to create. Also, make the app auto update on Fdroid.

[2018-06-01 12:17] Rudloff commented on #59
If we want to enable auto update, the easiest way is to have tags that match the version name of the app (e.g. `2.0` for the current version).

[2018-06-03 15:16] Rudloff commented on #59
Sorry, I just noticed you are using some Play Services libraries: https://github.com/project-travel-mate/Travel-Mate/blob/0f22d564db73c522ac38cff589e445570b41177c/Android/app/build.gradle#L55
Unfortunately, these are not open-source so we can't include it in F-Droid (unless we could build a variant of your app wihtout these libraries but that's probably a lot of work).

[2018-06-03 15:18] Swati4star commented on #59
We need maps in our application. After all, this is a travel app!

[2018-06-03 15:21] Rudloff commented on #59
If you are interested, there are some open-source alternatives to Google Maps like [osmdroid](https://github.com/osmdroid/osmdroid).

I'm sorry, I didn't notice this dependency when I first had a look at your code. But I'm afraid this means we can't publish it on F-Droid.

[2018-06-03 18:42] prabhakar267 opened #61 "Change in user details; Instead of phone number take email address"
For Sign in and Sign up processes, accept **email address** instead of phone number.
#### Reason for change
+ With phone number, we should be authenticating the user by sending a text message or call which is currently not in scope
+ With email address, we can update *(read \*spam\*)* user with latest changes we do in the app and also we can track any feedback sent by the user.
+ In future, we can

[2018-06-04 10:08] Swati4star commented on #40
Fixed in 0e84ab188bff8cae7e290eefc076c96054ce7d18

[2018-06-04 10:08] #40 closed

[2018-06-04 10:08] Swati4star commented on #39
Fixed in 0e84ab188bff8cae7e290eefc076c96054ce7d18

[2018-06-04 10:08] #39 closed

[2018-06-04 10:09] Swati4star commented on #10
The modules have been moved to separate packages in 0e84ab188bff8cae7e290eefc076c96054ce7d18

[2018-06-04 10:09] #10 closed

[2018-06-04 14:23] PauloKanno commented on #60
Hi
I just wanna give you a suggestion: use the "estimote beacons" just as some source of gamefication, to make the users to search & find the places with those items and help them to explore the city.
And please, really do this enhancement purposed on this issue. Using this hardware (estimote beacons) to track monuments is not the best way to do this (and makes your app too costly to keep)
Congrat

[2018-06-05 19:14] anandkumarkparmar commented on #61
Hi @prabhakar267, Can I take this change up, if no one is working yet?

[2018-06-06 03:20] Swati4star commented on #61
Hi @anandkumarkparmar , Yes you can work on it. Replace these fields from the UI.

For API call, you can for now send some random number in the phone number field. We will soon have a new API ( https://github.com/project-travel-mate/server/pull/5) that accepts email address.

[2018-06-06 11:16] Swati4star opened #62 "Open Login screen after user has signed up"
Right now, the user directly gets logged in after sign up.

[2018-06-06 11:19] Swati4star opened #63 "Show an alert after user clicks on sign out"
Show a confirmation alert after user clicks on sign out

[2018-06-06 11:20] Swati4star opened #64 "Remove action bar from Signup / Login screen"

[2018-06-06 11:24] Swati4star opened #65 "App crashes after clicking 'call' button"
Login to the app
Go to Emergency contacts
Click on any 'CALL' button.
The app crashes.

[2018-06-06 17:07] momen-ghulmi commented on #62
I read the code and I have an Idea about what needs to be done
in what branch should I open a pull request for this bug ?

[2018-06-06 17:08] Swati4star commented on #62
Master branch.

[2018-06-08 17:59] Niranjan-B commented on #65
I can take this up. Will open a PR in a couple of hours.

[2018-06-09 14:15] snufflesrea commented on #64
Is this the expected output?
![screenshot from 2018-06-09 22-14-30](https://user-images.githubusercontent.com/15926749/41192581-93781312-6c32-11e8-9ecc-d605fc90bafa.png)

[2018-06-11 10:59] Swati4star commented on #65
Fixed by dea7f6aa9819fe27928078a626aa42169a0f7d29 . Thanks to @Niranjan-B 👍

[2018-06-11 10:59] #65 closed

[2018-06-11 11:01] Swati4star commented on #64
Hi. Yes. But also change the colour of top bar from white to black.

[2018-06-12 09:02] #61 closed

[2018-06-12 09:05] Swati4star opened #71 "Validate user sign up details"
On signup :
- Add checks for a valid and non-empty email id
- Add check for a valid and non-empty password
- Add a different field for first name & last name

Show proper error messages for each.

[2018-06-12 13:03] snufflesrea commented on #63
Will try working on this since it looks easy

[2018-06-12 13:10] Swati4star commented on #63
Sure. Go ahead! Just show an alert saying "Are you sure you want to sign out?"
and 2 options : OK, Cancel

[2018-06-12 14:50] momen-ghulmi commented on #71
there isn't any phone number field in signup

[2018-06-12 18:33] Swati4star commented on #71
@momen-ghulmi Thanks for pointing it out. I have updated the issue description.

[2018-06-12 19:22] momen-ghulmi commented on #71
what are your criteria for a valid password ?

[2018-06-14 05:10] Swati4star opened #74 "Dismiss the loader in login/signup when there is some error"
1. Add some invalid credentials on the login page
2. There is a toast message displayed,  but the loader is still there.

Expected: The loader should be dismissed.

[2018-06-14 09:42] brijeshshah13 opened #75 "Update Gradle version"
**Description**

Update Gradle version from `4.4` to `4.6`.

**Would you like to work on the issue?**

Yes.

[2018-06-14 16:29] Swati4star commented on #75
Fixed by #76. Thanks to @brijeshshah13 👍

[2018-06-14 16:29] #75 closed

[2018-06-14 16:30] Swati4star opened #77 "Change toast to snackbar messages"
change all the toast messages in the app to snackbar messages.

[2018-06-14 16:52] Swati4star opened #78 "Add appropriate icon for utilities in Navigation bar"
The icon right now is of sharing.

[2018-06-14 19:16] brijeshshah13 opened #79 "Build fails due to issue with Android Plugin for Gradle 3.1.2"
**Actual Behaviour**

Building the latest `master` branch fails due to Known Issues with Android Plugin for Gradle 3.1.2.

**Expected Behaviour**

To prevent build from failing, we should downgrade to Android Plugin for Gradle 3.1.1 until a new version fixes it. (3.1.3 also doesn't fix it)

**Steps to reproduce it**

Pull the latest changes of the development branch and try to build the project.

[2018-06-15 03:42] Swati4star commented on #79
Fixed by #80

[2018-06-15 03:42] #79 closed

[2018-06-15 03:44] Swati4star commented on #62
Fixed by #67

[2018-06-15 03:44] #62 closed

[2018-06-15 03:44] Swati4star commented on #63
@snufflesrea Are you working on this one?

[2018-06-15 05:12] brijeshshah13 commented on #63
@Swati4star I would like to work on it if its still up for grabs.

[2018-06-15 05:18] snufflesrea commented on #63
I am working on it

[2018-06-15 05:46] Swati4star commented on #63
@brijeshshah13 This one is in-progress. You can pick up any other issue or create a new one.

[2018-06-15 05:49] Swati4star opened #82 "Unequal height list items on home page"
The items in the 3rd row have the different height than the first two.
![device-2018-06-15-111648](https://user-images.githubusercontent.com/9164477/41452072-b133fc54-708d-11e8-9107-b3a84c1b975e.png)

[2018-06-15 09:32] brijeshshah13 commented on #78
![baseline_event_note_black_18dp](https://user-images.githubusercontent.com/18366144/41461303-fa626b62-70ac-11e8-98a7-dd8d96c279a5.png)

@Swati4star How about this?

[2018-06-15 11:11] brijeshshah13 commented on #74
I'm working on it. Will send the PR shortly.

[2018-06-15 14:43] Swati4star commented on #74
Fixed by 6f4738a9a16b670bd492af21a1827deb2af2fabc
Thanks to @brijeshshah13 👍

[2018-06-15 14:43] #74 closed

[2018-06-15 15:01] brijeshshah13 commented on #78
@Swati4star Any updates on this?

[2018-06-15 15:02] Swati4star commented on #78
Can you suggest a few more icons? This one look more like a calendar

[2018-06-15 15:04] brijeshshah13 commented on #78
Alright. How about this one? https://material.io/tools/icons/?search=travel&icon=card_travel&style=baseline

[2018-06-15 15:05] brijeshshah13 commented on #78
Or this one: https://material.io/tools/icons/?icon=ballot&style=baseline

[2018-06-15 15:28] brijeshshah13 commented on #78
@Swati4star On it!

[2018-06-15 17:34] Swati4star opened #85 "Integrate butterknife everywhere"
There are still a lot of pieces of code where butterknife is not integrated.
`FinalCityInfo`
`TweetsAdapter`
`PlacesOnMap`
`FunfactFragment`
`CityAdapter`
`Checklist`
`ChecklistFragment`
`ShareContact`
`MyTripFriendnameAdapter`
`MyTripInfoImagesAdapter`
`BusAdapter`
`MyTripInfo`
`Hotels`
`ShoppingAdapter`
`TrainAdapter`
`MapRealTimeActivity`
`TripImage`
`MyTripsAdapter`
Use butterknife in above fi

[2018-06-16 14:41] brijeshshah13 opened #86 "Uneven distance between Signup and Login"
**Screenshot**

![device-2018-06-16-200949](https://user-images.githubusercontent.com/18366144/41499660-670e6a00-71a1-11e8-80d4-f43b19b292e7.png)

[2018-06-17 09:47] #86 closed

[2018-06-18 10:58] Swati4star opened #89 "change color of White top bar in activities"
The top bar is white in colour in the following activities:
`checklist, select more of transport, train, bus, car, hotel, online shopping, real-time locator, fun facts`
change it to blue.

Reference:
A similar fix has been resolved in https://github.com/project-travel-mate/Travel-Mate/issues/64.

[2018-06-18 14:52] Swati4star commented on #63
Fixed by #88. Thanks to @snufflesrea 👍

[2018-06-18 14:52] #63 closed

[2018-06-18 16:03] knightcube opened #90 "An option to delete all completed tasks in one go"
- Give the user to delete all completed tasks with one button.
- SnackBar for undoing it should also be made.

[2018-06-18 16:08] knightcube opened #91 "Shopping Screen is not loading items"
In this screen, there are no items getting displayed. In case there is no item there should be an appropriate placeholder image to indicate the same instead of just showing the progress bar.

[2018-06-18 16:14] knightcube opened #92 "Give a rich preview of the links that open up in the browser straight away"
On clicking the hash tags give a rich preview of the URL like WhatsApp before opening it on the browser or the twitter app.
![screenshot_20180619-074937 2](https://user-images.githubusercontent.com/22871961/41572483-aed5dfe4-7395-11e8-8c17-9c7c0551aa58.png)

[2018-06-18 16:23] knightcube opened #93 "Show Restaurants,Monuments, and Shopping Malls with proper icons in the map"
When selecting Monuments,Shopping,Hangout or restaurants from any city detail page there is just a map that comes up. We need some proper location markers to highlight the places that we want to show the user. Currently this is what comes up -
![screenshot_20180625-234406](https://user-images.githubusercontent.com/22871961/41867872-f8990e4e-78d1-11e8-877d-0610dca65c88.png)

[2018-06-18 16:28] knightcube opened #94 "Use Room Persistence Library to reduce boilerplate codes in SQLite"
Use Room Persistence Library in order to store data in SQLite database with less boilerplate code using annotations commonly used while implementing Room i.e @Entity, @Dao,@Database,etc

[2018-06-18 16:37] knightcube opened #95 "Use ViewHolders in Adapters to contain all the findViewById's"
It is always considered a best practice to actually contain all findViewByIds calls in ViewHolders. It is much more efficient than calling findViewById inside getView method of ArrayAdapter

[2018-06-18 16:53] Swati4star commented on #95
This issue can be clubbed with https://github.com/project-travel-mate/Travel-Mate/issues/85
Whoever works on this issue should take care of both.

[2018-06-18 16:55] Swati4star commented on #91
Just add a text view showing 'No items available' when we receive nothing in response.

[2018-06-18 17:41] Swati4star opened #96 "Dismiss the loader & show apprpriate message when there is no internet"
1. Turn off the internet connection
2. Open travel mate app
3. Just the progress bar is displayed & no error message is displayed.
**Expected : ** Show appropriate snackbar message & dismiss the progress bar.

[2018-06-18 17:42] prabhakar267 opened #97 "Change GPS options; Instead of taking the user to settings have an option to switch on GPS there itself"
If GPS is turned off, instead of having a dialog to direct user to Settings page, instead have dialog to enable GPS there itself.
### Reference
https://stackoverflow.com/questions/29801368/how-to-show-enable-location-dialog-like-google-maps

### Current behaviour
![](https://user-images.githubusercontent.com/10768588/41552473-7862240c-734c-11e8-93a3-c3e74be33be9.jpeg)

### Expected behaviour
![](h

[2018-06-18 17:45] prabhakar267 opened #98 "Have a "report a bug" tab in the app"
In the side panel, have a tab where user can report a bug.
To start with, it should have a text box, where user can type in his issue and then make a POST request to server

[2018-06-18 17:53] Niranjan-B commented on #98
I can take this up. I would have written the API as well if it was a Node Server.

[2018-06-18 17:54] prabhakar267 commented on #98
@Niranjan-B  (un)fortunately it's in Django (Python)

[2018-06-18 17:56] Niranjan-B commented on #98
@prabhakar267 Haha yes. I'll write up the client code.

[2018-06-18 18:03] prabhakar267 opened #99 "Don't make an API call for add-friend when no user is selected"
If we do not have any user selected on the trip, and click on `Add new friend`, we get this kind of response. Instead we should not be making this particular API call.

![](https://user-images.githubusercontent.com/10768588/41553626-f1515bfa-734f-11e8-8b7c-6e2905b0bf54.jpeg)

[2018-06-19 05:06] Swati4star commented on #98
Create a new option in the navigation panel of 'Report a bug'. On this fragment, add 2 options :
1. **Bug type** ( this will be a spinner : crash, feature request, other)
2. **what's the isuue?** (A big text box for user to type the message )
**Report** : This will be a button that makes a post call (just write nothing in the API link right now.. We'll add the API link when it's ready)

[2018-06-19 07:00] prabhakar267 commented on #98
@Swati4star we can have a shared (between client and server) enum for `bug_type`

[2018-06-19 07:06] Swati4star commented on #93
The description is not clear. @knightcube, Can you specify what you want exactly by posting some screenshots?

[2018-06-19 07:07] Swati4star commented on #98
Sure. Just specify the bug_type enum values here.

[2018-06-19 07:10] Niranjan-B commented on #98
I had a query w.r.t to the POST req params. I'm assuming the "feedback id" and "created date" would be taken care by the server code?

[2018-06-19 15:51] Swati4star commented on #99
Fixed in 9b76f2931a8bb963053c27d3124b2deed1152a59 👍

[2018-06-19 15:51] #99 closed

[2018-06-21 14:22] Swati4star commented on #98
Yes. These parameters will be taken care of by the server only.

[2018-06-23 07:42] samsteve2020 opened #101 "Need a PDF format(Black book)"
Can i get a black book ( a pdf format of this project) which will help for my final year project.

[2018-06-23 08:04] prabhakar267 commented on #101
Umm, ever heard of something called "do your homework on your own?"

[2018-06-23 08:04] #101 closed

[2018-06-23 09:28] syedjahangirpeeran commented on #82
I would like to contribute to it. @Swati4star ,@prabhakar267  can you please tag all issues based on GSSoc difficulty level?

[2018-06-23 10:02] Swati4star commented on #82
Sure. You can start working on this issue. :+1:

[2018-06-23 10:48] Swati4star commented on #98
@Niranjan-B Are you working on it?

[2018-06-23 12:46] #82 closed

[2018-06-23 12:47] Swati4star commented on #82
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/102
Thanks to @syedjahangirpeeran 👍

[2018-06-23 13:32] Pritom14 commented on #96
I would like to work on this issue

[2018-06-23 13:45] Swati4star commented on #96
@Pritom14 Sure. Go ahead!

[2018-06-23 13:52] syedjahangirpeeran commented on #89
I would like to work on it!

[2018-06-23 13:54] Swati4star commented on #89
Sure. You can start with this one.

[2018-06-23 15:51] #89 closed

[2018-06-23 15:52] Swati4star commented on #89
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/103
Thanks to @syedjahangirpeeran 👍

[2018-06-23 17:18] brijeshshah13 opened #104 "Change default welcome screen from Sign up to Log in"
**Actual Behaviour**

Currently, the default launcher screen is of Sign up. However, it should be Log in screen. Even after the user logs out, he is shown the sign up screen instead of log in screen. This reduces the user retention and he has to select the login button every time to sign in.

**Expected Behaviour**

Launcher screen should be Login instead of Signup.

[2018-06-23 17:31] Swati4star commented on #104
Sounds good. You can start working on it.

[2018-06-23 17:32] knightcube opened #105 "Add Google Sign in , in the Login Screen"
A Google sign in button would make the UX so much smoother for a new user to login fast.

[2018-06-23 17:33] Swati4star commented on #105
We need server side integration also for this issue.

[2018-06-23 17:34] knightcube commented on #105
Yup, since this is android based i think we can keep the issue open until the backend code gets updated

[2018-06-23 17:35] Swati4star commented on #105
Sure. I'll create a similar issue for server repo for Facebook & Google logins.

[2018-06-23 17:36] knightcube opened #106 "Add a Forgot password link"
Adding a Forgot Password link in the Login Screen so that the user gets a mail regarding the same and he is able to reset the password using that link.

[2018-06-23 17:42] knightcube opened #107 "Show user name of Logged in user in Navigation Drawer"
The navigation drawer should show the name and the email of the Logged in user

[2018-06-23 18:27] brijeshshah13 opened #109 "Add Issues and Pull Request templates to the project"
**Actual Behavior**

Currently neither Issues nor PR template exist for the project.

**Expected Behavior**

Create Issues and PR templates.

**Steps to reproduce it**

Create an issue or PR.

**Would you like to work on the issue?**

Yes.

[2018-06-23 18:43] Swati4star commented on #109
Fixed by 934f85849cea88d278d838a6bfd9e9dff6edb402
Thanks for the suggestion 👍

[2018-06-23 18:43] #109 closed

[2018-06-23 18:45] adi44 commented on #107
I would like to try

[2018-06-23 18:45] Swati4star commented on #107
Sure. Go ahead 👍

[2018-06-23 19:18] brijeshshah13 opened #110 "No functionality to toggle password visibility while logging in/signing up"
Describe your issue here.

### Steps to reproduce
Check out the Login and Signup screens.

### Expected behaviour
Facility to toggle visibility of the password should be provided.

### Actual behaviour
Current application does not have the feature to toggle the password visibility by the user to view the typed password.

### Would you like to work on the issue?
Yes.

[2018-06-23 20:20] shiv07tiwari commented on #77
Can I start working on this issue under GSSoC ?

[2018-06-24 03:48] knightcube commented on #77
@shiv07tiwari yes you can start working on this issue and yes there are Toast messages in the source code.

[2018-06-24 04:02] syedjahangirpeeran commented on #71
I would like to work on it

[2018-06-24 04:08] Swati4star commented on #71
@momen-ghulmi Are you working on this one?

[2018-06-24 04:10] Swati4star commented on #110
Add the eye icon by the side of password field. On clicking it, the password should toggle.

You can start working on it.

[2018-06-24 06:12] Pritom14 commented on #97
I would like to work on this issue

[2018-06-24 06:17] Swati4star commented on #97
Sure. Go ahead.

[2018-06-24 06:46] brijeshshah13 opened #114 "Remove extra Signup/Login option from Signup/Login screen"
Currently, `Signup` and `Login` options are provided in the respective `Signup` and `Login` screens even though the user is currently on that screen. This doesn't makes sense.

### Steps to reproduce
Land on the Signup or Login screen.

### Expected behaviour
On the `Signup` screen, only the Login option should be provided and likewise for the `Login` screen.

### Actual behaviour
Both options are

[2018-06-24 06:48] Swati4star commented on #114
This doesn't seem to be a valid issue. This is by design. A lot of apps do have this only.

[2018-06-24 06:51] brijeshshah13 commented on #114
@Swati4star When on the Signup screen, please click on the `Signup` button. It doesn't has any use there as the user is already on the Signup screen. Similarly for the Login screen. Doesn't this seem to be a valid issue?

[2018-06-24 07:08] brijeshshah13 commented on #90
@knightcube @Swati4star Is this option to be provided as a menu item in the top right corner?

[2018-06-24 07:11] Swati4star commented on #90
Yes

[2018-06-24 07:13] brijeshshah13 commented on #114
@Swati4star Any final decision on this issue?

[2018-06-24 07:18] Swati4star commented on #114
Hold on to this one. Let me search for some other UI for this.
I am thinking :
For login screen, we can have something like, "Not registered yet? Cretae new account". Make create new account a button, which takes you to sign up screen.
For sign up Screen, we can have "Already a member? Login". Make login a button here.

Any take on this UI?

[2018-06-24 07:20] brijeshshah13 commented on #114
@Swati4star I agree with the your idea. We need to just change the text to the one you mentioned.

[2018-06-24 07:39] Swati4star commented on #114
You can implement this issue & share the screenshot here. We'll decide on it then.

[2018-06-24 07:45] brijeshshah13 commented on #114
Login page:

![screenshot_20180624-131419](https://user-images.githubusercontent.com/18366144/41817026-987febb2-77b0-11e8-84bd-54d9ba289deb.png)

Signup page:

![screenshot_20180624-131413](https://user-images.githubusercontent.com/18366144/41817029-a1138036-77b0-11e8-9ca1-6e73eb4942a7.png)

Changes have been done. Shall I send the PR of the same?

[2018-06-24 07:54] Swati4star commented on #114
Correct the spelling of create.
Can you underline the texts? It'll make them look like they are links.

[2018-06-24 08:02] brijeshshah13 commented on #114
Updated pics:

![screenshot_20180624-133047](https://user-images.githubusercontent.com/18366144/41817154-e98172ae-77b2-11e8-81d1-4a154eebb4df.png)

![screenshot_20180624-133053](https://user-images.githubusercontent.com/18366144/41817156-eae0a106-77b2-11e8-9997-c4981381be5b.png)

[2018-06-24 08:02] Swati4star commented on #114
Looks good. You can open a PR for this now.

[2018-06-24 08:12] #114 closed

[2018-06-24 08:15] samsteve2020 commented on #101
im not asking to copy the whole project
black book will give the perfect picture of the project thats why

[2018-06-24 08:18] Swati4star commented on #114
Fixed in https://github.com/project-travel-mate/Travel-Mate/pull/115 👍

[2018-06-24 08:33] Swati4star opened #116 "[New Feature] Add contributors list"
- Add a new option in the navigation panel, `Contributors`
- It should contain a list of contributors as received from this API
https://github.com/project-travel-mate/server/issues/20

[2018-06-24 08:39] Swati4star opened #117 "[New Feature] Add world clock to utilities"
Add a new option in utilities : `World Clock`
- The World Clock should show current local time, date, world time & weather in cities and countries across the world.
- Add option to select country
- Digital and analog clock, both option should be available

[2018-06-24 08:44] Swati4star opened #118 "[New Feature] Add checklist widget to home screen"
We already have checklist utility in our application. Create a widget for the same.

Reference:
- https://developer.android.com/guide/topics/appwidgets/
- https://www.androidauthority.com/create-simple-android-widget-608975/

[2018-06-24 09:01] brijeshshah13 commented on #90
@Swati4star Should it be inside the drop-down menu (3 dots icon) or directly outside?

[2018-06-24 09:02] Swati4star commented on #90
directly outside. (s this would be the only option right now)

[2018-06-24 09:10] knightcube opened #119 "Test issue"
Describe your issue here.

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Would you like to work on the issue?
Tell us if you would like to work on this issue

[2018-06-24 09:10] #119 closed

[2018-06-24 09:21] Swati4star opened #121 "[New feature] User profile page"
Create a profile icon on the top of naviagtion bar
When user clicks on that, open up a new page `user-profile`
Show all the user details in that page.

[2018-06-24 11:55] samyak8853 commented on #121
i can do it

[2018-06-24 11:59] Swati4star commented on #121
Sure

[2018-06-24 11:59] samyak8853 commented on #106
i can do it

[2018-06-24 12:01] Swati4star commented on #106
You can work on the other issue first.

[2018-06-24 12:11] samyak8853 commented on #121
please give the time limit for it so i can manage my time.

[2018-06-24 12:14] Swati4star commented on #121
You can submit it by this Tuesday.

[2018-06-24 13:09] samyak8853 commented on #121
I didn't read the technologies used here  and i know to profile page create by javascript, html ,css.So i unable to do it.

[2018-06-24 13:33] brijeshshah13 opened #122 "Provide support for Java 8 language features"
### Steps to reproduce
N/A.

### Expected behaviour
Provide the support so that major features like `Lambda expressions`, `Default and static interface methods`, etc. can be put to use in the development.

### Actual behaviour
Not yet provided.

### Would you like to work on the issue?
Yes.

[2018-06-24 13:35] Swati4star commented on #97
Yes. My bad. I didn't see that @Pritom14 was working on other tissue too. Let him work on this one this time. I'll take care of it next time

[2018-06-24 14:04] Swati4star commented on #121
Well, you should atleast look at the project code & what the product is, before asking to take up the issue.

This issue is open to take-up for others now.

[2018-06-24 14:11] syedjahangirpeeran commented on #121
Can you elaborate user details? like name and ??

[2018-06-24 14:28] syedjahangirpeeran commented on #117
I will go with #121 first.

[2018-06-24 14:30] syedjahangirpeeran commented on #121
Can I start working on this @Swati4star ?

[2018-06-24 14:30] Swati4star commented on #121
Yes. Sure 👍

[2018-06-24 15:35] Swati4star commented on #122
What exactly would be required for enabling this support?
Share an appropriate link or something

[2018-06-24 15:41] brijeshshah13 commented on #122
@Swati4star Here, https://developer.android.com/studio/write/java8-support

[2018-06-24 15:49] Swati4star commented on #122
So, are you thinking of adding the support only, or using the Java 8 features too in this PR?

[2018-06-24 15:53] brijeshshah13 commented on #122
@Swati4star I thought of adding the support and converting possible methods to lambda expressions, where possible.

[2018-06-24 16:01] Swati4star commented on #122
Sure. You can start working on this one. 👍

[2018-06-24 16:16] Swati4star opened #123 "Confirm Password field"
- On Signup screen, add a confirm password field.
- Add validation to check if password & confirm password values are equal.

[2018-06-24 18:10] #122 closed

[2018-06-24 18:10] Swati4star commented on #122
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/124

[2018-06-24 19:36] Pritom14 commented on #97
Really sorry on taking up two issues at the same time. When I submitted my earlier PR, I didn't check the travis error, so took up this issue. Will try to careful next time

[2018-06-24 20:58] syedjahangirpeeran commented on #121
How to retrieve data from Shared preferences this code isn't working:
[code]

[2018-06-25 04:29] shreyag12 commented on #123
Hi! I would like to work on this but how to set up the project locally. Couldn't find any contributing guidelines.

[2018-06-25 05:31] Swati4star commented on #123
@shreyag12
You can clone the project & import the Android folder in the `Android Studio`
Build & run the project. It should work.

Are you gonna work on this?

[2018-06-25 06:01] Swati4star commented on #121
See here : https://github.com/project-travel-mate/Travel-Mate/blob/master/Android/app/src/main/java/io/github/project_travel_mate/login/LoginActivity.java#L141

Change you code to get `USER_EMAIL`

Also, we are not keeping user name in sharedPreferences, add some placeholder name for now.
( we will replace it with the string received from the API. https://github.com/project-travel-mate/server/issu

[2018-06-25 07:04] brijeshshah13 commented on #90
@Swati4star How about we display an `AlertDialog` before deleting all the tasks instead of the `Snackbar` as it reduces the complexity of temporary storing the records of the tasks from the table.

[2018-06-25 07:35] shreyag12 commented on #123
Ok. Is it for an android app, I thought the issue was for web app in Django?

[2018-06-25 08:01] Swati4star commented on #90
@brijeshshah13
1. Show the confirmation dialog before deleting the tasks
2. But, the option to undo this should also be there. and snackbar is the best option for this.

[2018-06-25 08:03] Swati4star commented on #123
You can check the language for the repo. It is `Java`. That definitely means this in Android issue.

Also, all the server related issues of Travel-Mate are there on https://github.com/project-travel-mate/server

[2018-06-25 08:04] Swati4star commented on #97
👍
You can start with this issue now. @Pritom14

[2018-06-25 16:49] brijeshshah13 commented on #90
@Swati4star Can we divide this issue into the following sub-tasks, each of `cakewalk` level?

1. Display confirmation dialog and delete the tasks.
2. Display Snackbar to provide the Undo functionality

Because the second one is taking some time.

[2018-06-25 17:18] knightcube commented on #90
I dont think we should do that because we this issue has the intermediate label and breaking it into two separate cakewalk issues would ultimately add upto 20 points anyway.

[2018-06-25 17:21] brijeshshah13 commented on #90
@knightcube I agree. But the second requires some time, however, the first one I've already implemented. We can atleast that functionality right away.

[2018-06-25 17:52] Swati4star commented on #90
I agree with @knightcube
Take your time & implement both the functionalities together.

[2018-06-25 18:04] brijeshshah13 commented on #123
@Swati4star I haven't claimed the Snackbar issue yet so can I work on this one first?

[2018-06-25 18:06] Swati4star commented on #123
Sure @brijeshshah13 . Go ahead with this one. 👍

[2018-06-25 18:07] brijeshshah13 commented on #123
Alright. I'm claiming this one 👍

[2018-06-25 18:08] knightcube opened #128 "Image not displaying"
Describe your issue here.

### Steps to reproduce
Tell us how to reproduce this issue.
1)From the Home Screen where all the cities are listed out
2)Select Hyderabad
### Expected behaviour
Image should load in the corresponding detail screen

### Actual behaviour
Image does not load in the corresponding detail screen

### Would you like to work on the issue?
Tell us if you would like to work on thi

[2018-06-25 18:10] Swati4star commented on #107
@adi44 Are you working on this issue?

[2018-06-25 18:12] Swati4star commented on #77
@shiv07tiwari These are the activities where we have toast messages : https://github.com/project-travel-mate/Travel-Mate/search?q=Toast&unscoped_q=Toast

..and are you working on this issue?

[2018-06-25 18:12] knightcube opened #129 "Fun facts does not load results"
Describe your issue here.

### Steps to reproduce
Tell us how to reproduce this issue.
1)From the Main screen select any city
2) From the city's detail screen select Fun Facts tile

### Expected behaviour
Fun facts should get displayed

### Actual behaviour
Fun facts are not getting displayed

[2018-06-25 18:14] Swati4star commented on #129
Right now, we don't have fun facts for every city.
I'll hide the fun facts option for the city which don't have any fun facts.

[2018-06-25 18:15] brijeshshah13 commented on #123
@Swati4star If password and confirm password do not match, then what should be the behavior?

[2018-06-25 18:16] Swati4star commented on #123
Just show a snackbar/toast message showing that they don't match.

Also, add the eye icon to both of them.

[2018-06-25 18:19] knightcube commented on #93
Yes sorry for the late reply....saw your comment a little late

[2018-06-25 18:19] knightcube commented on #93
Mc

[2018-06-25 18:20] knightcube commented on #129
Okay we can keep this issue open and address it later once we have all the fun facts updated

[2018-06-25 18:21] Swati4star commented on #129
I have assigned it to myself only. I'll look into this one.

[2018-06-25 18:30] knightcube commented on #92
Another work around can be fetching a set of 5 most recent tweets of a particular hashtag and displaying it to user inside the app thus increasing user engagement

[2018-06-25 18:36] Swati4star commented on #92
This sounds better. We can come up with new UI for this. Let me think for a while, and I'll also post my suggestions here. You may too.

[2018-06-25 18:57] #123 closed

[2018-06-25 18:59] Swati4star commented on #123
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/130
Thanks to @brijeshshah13 👍

[2018-06-25 19:10] brijeshshah13 commented on #71
@Swati4star @momen-ghulmi hasn't replied since 2 days and I believe @syedjahangirpeeran is dealing with some other issue. Is this still up for grabs?

[2018-06-25 19:19] Swati4star commented on #71
Actually, his PR was almost ready https://github.com/project-travel-mate/Travel-Mate/pull/73

That's why I was waiting for him to reply. Let's wait till tomorrow. If he doesn't reply by tomorrow. We'll consider him not working on this issue & make it up for grabs.

[2018-06-25 19:26] knightcube opened #132 "UI suggestion/mock-up for city trends feature"
Come up with an awesome looking UI designed in adobe xd or sketch or whichever design tool that you want to use. Keep in mind that whatever colors you use should be like different shades of blue used in the logo of the app. Ofcourse you can have one complementary color as an accent color.
Once you are done simply post your UI design in the comments below as a png file. Keep in mind that we are jus

[2018-06-25 19:26] knightcube opened #133 "UI suggestion/mock-up for checklist feature in utilities"
Come up with an awesome looking UI designed in adobe xd or sketch or whichever design tool that you want to use. Keep in mind that whatever colors you use should be like different shades of blue used in the logo of the app. Ofcourse you can have one complementary color as an accent color.
Once you are done simply post your UI design in the comments below as a png file. Keep in mind that we are jus

[2018-06-25 21:17] shiv07tiwari commented on #77
Okay !
Working on it :)

[2018-06-26 05:53] #97 closed

[2018-06-26 06:55] Pritom14 commented on #117
Would like to work on this, if @syedjahangirpeeran isn't working on it

[2018-06-26 07:00] Swati4star commented on #117
Yes you can. He is working on user profile page right now.

[2018-06-26 10:02] brijeshshah13 commented on #116
@Swati4star Please provide a sketch or sample UI of how the contributors are to be displayed.

[2018-06-26 10:06] Swati4star commented on #116
I'll provide a UI by tonight. If you have something in mind, you can post it here.

[2018-06-26 10:08] brijeshshah13 commented on #116
@Swati4star Sure 👍

[2018-06-26 14:19] Swati4star commented on #121
Fixed via https://github.com/project-travel-mate/Travel-Mate/pull/126 by @syedjahangirpeeran 👍

[2018-06-26 14:19] #121 closed

[2018-06-26 14:33] Swati4star commented on #107
@adi44 You asked to take up this issue 3 days ago. This is a really simple issue, shouldn't have taken more than a day.
I am marking it as up-for-grabs again.

[2018-06-26 14:46] brijeshshah13 commented on #116
@Swati4star Btw, please assign this task to me. I will get started with it as soon as you provide the UI.

[2018-06-26 14:48] Swati4star commented on #116
The API is also not ready yet. You won't be able to work on this issue before that.

[2018-06-26 14:50] brijeshshah13 commented on #116
@Swati4star I don't think we need to implement this in our back-end server as we can directly call the GitHub API for the same.

[2018-06-26 15:21] Swati4star commented on #116
@brijeshshah13 We can have the UI like this :
- On clicking the individual items, open up their github profile should open up
- On 'See More', show all the remaining contributors
- On the last item, when user clicks on the card, Open `project-travel-mate`  organization link.
- PS, the icon next to `Github` in the end is Octocat icon :octocat:
![img_20180626_204814](https://user-images.githubuserco

[2018-06-26 15:46] brijeshshah13 commented on #116
@Swati4star Where in this will the number of contributions of each person is to be displayed?

[2018-06-26 16:20] Swati4star commented on #116
By the right side of the name? Try out if that looks okay.

[2018-06-26 16:26] Swati4star commented on #129
Fixed by 0f2924b6f91126c5d13d235a1cc0ebac1c06912c

[2018-06-26 16:26] #129 closed

[2018-06-26 16:26] Swati4star commented on #128
Fixed by 0f2924b6f91126c5d13d235a1cc0ebac1c06912c

[2018-06-26 16:26] #128 closed

[2018-06-26 16:33] Swati4star commented on #71
@brijeshshah13 @syedjahangirpeeran This issue is up-for-grabs now. You can pick it up (if you are not holding any other issue)

[2018-06-26 16:34] syedjahangirpeeran commented on #71
i would like to take it

[2018-06-26 16:36] Swati4star commented on #71
Sure 👍

[2018-06-26 16:36] Swati4star commented on #71
You can take help from the #73 PR

[2018-06-26 16:43] Swati4star opened #135 "Show multiple images in city info page"
- We get an array of images for a particular city from the server.
- Use that array to show multiple images in city info page
- Right now, we show only 1 image at the top. Change that to create slideshow of the images we have received.

Reference:
https://github.com/project-travel-mate/Travel-Mate/blob/0f2924b6f91126c5d13d235a1cc0ebac1c06912c/Android/app/src/main/java/io/github/project_travel_mate

[2018-06-26 17:56] Swati4star opened #136 "[New Feature] Weather forecast"
- Go to a city info page & it shows weather.
- When you click on the weather, show the weather forecast
- Use weather forecast API to show weather for next few days.
The endpoint for API is : `/api/get-multiple-days-weather/4/chennai`
- The UI should be like this:
<img width="391" alt="screen shot 2018-06-24 at 10 15 53 pm" src="https://user-images.githubusercontent.com/9164477/41929580-2e48583c-7

[2018-06-26 17:58] syedjahangirpeeran commented on #71
![screenshot_20180626-231854](https://user-images.githubusercontent.com/26850482/41930428-a514514e-7998-11e8-8f89-41aeee4d0139.png)

[2018-06-26 18:06] Swati4star commented on #71
@syedjahangirpeeran Any questions?

[2018-06-26 18:07] syedjahangirpeeran commented on #71
I submitted the PR.

[2018-06-26 18:13] amy6 commented on #107
I'd like to take this up.

[2018-06-26 18:34] Pritom14 commented on #117
![36227211_1980981515547282_412935318526754816_n](https://user-images.githubusercontent.com/16569570/41931905-1af724dc-799d-11e8-822d-4b6bc8c098ca.jpg)
This is a rough display of `World Clock` in `Utilities`.
First I will be arranging the cities according to names and each of the rows will be filled with the name of the city and the current digital time.
Second on clicking one of the rows of the `

[2018-06-26 18:43] Swati4star commented on #117
@Pritom14
On the second page, don't show the weather report
Show `analog clock`, `time in digital format`, `day`,
...and other information like, how ahead/behind is it as compared to my current time zone.

Other than this, it looks great. 👍

[2018-06-26 18:51] Pritom14 commented on #117
Okay, so, where do I show the weather report?
And will this design be good?
![36291211_1980994568879310_3732645455775924224_n 1](https://user-images.githubusercontent.com/16569570/41932899-fc7be22e-799f-11e8-9f2d-f7297f60c075.jpg)

[2018-06-26 21:12] shiv07tiwari commented on #77
@Swati4star  Shouldn't we keep Toasts as is it inside the LocationService, as the snackbar needs a view to be displayed ?

[2018-06-27 05:52] #107 closed

[2018-06-27 05:55] Swati4star commented on #77
You can leave the toasts that are inside location service.

[2018-06-27 05:57] Swati4star commented on #117
This is just world clock. You don't need to show weather report here.
and this design does look good 👍

[2018-06-27 05:59] Pritom14 commented on #117
Okay, I will start working on it.

[2018-06-27 06:18] amy6 commented on #95
I'd like to work on this along with #85

[2018-06-27 06:21] Swati4star commented on #95
@snufflesrea is doing this for hotels module. You can leave that module & do it for all the other modules. 👍 @amy6
I'll mark this issue `in-progress`

[2018-06-27 06:38] Swati4star commented on #116
Waiting in this issue till the API for contributors is ready...

[2018-06-27 06:59] brijeshshah13 commented on #44
@Swati4star Can I start working on this?

[2018-06-27 07:00] Swati4star commented on #44
Sure @brijeshshah13 👍

[2018-06-27 07:37] brijeshshah13 commented on #44
@Swati4star What is `User` as stated in the example in the beginning?

[2018-06-27 07:38] Swati4star commented on #44
Specify the line of code you are referring to

[2018-06-27 07:39] brijeshshah13 commented on #44
Parameter passed in `public static Intent getStartIntent(Context context, User user)` and `public static UserFragment newInstance(User user)`

[2018-06-27 07:50] Swati4star commented on #44
That was just an example.
For city related fragment/activities, pass `City` object
Whatever seems to be relevant to be passed to the corresponding activity/fragment, add that parameter. If nothing seems to be relevant, don't add any parameter.
@brijeshshah13

[2018-06-27 09:38] brijeshshah13 commented on #44
@Swati4star Thinking it in detail, do we really require `getStartIntent()` for Activities because when we will be wanting an Intent for a certain activity, we are passing the Context and reference of the Activity anyway. Plus, if we implement this for Acitivities, we will be creating 2 copies of Intent even though one is enough. To the best of my knowledge, I think we should implement this functio

[2018-06-27 09:44] Swati4star commented on #44
@brijeshshah13
The benefit of creating it for activities:
- Cleaner code
- Less code repetition. (In case `n` activities are calling `X` activity)
- Promotes abstraction: handle complexity by hiding unnecessary details from other classes(Activities).

And about 2 copies, we won't be having 2 copies. At any point in time, there will be only 1 copy in the memory.

[2018-06-27 09:59] brijeshshah13 commented on #44
@Swati4star Thank you for listing down the advantages. On it.

[2018-06-27 12:04] aayushinigam commented on #94
I would like to work on this.

[2018-06-27 12:05] knightcube commented on #94
Go for it👍

[2018-06-27 14:45] Swati4star opened #140 "Move My Trips to navigation bar"
To view MyTrips, the user has to:
- Open up navigation bar
- Select `Travel`
- Then, Go to `My Trips`
The discoverability of this feature is low.
What to do?
- Move `My Trips` to navigation bar
- Right now it is activity, convert it to a fragment
- Remove it from `Travel`

[2018-06-27 14:50] Swati4star opened #141 "Use API to fill information in profile page"
Right now, the information in profile page is static.

What to do?
- Call `api/get-user` endpoint to get user's details
- Fill the username & image using the response of API
In case the image is null, show the default image only.
- The information for `joined-on` is not available right now. ( being worked on in https://github.com/project-travel-mate/server/issues/30 )

[2018-06-27 14:55] Swati4star opened #142 "[UI bug] UI quirk in the card items"
There is a UI quirk in the card items. There is extra black space by the right & left of these card items:
<img width="328" alt="screen shot 2018-06-27 at 8 22 59 pm" src="https://user-images.githubusercontent.com/9164477/41982034-04398d06-7a48-11e8-8d54-24931ed8590a.png">
<img width="311" alt="screen shot 2018-06-27 at 8 23 09 pm" src="https://user-images.githubusercontent.com/9164477/41982035-04

[2018-06-27 16:56] brijeshshah13 commented on #44
@Swati4star By using the same method name `getStartIntent()` for all activities will result into confusion as it will be directly called, so shall I add the name of the activity in the method?

[2018-06-27 17:01] Swati4star commented on #44
the method will be static, so it will be called using the ClassName of particular activity/fragment. I don't think it will create confusion. Rather, it would make it easier.

[2018-06-27 17:04] brijeshshah13 commented on #44
That will be for Fragments, when I use `activity_name.getStartIntent()`, Android Studio tells me to directly refer the method without using the reference of activity `getStartIntent()` as it will directly import that method. Still, I can use the former syntax though. Shall I go with it?

[2018-06-27 17:05] Swati4star commented on #44
Yes, Use `activity_name.getStartIntent()` this syntax. Will be more readable.

[2018-06-28 05:17] Swati4star commented on #98
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/146 👍

[2018-06-28 05:17] #98 closed

[2018-06-28 05:40] Swati4star commented on #44
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/144

[2018-06-28 05:40] #44 closed

[2018-06-28 15:25] aayushinigam opened #148 "Checklist appears same in different accounts accessed from same device."
Changes made to checklist in one account appears in a different one if they are accessed from same device.

### Steps to reproduce
1.Login
2.Make changes to checklist.
3.Login from a different account.
4.Move to Checklist Option
You'll find the same checklist as was in previous account.

### Expected behaviour
Checklist should appear according to the changes made in a particular account.

### Woul

[2018-06-28 15:28] Swati4star commented on #148
How would you like to go on this one?
We don't have anything saved on the server related to checklist right now. It's just a local database.

[2018-06-28 15:29] knightcube commented on #148
Yeah it is being saved locally rather than in server.
You are currently working in issue #94. Once that is done then you can go ahead with this issue

[2018-06-28 15:56] Swati4star opened #149 "Allow users to select City Name in hotels page"
- Go to Navigation bar, click on `Travel`
- Select `Hotel Booking`
- Allow users to select a city

What to do?
- On the top, there is a bar showing `Showing Mumbai Hotels`.
- When user clicks on that bar, open a dialog ( popular with a list of popular cities from our server )
- Also add a search bar on that dialog that searches for the city starting with the typed name

Endpoints to use :
- `get-a

[2018-06-28 16:03] Swati4star opened #150 "Add option to view as list in Map activities"
What is the issue?
- Go to Navigation bar, then `Travel`, then `Real Time Locator`, or
- Select on any destination, then `Hangouts`, `Monument` or any other map item,
On going to any of above two, the map opens up with a lit of items.
Viewing all the items on map becomes a bit difficult

What to do?
- Add another option on the same page to view the items as list too
- Add this option in the naviga

[2018-06-28 16:23] aayushinigam commented on #148
Actually I encountered this issue while working on issue #94. I was checking functionality and encountered this one. So I opened this issue.

[2018-06-28 17:34] brijeshshah13 commented on #141
@Swati4star Shall I integrate Gson library so that we can use Java classes as Models to parse JSON response from the server?

[2018-06-28 17:36] Swati4star commented on #141
Yeah sure! @brijeshshah13

[2018-06-28 17:58] brijeshshah13 commented on #141
@Swati4star The `username` is already being fetched from the SharedPreferences. So why are we fetching it again from the `get-user` again?

[2018-06-28 18:01] knightcube commented on #90
Are you workingb

[2018-06-28 18:04] brijeshshah13 commented on #90
@knightcube I already working on an another one. It's up for grabs 👍

[2018-06-28 18:47] syedjahangirpeeran commented on #140
I would like to work on this

[2018-06-28 19:31] syedjahangirpeeran commented on #142
I would like to take this

[2018-06-28 19:31] syedjahangirpeeran commented on #140
Sorry I will work on #142 first.

[2018-06-29 03:06] Swati4star commented on #141
-The problem is `username` is not being saved at the time of signup right now.
-Also, we don't have username in case user just login through our app.
-

[2018-06-29 04:16] Swati4star commented on #142
Sure :+1:

[2018-06-29 05:22] #71 closed

[2018-06-29 05:22] Swati4star commented on #71
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/151

[2018-06-29 05:42] syedjahangirpeeran commented on #93
Actually all the places(selecting Monuments,Shopping,Hangout or restaurants from any city) are showing the same location in map.

[2018-06-29 05:43] #142 closed

[2018-06-29 05:44] Swati4star commented on #93
Did you check the response from here API?

[2018-06-29 05:50] #93 closed

[2018-06-29 06:04] syedjahangirpeeran commented on #93
No, but in app it is showing the same map for every city and the locate buttons aren't working.

[2018-06-29 06:34] Swati4star commented on #93
I'll look into it & create relevant issues for the same. You can work on any other issue.

[2018-06-29 06:34] Swati4star commented on #140
Sure. Go ahead 👍

[2018-06-29 06:52] Pritom14 commented on #117
@Swati4star , this is the final design of the `World Clock`, could you please review it.
![36317878_1983367568642010_4610090051529867264_n](https://user-images.githubusercontent.com/16569570/42077558-f55e562c-7b96-11e8-8d32-7a9bb616018d.png)
![36420334_1983367558642011_7808656208084074496_n](https://user-images.githubusercontent.com/16569570/42077559-f5e53840-7b96-11e8-95c1-01e462f81361.png)

The

[2018-06-29 06:58] Swati4star commented on #117
@Pritom14
Good word! Here are some UI suggestions:
First screen :
- There is a lot of gap between card items
- Add some left margin between map icon & edge of the card
Second screen :
- The analog clock UI doesn't look good. Can we have another UI for this?
- The screen looks empty. Add the flag icon here also
- Write the day also, besides the time

[2018-06-29 06:59] Swati4star commented on #117
Also, I guess the color of top bar is not same as our app's primary color.

[2018-06-29 07:07] Pritom14 commented on #117
This is just a sample app I created before integrating the features onto the main application.

- I will see to it that the gap size is less and will take care of the margin

- Regarding the analog clock, the analog clock in android cannot be customised. There is no function
  called `analog.setTime()`. It will only display the current time.

- The only option to display the `analog clock` is to c

[2018-06-29 07:11] Swati4star commented on #117
Create a custom analog clock. We'll be able to customize UI according to our needs. ( The UI will still be better than the default clock provided :p )

[2018-06-29 07:15] Pritom14 commented on #117
I will start working on it, and post the UI screenshots over here

[2018-06-29 10:33] Swati4star opened #154 "Change in Maps UI"
What is the issue?
- Go to Navigation bar, then Travel, then Real Time Locator, or
- Select on any destination, then Hangouts, Monument or any other map item,
On going to any of above two, the map opens up with a lit of items.
Right now, the map shown zero items & clicking on card item shows the item on map

What to do?
- Create the UI similar to the below image. Show all the items on map at once

[2018-06-29 11:12] syedjahangirpeeran commented on #140
@Swati4star  If i change MyTrips to fragment then i need to change MyTripsAdapter and some other files also which need huge changes. Shall I proceed??

[2018-06-29 11:17] Swati4star commented on #140
Yes. Go ahead with these.

[2018-06-29 11:28] #141 closed

[2018-06-29 12:21] syedjahangirpeeran commented on #135
I would like to work on this.

[2018-06-29 13:36] Swati4star commented on #140
Closed by https://github.com/project-travel-mate/Travel-Mate/pull/155

[2018-06-29 13:36] #140 closed

[2018-06-29 15:09] Swati4star opened #156 "Allow users to update or edit profile image"
What should be the flow?
- In the profile page, Add a `+` icon by the side of the profile image
- When the user clicks on that icon, open up the gallery & allow him to select an image
- Open up a photo editor that crops the image into a square.
- Compress the image (256x256) and create a link using Cloudinary API ( https://cloudinary.com/documentation/solution_overview )
- Send the created link to

[2018-06-29 16:20] Swati4star opened #157 "Make user name editable"
- On the profile page, there is a field to show user name
- Make that field ediatble ( add an edit icon be the side of username )
- When user clicks on save or ( ✔️ icon), send the new name to server

Use the following endpoint:
POST api to `update-user-details`
parameters : `firstname`, `lastname`

[2018-06-29 18:45] brijeshshah13 commented on #157
@Swati4star I'm taking up this one!

[2018-06-30 05:18] Swati4star opened #158 "Improve Add trip button"
Currently, the trips page look like this:
![trips](https://user-images.githubusercontent.com/9164477/42121760-c5236f08-7c52-11e8-898e-3b344495e6c2.png)

- Remove the add trip button from here & add a floating action button ( https://developer.android.com/guide/topics/ui/floating-action-button ) at the bottom of this page
- On clicking that button, the page for add trip should open up.
- In case, t

[2018-06-30 05:40] Pritom14 commented on #117
@Swati4star , will it be a problem if we create a different issue for displaying the `analog clock`, coz I've tried a lot of things but I am unable to display the `analog clock` with different time?

[2018-06-30 05:42] Swati4star commented on #117
Sure. Then, just keep the analog clock view as you posted in the previous screenshot

[2018-06-30 05:52] Swati4star opened #159 "[New feature] In-app notifications module"
On the home activity,
- Create a notification icon on the right
- If there are any unread notifications, there should be a dot on the notification icon
- On clicking the icon, open a navigation drawer from the right
- That drawer should have a list of all the notifications received from ( https://github.com/project-travel-mate/server/issues/51 )
- On clicking the notification, open up the relevant

[2018-06-30 06:20] knightcube commented on #94
Status @aayushinigam ?

[2018-06-30 07:34] Pritom14 commented on #117
@Swati4star , the spaces between the list items cannot be reduced as because they have a `cardview` layout. If `card view` layout is not used then the spacing between list items becomes less. I have attached two screenshots with and without using cards, could you please let me know which to implement
![36352744_1984386438540123_3191848346666926080_n](https://user-images.githubusercontent.com/16569

[2018-06-30 07:37] Swati4star commented on #117
The spacing is too much. Look into the following page:
https://github.com/project-travel-mate/Travel-Mate/blob/master/screenshots/trend.png

Make your UI like the first one, but with a divider line

[2018-06-30 07:41] Swati4star commented on #60
The estimote logic is removed in 1f9b6b408ac52a1fb0f5941f65854a5b905c7c5a

[2018-06-30 07:41] #60 closed

[2018-06-30 07:41] Pritom14 commented on #117
Okay

On Sat 30 Jun, 2018, 1:07 PM Swati Garg, <notifications@github.com> wrote:

[2018-06-30 07:58] knightcube opened #162 "[New Feature]Option to add Attractions and Places of Interests when creating a new Trip"
In My Trips, when adding a new trip
- Give an option to add Attractions to visit in and around the city
- It needs to be integrated into the server side as well

[2018-06-30 08:11] knightcube opened #163 "[BUG]Realtime locator shows only one item even if more items are selected"
In the Realtime Locator screen when the map is shown it updates only one item out of the many that you select from the list of items provided as checkboxes

### Steps to reproduce
- From main screen open Navigation Drawer
- Go to Travel
- Then Go to Real Time Locator
- Tap on button in right hand top side.
- Select options to display

### Expected behaviour
- Show either all locations selected fro

[2018-06-30 09:00] Swati4star commented on #163
- Let them be checkboxes only in the dialog
- Right now, if you select `Monuments` in the checkbox & then go back, and go to dialog again, nothing is shown selected. Retain the selected options in the dialog ( Mark them checked)
- When user selects multiple options, show both in the map. ( Right now, only one is displayed)

[2018-06-30 10:16] Swati4star commented on #85
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/160

[2018-06-30 10:16] #85 closed

[2018-06-30 10:17] Swati4star commented on #95
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/160

[2018-06-30 10:17] #95 closed

[2018-06-30 13:39] aayushinigam commented on #156
I would like to work on this issue.

[2018-06-30 13:40] Swati4star commented on #156
Sure. Go ahead 👍

[2018-06-30 14:28] Swati4star commented on #157
Yes. Keep one field only for the name (what we have right now)
Allow user to enter full name there. Split the name by space. Keep first string as first name & other strings as last name.

[2018-06-30 14:31] brijeshshah13 commented on #157
@Swati4star Can you please post a sample UI? I can't picture the location of the field where the name will be displayed and where it can edited.

[2018-06-30 14:32] prabhakar267 opened #164 "Open a user's profile page when someone clicks on his name in my trips"
In my trips, if someone clicks on any user's name, open that user's profile page similar to what we see in my profile currently

+ On clicking the + icon, the view should show/hide
+ Show the arrow icon on each friend item
+ On clicking anywhere on the list item, the user's profile page should open up.

[2018-06-30 14:32] Swati4star commented on #157
Do it in the profile page only. (that you created)

[2018-06-30 14:34] brijeshshah13 commented on #157
@Swati4star Yeah, i got that. You mean there should be a option to edit the existing field which we use to display name, correct?

[2018-06-30 14:34] Swati4star commented on #157
Yes.

[2018-07-01 05:34] brijeshshah13 commented on #158
@Swati4star M taking up this one.

[2018-07-01 07:23] Swati4star opened #166 "Show fact source in the City facts page"
The `get-city-facts` API responds with the following for each fact:
[code]

The current facts page look like this:
![screenshot_20180701-124719](https://user-images.githubusercontent.com/9164477/42132028-588247f8-7d2d-11e8-8ca8-e150a69d5d5b.jpg)

Add a text at the bottom of this facts page, which shows `source_text`, and on clicking that source_text, `source_url` should open up in the browser.
The

[2018-07-01 08:46] syedjahangirpeeran commented on #135
Same problem app is crashing saying that layout should be in Theme.AppCompat. But that theme has ActionBar already which properties aren't changing. Its becoming white for alpha =0 instead of becoming invisible.

[2018-07-01 08:47] Swati4star commented on #135
Define some other new theme for this particular activity. That might help.

[2018-07-01 08:48] syedjahangirpeeran commented on #135
Did it but still it is crashing saying that it should in Theme.AppCompat only.

[2018-07-01 08:57] Swati4star commented on #135
create a PR, I'll try to look into the code

[2018-07-01 09:04] Swati4star opened #167 "Create Android search dialog on Home Page"
In the Home Page, when we click on "Search a city" edit text, open Android Search Dialog with the suggestions. In the current UI, the suggestions are shown, but in a simple autocomplete list view only.
The UI should be like below:
![aww0s](https://user-images.githubusercontent.com/9164477/42132725-2e11af0a-7d3b-11e8-98f7-36206d2f10ef.jpg)

![screenshot_20180701-142644](https://user-images.githubus

[2018-07-02 05:42] #91 closed

[2018-07-02 10:45] brijeshshah13 commented on #158
@Swati4star After pulling the latest changes, when I click on the existing `Add New Trip` button, the app crashes. Please verify.

[2018-07-02 11:08] Swati4star commented on #158
@brijeshshah13 I tried out with the latest code only. I am not facing this crash.

[2018-07-02 13:19] Swati4star opened #171 "Infinite scrolling in Fun facts view"
Add infinite scrolling in the fun facts view for a city

### Steps to reproduce
- Go to home page `destinations`
- Swipe the `Delhi` item (all cities don't have fun facts right now. But Delhi has, so you can try on Delhi)
- Click on fun facts
- A fun facts view open ups.
- You can swipe left to show other facts

### Expected behaviour
- Add infinite scrolling (When the last item is reached, on swi

[2018-07-02 13:22] Swati4star opened #172 "Add a signout button on profile page"
- Open up navigation drawer
- Click on your photo, profile page opens up
- Add a new option in the action bar for `signout`
- On clicking that, an alert should open up & if user selects ok, sign him out from the app.

Sign out is already implemented. You can use that piece of code.

[2018-07-02 13:28] Swati4star commented on #158
@brijeshshah13 Is the issue solved?

[2018-07-02 13:33] Swati4star commented on #164
Adding more enhancements to this issue:
Create the UI like this:

![whatsapp image 2018-07-01 at 11 51 16 pm 1](https://user-images.githubusercontent.com/9164477/42167021-619ce17e-7e2a-11e8-934d-256c1096e1f9.jpeg)

- On clicking the + icon, the view should show/hide
- Show the arrow icon on each friend item
- On clicking anywhere on the list item, the user's profile page should open up.

[2018-07-02 13:51] Swati4star opened #173 "Use Zxing library for QR code reader & creator"
Currently, we are using `"QRDroidServices", by DroidLa.` for creating & reading the QR code for `Share Contact`

### Steps to reproduce
- Go to navigation drawer. Select `Travel`
- Go to `Utilities`. Select `Share Contact`
- For "QRDroidServices",  we need to download another app.

###What to do?
- Use google's Zxing library for creating as well as reading the QR code.
- Remove the code of "QRDroi

[2018-07-02 14:03] Swati4star opened #174 "Add option in Trip info page to view city info"
There is no way to go to city page from my trip info page

### Steps to reproduce
- Open navigation drawer, Go to my trips
- Go to any trip

### Expected behaviour
- Add an option `Know more about city-name`
- On clicking that, the city info page for that particular city should open up.

[2018-07-02 14:04] Swati4star commented on #117
@Pritom14 Status?

[2018-07-02 14:22] aayushinigam commented on #156
I'm going to be a little late because I was trying to remove some merge conflicts and I lost all my changes. So I'm gonna have to start all over again :(

[2018-07-02 14:23] Swati4star commented on #156
Checkout `reflog` command. It might help you to recover lost changes.

[2018-07-02 16:51] Pritom14 commented on #117
Working on it

[2018-07-02 17:02] Pritom14 commented on #117
I have removed the image from the `list view` row as it was taking up much space. Could you please review it?
![36527033_1986761114969322_4035821038217461760_n](https://user-images.githubusercontent.com/16569570/42176780-bfedebac-7e47-11e8-8165-d1eea79c39e1.png)
![36607177_1986761021635998_2078899595877810176_n](https://user-images.githubusercontent.com/16569570/42176781-c04ea640-7e47-11e8-9f80-b0

[2018-07-02 17:06] Swati4star commented on #117
The images were looking good.

Left align the names.

[2018-07-02 17:10] Pritom14 commented on #117
Images were looking good but it was taking up to much space, and also because I couldn't use `android:drawableLeft`, so I left out the images.

[2018-07-02 17:11] Pritom14 commented on #117
Apart from aligning the names to the left, are the layouts okay? @Swati4star

[2018-07-02 17:14] Swati4star commented on #117
Without the images and analog clock, the UI is not at all looking good.

[2018-07-02 17:18] Swati4star commented on #117
In each list item:
- move the city/county name to the left (Make it bold).
- Add date & time to the right.
[code]

[2018-07-02 17:19] Swati4star commented on #117
..and on clicking, just open up a dialog will all this info!

[2018-07-02 17:53] Pritom14 commented on #117
Could you please have a look at these, I just edited the fonts and added
the images back in the list view.

If the layouts are still not looking good, I will start working on
displaying info on the dialog part

On Mon 2 Jul, 2018, 10:49 PM Swati Garg, <notifications@github.com> wrote:

[2018-07-02 17:55] Swati4star commented on #117
@Pritom14 You haven't added any screenshots.

[2018-07-02 18:07] Pritom14 commented on #117
![36464076_1986808044964629_4886625433598033920_n](https://user-images.githubusercontent.com/16569570/42179269-e7b24b7a-7e50-11e8-8b9c-fbb64280b910.png)
![36594208_1986808038297963_839156920815190016_n](https://user-images.githubusercontent.com/16569570/42179271-e85917a2-7e50-11e8-9402-56e7a2df7a95.png)

[2018-07-02 18:09] Swati4star commented on #117
The second one looks good. I hope, the images are not causing that much problem.

[2018-07-02 18:11] Pritom14 commented on #117
I had to resize all the images, so now it should be okay.

[2018-07-02 18:13] Swati4star commented on #117
Awesome :)

[2018-07-02 18:14] Pritom14 commented on #117
So, if the layout is good enough, can I start creating the PR?
And also do I have to create a dialog to display the info now, or the second layout where the text clock along with the timezone is displayed is okay?

[2018-07-02 18:16] Swati4star commented on #117
It's okay. I'll create a different issue to add analog clock there.

[2018-07-02 18:25] Pritom14 commented on #117
Okay, I will start working on adding the features on the main application.

[2018-07-02 22:18] git-typecode opened #175 "gradle missing"
### Steps to reproduce
fork, clone and Import project in android studio

### Expected behaviour
android studio can build it

### Actual behaviour
Gradle seems to be missing.
message is: Migrate Project to Gradle?
This project does not use the Gradle build system. We recommend that you migrate to using the Gradle build system.

### Would you like to work on the issue?
How do i fix it?

[2018-07-03 03:03] Swati4star commented on #175
Please share a screenshot of what actual error message are you getting?

Also, googling it will help. Because, everyone else seems to be able to build the project successfully on Android studio.

[2018-07-03 05:56] Swati4star commented on #135
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/168

[2018-07-03 05:56] #135 closed

[2018-07-03 06:00] amy6 commented on #167
I'd like to work in this.

[2018-07-03 06:01] Swati4star commented on #167
Sure @amy6 !

If you face any problem, ask here. 👍

[2018-07-03 06:21] brijeshshah13 commented on #158
@Swati4star Nope. I'm attaching the gif along with the log.

![20180703_110417](https://user-images.githubusercontent.com/18366144/42201497-cbc31542-7eb5-11e8-9e75-bb6e401bda5e.gif)

[code]

[2018-07-03 07:15] vyankatesh24 commented on #166
Hi @Swati4star
I would like to work on this issue.

[2018-07-03 07:18] Swati4star commented on #166
Sure!

[2018-07-03 07:32] syedjahangirpeeran commented on #172
I would like to work on this

[2018-07-03 07:35] Swati4star commented on #172
Sure!!

[2018-07-03 09:20] git-typecode commented on #175
I have fixed it now, however it seems that the project dosent build with Gradle 4.6. I downgraded to 4.5 and the then it worked

[2018-07-03 09:22] #175 closed

[2018-07-03 09:34] git-typecode commented on #77
Anyone working on this?

[2018-07-03 09:41] Swati4star commented on #77
No. You can take this up 👍

[2018-07-03 12:20] syedjahangirpeeran commented on #174
Can you state the position where the option should be?

[2018-07-03 13:15] Swati4star commented on #172
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/176 👍

[2018-07-03 13:15] #172 closed

[2018-07-03 13:34] Swati4star commented on #158
It shows the error is in line : https://github.com/project-travel-mate/Travel-Mate/blob/9ba9f0ce25bb308e33b1cd03b1f747a9c6148eb8/Android/app/src/main/java/io/github/project_travel_mate/mytrips/MyTripsAdapter.java#L61
Can you look what is the problem you are facing? Also, anyways you'll be removing the button from here, so this shouldn't stop you from fixing the issue. @brijeshshah13

[2018-07-03 17:52] Swati4star commented on #166
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/179 👍

[2018-07-03 17:52] #166 closed

[2018-07-04 01:18] knightcube commented on #174
Thid can be merged with #162. I wanted almost the same thing

[2018-07-04 03:45] knightcube opened #181 "Show image in collapsible toolbar City Detail screen"
Currently, the image of the city is being shown in an image view below the toolbar in the City detail screen. Show it inside a collapsible toolbar

[2018-07-04 04:01] knightcube opened #182 "[New Feature]Add a Google Assistant quiz app"
This feature would let users take a small quiz of 5 questions on cities around India. The user can simply say "Talk to Travel Mate Quiz" and the assistant app would start. The user can play the quiz and get the results from the assistant instantly.

[2018-07-04 05:39] Swati4star commented on #162
Similar to https://github.com/project-travel-mate/Travel-Mate/issues/174
Marking as duplicate.

[2018-07-04 05:39] #162 closed

[2018-07-04 05:44] #156 closed

[2018-07-04 05:48] Swati4star commented on #181
Use https://github.com/ksoichiro/Android-ObservableScrollView library for above.

[2018-07-04 05:51] Swati4star commented on #182
We need content for this first. Find the source first which will provide this content, and add server issue to get API for that.

[2018-07-04 05:53] knightcube commented on #182
We won't require server to handle it as such. The source that you are looking for would be a simple spreadsheet that we can create in google sheets. It would have all the questions and the answers

[2018-07-04 05:56] knightcube commented on #181
Do we need a library for that? We can use the normal CollapsibleToolbarLayout to achieve it as well

[2018-07-04 05:58] Swati4star commented on #182
Are you willing to create a spreadsheet? Then, it's fine. But we need proper APIs for this.

[2018-07-04 05:59] knightcube commented on #182
No we won't require API because its a simple Intent action that has to be handled and that can be done without the help of server :)

[2018-07-04 06:02] Swati4star commented on #182
what about the data? Post a spreadsheet link here which can be used for this purpose.

[2018-07-04 06:06] knightcube commented on #182
Yes we need to make a spreadsheet with questions however it should not be shared publicly as then it can be edited easily. So it would be better if we don't share it publicly. You can read about Actions on Google to get a clear picture - https://developers.google.com/actions/

[2018-07-04 06:09] aayushinigam commented on #173
What exactly is the expected functionality here?
Click on Share My Contact -> A bar code has to generated -> Next?

[2018-07-04 06:17] Swati4star commented on #173
There are 2 buttons on that page:
1. **Share my contact**: The purpose of this is to share your contact via qr code. So, a qr code is presented on the screen (as well as placed in the gallery)
2. **View someone's contact**: This opens up a scanner, can read that particular qr code, decodes it & saves the person's contact (name, phone number) in user's contact list.

Earlier, we used to have phone

[2018-07-04 06:19] aayushinigam commented on #173
Alright. I'll take this up!

[2018-07-04 07:59] aayushinigam commented on #173
Does removing phone number from QR code mean phone number won't be shared at all? And only email id will be shared?

[2018-07-04 08:04] Swati4star commented on #173
Yes. Only email id will be shared for now.

Regards,
Swati Garg

On Wed, Jul 4, 2018, 1:29 PM Aayushi Nigam <notifications@github.com> wrote:

[2018-07-04 13:08] aayushinigam commented on #173
Phone numbers were getting saved in contacts. Where are email ids to be saved after scanning qr codes?

[2018-07-04 13:09] Swati4star commented on #173
We can save email id also in contacts. Do that

[2018-07-04 16:04] Swati4star commented on #158
@brijeshshah13 Status?

[2018-07-05 05:21] Swati4star commented on #174
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/183

[2018-07-05 05:21] #174 closed

[2018-07-05 06:31] #173 closed

[2018-07-05 06:42] Swati4star opened #185 "Remove friend from trip"
### Steps to reproduce
- Go to navigation drawer. Select `My Trips`
- Go to any trip
- There is a list of friends
- There is no way to remove a friend from the trip

### Expected behaviour
- Add an option on the list item to remove the friend from trip

### Endpoint to use
Everything is mentioned in https://github.com/project-travel-mate/server/issues/16

[2018-07-05 06:49] syedjahangirpeeran commented on #181
Is it possible to do so for view pager?

[2018-07-05 06:51] Swati4star opened #186 "Improve the UI when there are no friends in a trip"
When there are no friends on a trip, the UI is this:
![screenshot_20180705-121427](https://user-images.githubusercontent.com/9164477/42306765-e0ca11c2-804d-11e8-86db-ae35ed1c5963.jpg)

### Expected behaviour
When there are no friends on a trip:
- Hide the edit text & button
- change the text to `Travelling with someone? Add friends to this trip` (Don't make this bold. )
- When user click on above

[2018-07-05 07:06] Swati4star commented on #181
See this : http://blog.nkdroidsolutions.com/collapsing-toolbar-with-tabs-android-example/

[2018-07-05 07:08] aayushinigam commented on #164
I'm taking this up.

[2018-07-05 07:09] Swati4star commented on #164
Sure @aayushinigam

[2018-07-05 10:07] Swati4star opened #187 "Update my trips list after adding a new trip"
The `my trips` list doesn't get updated automatically updated after adding a new trip

### Steps to reproduce
- Go to the navigation drawer. Click on `My Trips`
- click on `add new trip`
- Fill in the details. Add new trip
- Go back.

### Expected behaviour
The new trip should be there on the trips list

### Actual behaviour
It's not there. Update it

### What to do?
- Update the list automaticall

[2018-07-05 10:12] Swati4star opened #188 "Save most popular cities offline"
Every time, user visit `Destinations` page, an API call is made. This experience is not good.

### Steps to reproduce
- Go to the navigation drawer. Click `Destinations`
- Go to some other fragment. Come to `Destinations` again.
- Again the API call is made.

### Expected behaviour
The information should be saved locally.

### Actual behaviour
API call is made every time

### What to do?
- Create

[2018-07-05 10:15] Swati4star opened #189 "Update friends list after adding a new friends"
The `Friends in this trip` list doesn't get updated automatically updated after adding a new friend

### Steps to reproduce
- Go to the navigation drawer. Click on `My Trips`
- Go to a trip. Type the email of a friend & click on `add friend`
- There is no change in the friends list

### Expected behaviour
- The friends list should get automatically updated

[2018-07-05 13:51] syedjahangirpeeran commented on #189
Would like to work on this!

[2018-07-05 14:06] Swati4star commented on #189
Sure @syedjahangirpeeran 👍

[2018-07-05 14:09] Swati4star opened #190 "Don't show dots below image of there is only one image in city page"
The UI when there is one image is:
![screenshot_20180705-180032](https://user-images.githubusercontent.com/9164477/42328060-024a0ffe-808b-11e8-9d13-8cb6e66f9233.jpg)

### Steps to reproduce
- Select `Destinations` from the navigation drawer. Select `Chennai` or any other city with 1 image

### Expected behaviour
- There should not be a dot below the image

[2018-07-05 14:13] Swati4star opened #191 "Add a plus icon by the side of profile image in profile page"
In the profile page, it is not visible that image is right now editable. So, add a plus icon by the side of the profile image.

### Steps to reproduce
- Open navigation drawer. Click on your image.
- Profile page will open up

### Expected behaviour
- There should be a plus icon by the side of profile image.
- When user clicks on that `+` icon, only then image editor should open up.

[2018-07-05 14:23] Swati4star opened #192 "Use calendar picker library when calendar is opened"
### Library to be integrated
https://github.com/maxyou/CalendarPicker

### When does calendar open up?
- Go to `My Trips`. Click on `Add new Trip`.
- When you press `start date` button, calendar open up

### What to do?
- Use the mentioned library in both the above cases.
- Set the default date to today

[2018-07-05 14:46] syedjahangirpeeran commented on #190
Would like to work on this.

[2018-07-05 14:47] Swati4star commented on #190
Sure @syedjahangirpeeran 👍

[2018-07-05 14:48] Swati4star commented on #189
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/193

[2018-07-05 14:48] #189 closed

[2018-07-05 15:00] Swati4star opened #195 "Show appropriate animations on screens when there are no results"
When we get no results from the API due to any reason ( there are actually no results, server error, internet connection), we just show a snackbar with some appropriate message. Replace, the snackbar with proper animations.

### Which screens are to be added with this layout?
- `City info` (opens up on clicking any city)
- `Hotel booking`
- `Online shopping`
- `Trip info` (opens up on clicking any

[2018-07-05 15:54] Swati4star commented on #190
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/194

[2018-07-05 15:54] #190 closed

[2018-07-05 15:58] syedjahangirpeeran commented on #191
Would like to work on this.

[2018-07-05 15:59] Swati4star commented on #191
Sure. 👍

[2018-07-05 16:00] Swati4star commented on #191
@syedjahangirpeeran Instead of plus icon, make it camera icon (Take inspiration from whatsapp)

[2018-07-05 16:18] Swati4star opened #196 "Open Image in full screen when image is clicked on the profile page"
### Steps to reproduce
- Open the navigation drawer. Click on your photo
- Go to my profile page
- When image is clicked, open it in a new activity

### what to do?
- Use TouchImageView.java ( https://github.com/project-travel-mate/Travel-Mate/blob/master/Android/app/src/main/java/utils/TouchImageView.java ) to open this image in new activity.

This view allows user to zoom the image also.

[2018-07-05 20:36] RathodKinjal76 commented on #192
I would like to work on this issue.

[2018-07-05 20:39] RathodKinjal76 commented on #195
I would like to work on this issue.

[2018-07-06 02:32] knightcube commented on #192
Also update the button to show the results for the current date....right it is showing a fixed date everytime. Get the current date from user's phone ,update UI and show results accordingly.

[2018-07-06 03:17] Swati4star commented on #192
I have added in the description to set default date to today (@knightcube)

@RathodKinjal76, start with this issue & do the other one after this is resolved.

[2018-07-06 05:40] Swati4star commented on #195
You can pick up only 1 issue at a time. Pick https://github.com/project-travel-mate/Travel-Mate/issues/192 first.

[2018-07-06 06:54] syedjahangirpeeran commented on #186
Would like to work on this.

[2018-07-06 06:55] Swati4star commented on #186
Sure @syedjahangirpeeran :)

[2018-07-06 07:06] Swati4star opened #198 "Allow users to update trip name"
Add an option to update trip name

### Steps to reproduce
- click on the navigation drawer. Go to `My Trips`
- Click on any trip

### What to do?
- Add a pencil icon by the side of trip name.
- On clicking the pencil icon, the trip name should become editable.
- Allow user to edit it (For reference: check user profile page; user name is editable there)

### Endpoint to use
The information is given

[2018-07-06 07:12] Swati4star opened #199 "Replace PNGs with Vector assets"
We are currently using a number of pngs as drawables in various places. Replace them with vector assets.

### Why do we need to do this?
Read this article : https://medium.com/the-android-guy/stop-using-pngs-use-vector-drawable-why-8ca68bed5335

[2018-07-06 09:01] Swati4star opened #201 "Remove the option to share contact & create qr code by default"
The current UI of sharing the contact is:
![screenshot_20180706-120950](https://user-images.githubusercontent.com/9164477/42369881-df4f5dc6-8128-11e8-934f-8d879c24f752.jpg)

### Steps to reproduce
- Go to the navigation drawer. Click `Utilities`
- Select `Share contact`

### What happens right now?
- Click on `Share my contact` and then, the qr code is generated.

### What to do?
- Remove the `Sha

[2018-07-06 09:02] Swati4star commented on #186
Closed by #200

[2018-07-06 09:02] #186 closed

[2018-07-06 10:41] syedjahangirpeeran commented on #201
Would like to work on this.

[2018-07-06 10:41] Swati4star commented on #201
Sure.

[2018-07-06 19:01] f71uday opened #203 "Doesn't redirect back on adding a trip"
Describe your issue here.

### Steps to reproduce

My Trips -> Add new Trip

### Expected behaviour
Application should redirect back on the list of the Trips

### Actual behaviour
Display a Toast of successful addition of trip and remain on same activity

### Would you like to work on the issue?
yes

[2018-07-06 19:03] Swati4star commented on #203
Sure. You can work on this issue.

[2018-07-06 19:08] f71uday opened #204 "AutoCompleteText not Working"
Describe your issue here.

### Steps to reproduce
My Trips -> Add New Trip -> Enter City Name
### Expected behavior
Should Autocomplete the city name. as they are predefined names
### Actual behavior
doesn't suggest any item
### Would you like to work on the issue?
Tell us if you would like to work on this issue

[2018-07-07 03:51] Swati4star commented on #201
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/202

[2018-07-07 03:51] #201 closed

[2018-07-07 04:01] syedjahangirpeeran commented on #196
I'm not able to upload any image of mine. It's says **Editing this image not supported for this image** .

[2018-07-07 05:00] Swati4star commented on #196
A lot of other users are also facing the same problem, I'll create an issue for this.

[2018-07-07 05:02] Swati4star opened #205 "Unable to edit profile image"
Users are not able to edit the profile image.

### Steps to reproduce
- Open the navigation drawer. Click on profile photo.
- Profile page opens up.
- Select Camera icon

### Expected behaviour
The image editor should open up.

### Actual behaviour
The message is displayed **Editing this image not supported for this image .**

[2018-07-07 05:39] aayushinigam commented on #205
@Swati4star @syedjahangirpeeran Was this happening before adding camera icon on profile picture?

[2018-07-07 05:42] Swati4star commented on #205
No no. It is happening after the update.

[2018-07-07 05:45] aayushinigam commented on #205
Oh alright!

[2018-07-07 08:01] syedjahangirpeeran commented on #205
@aayushinigam  Yes, I wasn't able to upload even before.

[2018-07-07 10:35] Swati4star commented on #192
@RathodKinjal76 any updates?

[2018-07-07 10:36] Swati4star commented on #167
@amy6 Status?

[2018-07-07 10:39] Swati4star commented on #203
@f71uday You working in this one?

[2018-07-07 10:42] f71uday commented on #203
Yes I m on @swati4star

[2018-07-07 12:11] Swati4star opened #206 "[Icon change] Change the default profile icon"
The UI when there is no image for a person is this:
![whatsapp image 2018-07-07 at 3 17 04 pm](https://user-images.githubusercontent.com/9164477/42410756-d33c1af8-820c-11e8-9b03-4772a90cfce1.jpeg)

### Steps to reproduce
- Open the navigation drawer

### Expected behaviour
- The UI doesn't look good. Change the default image.

[2018-07-07 12:16] Swati4star opened #207 "Allow user to remove profile photo"
Allow user to remove profile photo

### Steps to reproduce
- Open navigation drawer. Click on profile icon
- On clicking the camera icon, there should come an option to `Remove picture`
- If the user clicks on `Remove picture`, make an API call

Endpoint to use: `remove-profile-image`
No parameter required.

[2018-07-07 12:20] aayushinigam commented on #205
Hmmm. It's happening for some people because I'm able to edit it even after addition of camera icon.

[2018-07-07 13:20] syedjahangirpeeran commented on #207
Would like to work on this.

[2018-07-07 13:21] Swati4star commented on #207
Sure.

[2018-07-07 13:28] syedjahangirpeeran commented on #207
My bad, I can't test it. My image isn't getting uploaded. I will take the #206 instead.

[2018-07-07 13:31] Swati4star commented on #207
Oh. Okay.

[2018-07-07 15:46] RathodKinjal76 commented on #195
Okay

[2018-07-07 15:50] syedjahangirpeeran commented on #206
![screenshot_20180707-211808](https://user-images.githubusercontent.com/26850482/42412522-7cfcdc12-822b-11e8-95f0-4fcd0511be90.png)
Is it good? @Swati4star

[2018-07-07 15:53] Swati4star commented on #206
Can you post one or more suggestions too?

[2018-07-07 16:03] syedjahangirpeeran commented on #206
![screenshot_20180707-213230](https://user-images.githubusercontent.com/26850482/42412622-59952c28-822d-11e8-9458-eab4fa95d593.png)

[2018-07-07 16:04] Swati4star commented on #206
The first one looks good. Change to that only.

[2018-07-07 16:44] Swati4star opened #210 "Change friends default icon in my trips page"
Modify the default friend icon on this screen
<img width="330" alt="screen shot 2018-07-07 at 10 03 16 pm" src="https://user-images.githubusercontent.com/9164477/42412898-e5eccfd2-8232-11e8-84c0-02b7fe8914dd.png">

### Steps to reproduce
- Go to the navigation drawer
- Select `My Trips`. Go to any trip
- The above screen is displayed

[2018-07-08 05:03] aayushinigam commented on #164
@Swati4star Do you suggest using an ExpandableListView for implementing the first point?

[2018-07-08 05:40] Swati4star commented on #164
Yes. Something like that only.

[2018-07-08 08:31] Swati4star commented on #158
Fixed by ab17841e06dcc195e5331b6d62349af85e80d6f7

[2018-07-08 08:31] #158 closed

[2018-07-08 09:42] Swati4star opened #213 "Improve Add Trip screen UI"
<img width="336" alt="screen shot 2018-07-08 at 3 08 32 pm" src="https://user-images.githubusercontent.com/9164477/42418567-d393e076-82c0-11e8-8e16-303ea7a1c5e0.png">

### Steps to reproduce
- Go to the navigation drawer. Go to `My Trip`
- Click on `+` button.
- The above screen opens up.

### Expected behaviour
- Remove the `enter end date` button
- When user has entered the start date, show it s

[2018-07-08 10:44] #199 closed

[2018-07-08 11:29] syedjahangirpeeran commented on #213
Would like to work on this.

[2018-07-08 11:34] Swati4star commented on #213
Sure 👍

[2018-07-08 17:14] #167 closed

[2018-07-08 17:33] Swati4star opened #217 "add a list of the issues reported by the user"
### Steps to reproduce
- Go to the navigation drawer. Click on `report a bug`

### Expected behaviour
Add a list of issues reported by the user in the following screen:
<img width="338" alt="screen shot 2018-07-08 at 10 57 34 pm" src="https://user-images.githubusercontent.com/9164477/42422374-86a6d52e-8302-11e8-904d-d058526bd792.png">

### Endpoint to use
`get-all-user-feedback`

[2018-07-08 17:40] Swati4star opened #218 "Some changes in share contact screen"
### Steps to reproduce
- Go to `Utilities` -> `Share Contact`

### Expected behaviour
- Change text on button to `View Someone's contact`
- Move the button to bottom of screen
- Move QR code to center of screen
- Go to `View someone contact` & press back. The toast message says,`Result not found`. Remove this toast.

[2018-07-08 17:43] Swati4star opened #219 "Add user status in user profile screen"
### Steps to reproduce
- Open navigation drawer. select your profile photo.
- Profile screen opens up

### Expected behaviour
- Add a status string below the user profile
- By default, the text should be `Write something about yourself`
- Add a pencil icon by the side of it.
- On clcking the icon, user should be able to enter a status (limit it to 30 letters)
- On clciking done, it should be updat

[2018-07-08 17:49] Swati4star opened #220 "Checklist not working properly"
Look at the below gif:
![20180708_231544](https://user-images.githubusercontent.com/9164477/42422514-36137f38-8305-11e8-8296-ca5c18dd7c06.gif)

- At first, I clicked on an item & everything vanished
- Nothing happens when I check an item

[2018-07-08 17:51] Swati4star commented on #213
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/214

[2018-07-08 17:51] #213 closed

[2018-07-08 18:14] Swati4star opened #221 "add swipe refresh layout in `My Trips` page"
### Steps to reproduce
- Open the navigation drawer. Go to `My Trips`

### Expected behaviour
- Add swipe refresh layout to this fragment.
- On swiping, the view should refresh (Make the API call again & fetch the trips)

[2018-07-09 01:14] syedjahangirpeeran commented on #219
Would like to work on this.

[2018-07-09 02:45] Swati4star commented on #219
The API is not yet ready for this. You might not be able to implement it fully.

[2018-07-09 04:33] syedjahangirpeeran commented on #219
I am ready with the code .  Will create PR as soon as the API is ready.

[2018-07-09 04:35] Swati4star commented on #219
Oh. Then you can create a PR. Leave the API call. Just add a placeholder API link for now. I'll replace new as soon as it's ready.

[2018-07-09 04:47] knightcube opened #222 "Share your QR code"
There should be a feature for the user to share his/her QR code with others on different social media apps

[2018-07-09 04:56] knightcube opened #224 "Add "Favourite cities to visit" option"
- On the Main Screen where all the cities are shown add a Favourite button (e.g- Heart , Star,etc)
- Make a new section in Navigation drawer for Favourite Cities to visit and show all the favourite cities in a new Activity.
- Use Room Persistence Library to implement the feature and saving into local database

[2018-07-09 05:21] knightcube opened #225 "Fix bug in Add New Trip Screen"
There is a bug in the Add New trip screen where the user enters the details of the trip.
- Keep everything blank and click on the "add trip" button directly.
- The app crashes

[2018-07-09 06:07] Swati4star commented on #225
The first issue you mentioned is already solved by this : https://github.com/project-travel-mate/Travel-Mate/issues/213

Update the issue for app crash only. (Make it cakewalk)

[2018-07-09 06:56] #203 closed

[2018-07-09 07:03] Swati4star commented on #219
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/227

[2018-07-09 07:03] #219 closed

[2018-07-09 07:04] f71uday commented on #221
Started working on this

[2018-07-09 07:04] Swati4star commented on #221
Sure @f71uday

[2018-07-09 07:22] syedjahangirpeeran commented on #218
Would like to work on this.

[2018-07-09 09:00] Swati4star commented on #218
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/228

[2018-07-09 09:00] #218 closed

[2018-07-09 10:50] Swati4star opened #230 "Create a spotlight view on home page that asks user to swipe the cards"
### Library to use:
https://github.com/TakuSemba/Spotlight

Use the above library to add a custom spotlight on first card, and write a message like `Unfold the city cards to get easy access to information`.
Show this spotlight the first 3 times user tries to click on the card. Don't show it after that.

[2018-07-09 11:06] #221 closed

[2018-07-09 11:09] f71uday commented on #225
This bug Fix is on Me

[2018-07-09 11:10] Swati4star commented on #225
Sure @f71uday 👍

[2018-07-09 15:07] Swati4star opened #232 "The dots for images in city info page does not sync"
### Steps to reproduce
- Select any destination with more than 1 image
- The images are shown on the top with dots below
- Manually swipe the images

### Expected behaviour
- The dot should also become active accordingly

### Actual behaviour
- It doesn't become active

### What to do?
- Change the corresponding dot to active when image is swiped manually also
- The images slide too fast. Decrease

[2018-07-09 15:20] Swati4star opened #233 "Save my last 5 clicked cities"
Keep a track of my last 5 unique cities clicked.
Cities clicked means the user viewed the description of that city.

### When is city marked clicked?
- I click on city card
- I swipe the city card & click on any of the buttons
- I search a city from search bar & click on it.

### Expected behaviour
Keep a track of my last 5 recently visited city's id in shared Preferences. Keep the city id & when

[2018-07-09 15:46] Swati4star opened #234 "Add tweets description page"
### Steps to reproduce
- Go to any city description
- Select `City Trends`

### What to do?
On clicking any city trend, the following screen opens up:
<img width="382" alt="screen shot 2018-07-09 at 9 05 38 pm" src="https://user-images.githubusercontent.com/9164477/42460585-e25549c8-83bb-11e8-9cc3-c34b2691aad7.png">

- Make each view look clickable. Make it look like a card view.
- On clicking the

[2018-07-09 16:00] Swati4star opened #235 "[Bug] Realtime locator not working fine"
### Steps to reproduce
- Open the navigation drawer. Select `Travel`
- Select `Real Time locator`

### Expected behaviour
- The current latitude & longitude should be fetched & then, the locations around them should be shown.
- The map should move to current location

### Actual behaviour
- The map always moves to 0 latitude, 0 longitude position

[2018-07-09 16:05] Swati4star commented on #225
Just show a snackbar message, that the fields cannot be blank.

[2018-07-09 16:28] Swati4star opened #236 "The status is shown as "null" if there is no status of user"
The profile screen looks like this:
<img width="480" alt="screen shot 2018-07-09 at 9 56 19 pm" src="https://user-images.githubusercontent.com/9164477/42463141-f46c40ba-83c2-11e8-9027-dba66a9df12f.png">

### Expected behaviour
There should be a default screen

[2018-07-09 17:17] Swati4star commented on #236
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/237

[2018-07-09 17:17] #236 closed

[2018-07-10 06:18] f71uday commented on #225
ok

[2018-07-10 10:56] #164 closed

[2018-07-10 15:45] Swati4star commented on #159
Fixed by b076d65c30cfb8a4211824a2058e300c7a9d648a

[2018-07-10 15:45] #159 closed

[2018-07-10 15:50] Swati4star opened #240 "Show count of unread notifications on notification icon in action bar"
There is a notification icon on the action bar :
<img width="346" alt="screen shot 2018-07-10 at 9 18 20 pm" src="https://user-images.githubusercontent.com/9164477/42521574-d75238bc-8486-11e8-9f17-ff037227598d.png">

### Expected behaviour
- show the count of unread notifications by the side of the bell icon

### How to get the count of unread notifications?
Use the following endpoint: https://git

[2018-07-10 15:51] Swati4star commented on #182
I suppose this issue in done? @knightcube

[2018-07-10 15:54] syedjahangirpeeran commented on #240
Would like to work on this.

[2018-07-10 15:56] Swati4star opened #241 "Make read & unread notification's UI different"
When we fetch notification's data from the endpoint, we receive a parameter `is_read`. This denotes if the user has read the notification.

If `is_read` is `true`, keep the UI of notification item same.
If `is_read` is `false`, show a blue line at the bottom of the notification card item.

This is the current UI:
<img width="334" alt="screen shot 2018-07-10 at 9 25 13 pm" src="https://user-images.

[2018-07-10 15:58] Swati4star commented on #240
@syedjahangirpeeran The API is not ready for this yet. You can pick up this one: https://github.com/project-travel-mate/Travel-Mate/issues/241

[2018-07-10 15:58] syedjahangirpeeran commented on #240
Ya sure.

[2018-07-10 16:02] syedjahangirpeeran commented on #219
@Swati4star  Can you assign it so it would be easy for you to filter out my assigns during evaluations?

[2018-07-10 16:04] Swati4star commented on #219
Also, I check your contributions from here : https://github.com/project-travel-mate/Travel-Mate/commits?author=syedjahangirpeeran

[2018-07-10 16:06] Swati4star opened #242 "Open the corresponding trip page when notification is clicked"
### Steps to reproduce
- Click the bell icon on any page

### Expected behaviour
- The corresponding trip page should open up clicking on the notification item.
- Also, mark the notification as read when it is clicked
(Use this endpoint: `mark-notification/<int:notification_id>'`)

### Endpoint to use
The current endpoint being used to fetch notification details now provide trip info also. Use tri

[2018-07-10 16:19] Swati4star opened #243 "Add a `mark all notifications as read` icon in Notifications page"
### Steps to reproduce
- Click on the bell icon in any activity

### Expected behaviour
- Add a tick mark icon in action bar in notifications activity
- On clciking that icon, an alert should open with message `Do you want to mark all notifications as read?`. If user clicks yes, call the below endpoint, else do nothing.

### Endpoint to use
`mark-all-notification`

[2018-07-10 17:12] aayushinigam commented on #198
I would like to work on this.

[2018-07-10 17:50] Swati4star commented on #240
The API is ready for this now. This issue can also be picked now.

[2018-07-10 18:04] Swati4star commented on #241
https://github.com/project-travel-mate/Travel-Mate/pull/244

[2018-07-10 18:04] #241 closed

[2018-07-10 18:07] syedjahangirpeeran commented on #240
Would like to work on it.

[2018-07-10 18:31] Swati4star commented on #182
https://assistant.google.com/services/a/uid/0000008961d39fc7

[2018-07-10 18:31] #182 closed

[2018-07-11 05:38] amy6 commented on #136
I'd like to work on this issue.

[2018-07-11 05:39] Swati4star commented on #136
Sure @amy6 💯

[2018-07-11 06:06] amy6 commented on #136
I'll be using Retrofit. Can I get more details about the endpoint? Is condensed a parameter/object in the response? I'm not able to invoke the one shared (/api/get-multiple-days-weather/4/chennai).

[2018-07-11 06:09] Swati4star commented on #136
- We are already using okhttp everywhere. You can use that only.
- Also, how are you trying to invoke this endpoint? See this for example:
https://github.com/project-travel-mate/Travel-Mate/blob/f0bf4fed479088fd0ad488ac28f8e8964a8bd632/Android/app/src/main/java/io/github/project_travel_mate/mytrips/MyTripInfoActivity.java#L202

We need to send authorization token also in the headers parameter.

[2018-07-11 06:10] Swati4star commented on #136
You will get response like this:
[code]

[2018-07-11 06:16] amy6 commented on #136
Great! Got it, thank you! Will use OkHttp.

[2018-07-11 06:47] Swati4star commented on #240
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/245

[2018-07-11 06:47] #240 closed

[2018-07-11 08:29] #198 closed

[2018-07-11 11:50] syedjahangirpeeran commented on #243
Would like to work on this.

[2018-07-11 11:50] Swati4star commented on #243
Sure!

[2018-07-11 12:16] aayushinigam commented on #149
I would like to work on this.

[2018-07-11 12:17] Swati4star commented on #149
Sure :)

[2018-07-11 13:13] Swati4star commented on #243
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/247

[2018-07-11 13:13] #243 closed

[2018-07-11 14:40] Swati4star commented on #187
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/215

[2018-07-11 14:40] #187 closed

[2018-07-11 15:35] syedjahangirpeeran commented on #242
Would like to work on this.

[2018-07-11 15:43] Swati4star opened #248 "add a swipe refresh layout on notifications page"
### Steps to reproduce
- Click on bell icon on any activity
- Notification page opens up

### Expected behaviour
- Add a swipe refresh layout on notifications page
- On swiping, the notifications should refresh. (Make the API call again & refresh the list)

[2018-07-11 18:01] prabhakar267 opened #249 "App crashes when clicked on add trip without filling anything in the form"
When you click on "Add Trip" without filling any information in the form, app crashes

### Steps to reproduce
Go to "My Trips" > Add a new trip > Click on "Add Trip"

### Expected behaviour
Should show an appropriate error message

### Actual behaviour
App Crashes

[2018-07-11 18:02] Swati4star commented on #249
We already have an issue for this https://github.com/project-travel-mate/Travel-Mate/issues/225

[2018-07-11 18:02] #249 closed

[2018-07-12 08:41] Swati4star opened #250 "Bug when user edits the status as nothing"
### Steps to reproduce
- Go to profile page
- click on pencil icon by the side of status
- Remove everything that is already there in the status
- click on ✔️

### Expected behaviour
- User's status should be removed, and default message `Write something about yourself should be shown`

### Actual behaviour
- The status editbox is shown empty
- The status does not get updated to anything (go back

[2018-07-12 08:51] Swati4star opened #251 "Show small loader icon instead of material dialog loader on profile page"
In the profile page, user can update
- status
- name

### Steps to reproduce
- Go to the navigation drawer. Select your profile.
- PRofile activity opens up.

### Expected behaviour
- Instead of material dialog with loader, show a small progress icon by the side of status (if status is being updated) or name(if name is being updated)

### Actual behaviour
The material dialog with loader opens up
<

[2018-07-12 09:42] Swati4star opened #252 "Create an About Us screen"
### What to do?
- Add a new option in the navigation drawer `About us`
- On selecting that, an about us fragment should open up

### UI screen
- Show small travel mate logo & app name at the top center
- Below that, write a small description of the app `A must-have app for those interested in travel. The app provides users with various features from choosing the correct destination to making all t

[2018-07-12 16:11] Swati4star commented on #235
Fixed by b9d357d6c7015ccde6cdb2fd940c90d0edaa5483

[2018-07-12 16:11] #235 closed

[2018-07-12 16:56] #149 closed

[2018-07-12 17:00] aayushinigam commented on #250
I would like to work on this.

[2018-07-12 17:04] Swati4star commented on #250
@aayushinigam Do test it once, what happens if we send `null` as the new status to the API. If there seems to be a problem with the API, we will log an issue for the server then.

[2018-07-12 17:09] Swati4star opened #254 "Change autocomplete text view to Select city button in Add trip activity"
We currently have autocomplete text view for city name. Change it to this dialog:

![](https://user-images.githubusercontent.com/24635221/42645732-6c851f6c-861c-11e8-990b-e3e71ad0d067.png)
[Reference: This was implemented in https://github.com/project-travel-mate/Travel-Mate/pull/253 for hotels activity]

### Steps to reproduce
- Go to `my trips` in the navigation drawer
- Select `+` icon

### Exp

[2018-07-12 17:13] Swati4star commented on #204
We are converting autocomplete textview to a button only. ( https://github.com/project-travel-mate/Travel-Mate/issues/254 )

[2018-07-12 17:13] #204 closed

[2018-07-12 17:52] knightcube opened #255 "Add app shortcuts for various sections"
We can have shortcuts for destinations, my trips, travel, utilities, my profile just like the screenshot below
![screenshot_20180711-224954](https://user-images.githubusercontent.com/22871961/42650540-4a67fedc-862a-11e8-98d1-4012aaeb609e.png)

Resource -
https://developer.android.com/guide/topics/ui/shortcuts

[2018-07-12 17:57] Swati4star commented on #255
Adding shortcuts is very easy. That's why moving it from topcoder to pro

[2018-07-12 17:57] knightcube opened #256 "Prevent 2 colors from being same"
![screenshot_20180712-060153](https://user-images.githubusercontent.com/22871961/42650753-dec7d0e8-862a-11e8-9a3c-14787bac1caf.png)

In the above screenshot both cities are having the same color. Prevent this from happening?

[2018-07-12 18:11] aayushinigam commented on #250
Can we simply send "no status" to the API?

[2018-07-12 18:12] Swati4star commented on #250
"no status" string can also be the status of some person.

[2018-07-13 04:52] aayushinigam commented on #250
That's right!
`  if(mStatus.length() == 0)
            mStatus = "   ";`
Above code works though. Is this approach okay?

[2018-07-13 04:55] Swati4star commented on #250
Don't do this. The problem is, we want a difference between when the user's status is set & not set.
If it's not set, we show a different message like "write something about yourself".
So, null would be the best to differentiate.

PS. Use mstatus.trim().length() (we don't want just spaces also as a status)

[2018-07-13 05:43] aayushinigam commented on #250
Then I guess API has to updated to handle empty status. Because if I send "null" to API for an empty status, then the same case arises - what if someone has actually set "null" as a status?

[2018-07-13 05:52] Swati4star commented on #250
I'll create a bug in the server side for this then. You can pick up any other issue by the time.

[2018-07-13 05:54] Swati4star commented on #250
Created https://github.com/project-travel-mate/server/issues/89

[2018-07-13 06:18] aayushinigam commented on #254
I would like to work on this.

[2018-07-13 06:21] Swati4star commented on #254
All the classes related to this dialog are right now in hotels package. You can move them to a different one (or create a new one: CityDialog)

[2018-07-13 15:16] #254 closed

[2018-07-13 15:18] aayushinigam commented on #185
I would like to work on this

[2018-07-13 15:18] Swati4star commented on #242
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/257

[2018-07-13 15:18] #242 closed

[2018-07-13 15:20] syedjahangirpeeran commented on #248
would like to work on this!

[2018-07-13 15:22] Swati4star commented on #248
Sure 👍

[2018-07-13 15:29] f71uday commented on #225
Fixed with #259

[2018-07-13 15:31] f71uday commented on #222
would like to work on this issue

[2018-07-13 15:34] Swati4star commented on #222
Sure @f71uday

[2018-07-13 15:52] #225 closed

[2018-07-13 15:55] Swati4star commented on #222
@f71uday
### Steps
- Go to `Utilities` in navigation drawer
- Select `Share my contact`

We have a QR code generated over there. You can add a share button on the action bar. On clicking that, an image with that QR code should be shared.

(We have a similar functionality in Funfacts also. That shares a snapshot of whole screen. I guess, you can use that code)

[2018-07-13 16:12] f71uday commented on #222
Should I go for FloatingAction Button or Share Menu ??? @Swati4star

[2018-07-13 16:13] Swati4star commented on #222
A share button on the action bar

[2018-07-13 16:47] syedjahangirpeeran commented on #255
Would like to work on this.

[2018-07-13 16:48] Swati4star commented on #255
Sure!

[2018-07-13 17:03] Swati4star commented on #248
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/260

[2018-07-13 17:03] #248 closed

[2018-07-13 17:11] Swati4star opened #261 "Change select text from edittext to a button"
### Steps to reproduce
Tell us how to reproduce this issue.
- Go to `my trips` in the navigation drawer
- Click on `+` icon
- Following view opens up
<img width="330" alt="screen shot 2018-07-13 at 10 37 13 pm" src="https://user-images.githubusercontent.com/9164477/42704437-5f43e4b0-86ed-11e8-84ec-e006f55e6d91.png">

### Expected behaviour
- Change edit text to button
- Open date picker on clickin

[2018-07-13 17:40] Swati4star opened #262 "City Dialog shows only limited cities"
### Steps to reproduce
First way
- Go to `Travel`. Select `Hotels`. The following dialog opens up

Second way
- Go to `My Trips`. Select `+` icon. Select `Select City`. The dialog opens up.

![](https://user-images.githubusercontent.com/24635221/42645732-6c851f6c-861c-11e8-990b-e3e71ad0d067.png)

This dialog currently has only 10 cities. The autocomplete also uses these 10 cities only.

### Expect

[2018-07-13 20:04] syedjahangirpeeran commented on #262
The way the API is coded, a maximum Number = (all cities -1) is possible, if we leave it empty then default value of 8 cities is set to it. Should change the server side code.

[2018-07-14 02:57] Swati4star commented on #255
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/264

[2018-07-14 02:57] #255 closed

[2018-07-14 03:00] #185 closed

[2018-07-14 03:29] Swati4star commented on #250
There is no string which is default status. That's why we have a new API for this.

[2018-07-14 04:16] syedjahangirpeeran commented on #251
Would like to work on this.

[2018-07-14 04:51] Swati4star commented on #251
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/265

[2018-07-14 04:51] #251 closed

[2018-07-14 06:30] aayushinigam commented on #220
I'm taking up this issue.

[2018-07-14 09:16] brijeshshah13 commented on #116
@Swati4star Please provide the details of the end-point.

[2018-07-14 09:18] Swati4star commented on #116
@brijeshshah13 The plan now is to add this in the `About us` screen only (https://github.com/project-travel-mate/Travel-Mate/issues/252).
So, we first need to add an About us. Then, create a new list item for contributors & then, this list should open up.

[2018-07-14 10:02] f71uday commented on #222
this file is never generated
@Swati4star
**ShareContactAcvity.java**
            Bitmap bitmap = barcodeEncoder.createBitmap(bitMatrix);
            //saving the generated qr code in device
            String path = Environment.getExternalStorageDirectory().getPath();
            File qrCodeFile = new File(path + "/TravelMate/QRCodes");
            qrCodeFile.mkdir();
            //for providing n

[2018-07-14 10:05] f71uday commented on #222
i tried generating file usig `getCacheDir().getAbsolutePath()`  then also there are no changes
if you try accessing `file` object within local , it throughs FileNotFoundException

[2018-07-14 12:32] Swati4star opened #266 "Notification count & marked notification UI is not getting updated"
### Steps to reproduce
- Let's say you have 1 unread notification
- The bell icon will show 1 count.
- The notifications page will show 1 card with blue outlined card (this means it's unread)
- Open that notification & press back

### Expected behaviour
- The blue line on that card should go
- On pressing back, the count on bell icon should also get updated

[2018-07-14 13:54] syedjahangirpeeran commented on #266
Would like to work on this.

[2018-07-14 14:54] Swati4star opened #269 "Don't show mark all notifications as read in action bar, if there are no unread notifications"
![screenshot_20180714-194937](https://user-images.githubusercontent.com/9164477/42725592-d47697a8-87a3-11e8-8a0d-f918c46518ee.jpg)

Hide the check icon on action bar, if there are no unread notifications

[2018-07-14 15:06] #222 closed

[2018-07-14 15:08] f71uday commented on #261
would like to work on this!

[2018-07-14 15:10] Swati4star commented on #261
@f71uday Sure

[2018-07-14 15:30] Swati4star opened #270 "Don't show anything by default on the shopping screen"
### Steps to reproduce
- Select `Travel` from the navigation drawer
- Select `Hotel Booking`

It automatically searches for bags & show results.
<img width="333" alt="screen shot 2018-07-14 at 8 47 44 pm" src="https://user-images.githubusercontent.com/9164477/42725867-e4f9ecce-87a8-11e8-8bc7-9de3550dbf6f.png">

### Expected behaviour
- Don't search for anything by default
- Show this animation on

[2018-07-14 15:52] #266 closed

[2018-07-14 15:53] syedjahangirpeeran commented on #269
Would like to work on this.

[2018-07-14 16:05] #269 closed

[2018-07-14 16:08] syedjahangirpeeran commented on #270
Would like to work on this.

[2018-07-14 16:36] Swati4star opened #272 "Show selected city name in Add trip"
### Steps to reproduce
- Select `My Trips`
- Click on `+` icon
- Click on `Select a city`. Select any city

### Actual behaviour
There is no change in the UI. User doesn't get to know if the city was actually selected or not

### Expected behaviour
Show the name of city in Add trip activity

[2018-07-14 17:32] brijeshshah13 commented on #252
@Swati4star I'm picking up this one.

[2018-07-14 17:39] Swati4star commented on #252
@brijeshshah13
After the `Fork on Github` element, add `View Contributors` list item.
Don't do anything on clicking that for now.

[2018-07-14 17:40] Swati4star commented on #252
Also, you can change the order of elements based on their relevance as per your choice.

[2018-07-14 19:12] f71uday commented on #261
![screenshot_20180715-003944](https://user-images.githubusercontent.com/19256444/42727616-dab96ee6-87c7-11e8-9104-202b6dffd78e.png)
Somthing like this @Swati4star

[2018-07-14 19:16] Swati4star commented on #261
@f71uday The UI doesn't look good! Remove the icon & let there be previous text only.
Do one thing. Make `Select Date` and `Select City` be in one row (take up 1/2 of the width)

..and when user has selected the date, just show the date below the add trip button, something like
`Trip date : <date>` (Add required margin between the this view & add trip button)

[2018-07-14 19:18] f71uday commented on #261
Ok @Swati4star

[2018-07-14 19:44] f71uday commented on #261
![screenshot_20180715-011310](https://user-images.githubusercontent.com/19256444/42727906-58ed7bc8-87cc-11e8-9dd6-b34bb7bf8200.png)
What about this @Swati4star

[2018-07-14 19:48] Swati4star commented on #261
Looks good. Just change the text to "Select Trip Date"

[2018-07-14 20:03] #261 closed

[2018-07-14 20:03] f71uday commented on #272
On me

[2018-07-14 20:05] Swati4star commented on #272
Sure @f71uday

[2018-07-14 20:18] f71uday commented on #272
![screenshot_20180715-014752](https://user-images.githubusercontent.com/19256444/42728137-30a8d3c4-87d1-11e8-9f33-c93f97b23bfd.png)
is it ok @Swati4star

[2018-07-14 20:20] Swati4star commented on #272
Looks good!

[2018-07-15 03:49] #272 closed

[2018-07-15 05:12] Swati4star opened #275 "Hotel Page keeps on showing loader in case of no internet"
### Steps to reproduce
- Turn off your internet
- Select `Travel` from the navigation drawer
- Select `Hotel Booking`
<img width="350" alt="screen shot 2018-07-15 at 10 38 15 am" src="https://user-images.githubusercontent.com/9164477/42730791-5871f5e4-881b-11e8-9ee0-19fbb1cebc7b.png">

### Expected behaviour
- Show no internet animation in case of no internet
(https://github.com/project-travel-mat

[2018-07-15 05:16] Swati4star opened #276 "Shopping page keeps on showing the progress bar in case of no internet"
### Steps to reproduce
- Turn off your internet
- Select `Travel` from the navigation drawer
- Select `Online Shopping`
- Search something. Following screen opens up:

<img width="337" alt="screen shot 2018-07-15 at 10 43 08 am" src="https://user-images.githubusercontent.com/9164477/42730806-ebd9f020-881b-11e8-9b9d-30612fc3ac22.png">

### Expected behaviour
- Show no internet animation in case of

[2018-07-15 05:27] Swati4star opened #277 "Don't show the progress bar initially when add trip page is opened"
### Steps to reproduce
- Select `My Trips` from navigation drawer
- Click on `+` icon

### Actual behaviour
There is a progress bar

### Expected behaviour
There shouldn't be a progress bar initially.

[2018-07-15 05:45] f71uday commented on #275
would like to work

[2018-07-15 05:46] Swati4star commented on #275
Sure @f71uday

[2018-07-15 06:09] brijeshshah13 commented on #252
@Swati4star Alright.

[2018-07-15 16:33] f71uday commented on #275
![screenshot_20180715-220213](https://user-images.githubusercontent.com/19256444/42735962-da0db4f8-887a-11e8-8eda-9ddee1026979.png)

[2018-07-15 16:37] Swati4star commented on #275
See the issue description. We want the animation to be played in case of no internet.

[2018-07-15 16:46] f71uday commented on #275
oops Sorry

[2018-07-16 09:09] brijeshshah13 commented on #252
@Swati4star Why are we converting `BugReportFragment` to activity? I mean we can use it as a fragment itself as it will be lighter as compared to activity.

[2018-07-16 09:33] Swati4star commented on #252
@brijeshshah13 Sounds good. You can keep it as fragment only.

[2018-07-16 10:38] #252 closed

[2018-07-16 11:55] Swati4star opened #280 "Don't show select date option in hotels screen"
We are not using date for finding hotels. We are just showing a list of nearby hotels. So, remove `Select Trip date` option from the page.

### Steps to reproduce
- Select `Travel`. Then, select `Hotel Booking`

<img width="374" alt="screen shot 2018-07-16 at 5 25 12 pm" src="https://user-images.githubusercontent.com/9164477/42757335-3eb445a0-891d-11e8-9aad-269008fb5ed9.png">

[2018-07-16 14:32] #280 closed

[2018-07-16 15:24] Swati4star opened #281 "App closes on pressing back from bugs fragment"
Describe your issue here.

### Steps to reproduce
- Select `About us` from navigation drawer
- Select `Report a Bug`
- Press back

### Expected behaviour
App should go back to about us screen

### Actual behaviour
App closes

[2018-07-16 16:19] brijeshshah13 commented on #116
@Swati4star Picking up this one.

[2018-07-16 17:59] #270 closed

[2018-07-16 17:59] #276 closed

[2018-07-16 18:06] syedjahangirpeeran commented on #277
I'm taking this up!

[2018-07-17 05:21] #277 closed

[2018-07-17 05:40] syedjahangirpeeran commented on #195
Would like to work on this.

[2018-07-17 05:41] Swati4star commented on #195
Also, there is a possibility that a few of them might already be resolved.

[2018-07-17 09:17] Swati4star opened #284 "Show mutual trips in a friend's profile page"
### Steps to reproduce
- Go to `my trips` from navigation drawer
- Select any friend.
- Friend's profile page opens up

### Expected behaviour
- Show a list of user's mutual trips with that friend
- At the bottom, show a heading `Your trips together...`
- Then, show a list of trips
    - Show trip list item similar to that of `my trips`

### Endpoint to use
`get-common-trips/<friends_user_id>`

[2018-07-17 09:21] Swati4star opened #285 "Show a list of user's friends"
### What to do?
- Create a new option in the navigation drawer `My friends`
- On clicking that, open a new fragment
- That should have a list of user's friends
- The UI should be similar to that of `My Trips`. Circular profile image + write friend's name below
- On clicking that, friend's profile page should open up

### Endpoint to use
`trip-friends-all`

[2018-07-17 09:41] Swati4star opened #286 "Create new utilities : Currency Converter"
### What to do?
- Go to `utilities` from the navigation drawer
- Add a new section to it `Currency converter`
- On clicking that, open a new activity
- Show UI something like this
<img width="476" alt="screen shot 2018-07-17 at 3 03 04 pm" src="https://user-images.githubusercontent.com/9164477/42809161-8f8a3fb0-89d2-11e8-96cb-b784b81afd80.png">

- The country names can be a spinner. Keep the textb

[2018-07-17 11:13] Swati4star opened #287 "Remove myself from trip"
### Steps to reproduce
- Select `My Trips` from navigation drawer
- Select any trip

### Expected behaviour
- Add a 3 dot menu in the trip info page
- There should be an option to `Remove me from trip`
- Add a confirmation dialog.
- On clicking OK, call below endpoint. Go back to `my trips` page & the trip list should be refreshed

### Endpoint to use
`remove-user-from-trip/<int:trip_id>`

[2018-07-17 11:37] #220 closed

[2018-07-17 11:42] aayushinigam commented on #285
I would like to work on this.

[2018-07-17 12:37] aayushinigam commented on #285
Do we have an API where we can remove friend without providing trip Id?

[2018-07-17 12:39] Swati4star commented on #285
No. We don't have that yet.

[2018-07-17 13:02] aayushinigam commented on #285
Okay!
Also, the given endpoint returns user's own info along with other friends.

[2018-07-17 13:03] Swati4star commented on #285
It shouldn't return user's own info. Will create an issue on server side for this.

[2018-07-17 14:08] #195 closed

[2018-07-17 14:08] #275 closed

[2018-07-17 14:09] syedjahangirpeeran commented on #287
Would like to work on this!

[2018-07-17 14:29] Swati4star opened #290 "Move remove friend from trip to trip page"
Currently, the `Remove friend from trip` option is in friend's profile page:
<img width="336" alt="screen shot 2018-07-17 at 7 58 18 pm" src="https://user-images.githubusercontent.com/9164477/42823692-c9130130-89fb-11e8-8890-08566ba69ae8.png">

### Expected behaviour
- The functionality should remain the same
- Add a cross icon (at the right) in each friend list item in trips page
- On clicking th

[2018-07-17 14:37] Swati4star opened #291 "Shopping page shows no internet connection error in case of no results"
### Steps to reproduce
- Select `Travel` -> `Online Shopping`
- Search for something like `blaaah`

### Expected behaviour
The no results animation should be displayed

### Actual behaviour
The screen shows no internet connection animation
<img width="330" alt="screen shot 2018-07-17 at 8 06 32 pm" src="https://user-images.githubusercontent.com/9164477/42824203-f68db83e-89fc-11e8-897f-9d940cbfddd4

[2018-07-17 14:44] Swati4star opened #292 "Hotels page shows nothing on start"
### Steps to reproduce
- Select `Travel`. Then `Hotel booking`
<img width="335" alt="screen shot 2018-07-17 at 8 13 21 pm" src="https://user-images.githubusercontent.com/9164477/42824662-e1d03330-89fd-11e8-8da9-e59a10a0d2ec.png">

### Expected behaviour
On start:
- Show our loader animation
- Show a message `Tell us where are you travelling to?  We will search hotels for you.`
- Also, remove the p

[2018-07-17 16:29] syedjahangirpeeran commented on #287
Code is ready but API isn't merged yet to test.

[2018-07-17 16:49] Swati4star commented on #287
Just create a PR for this then, and I'll test it when the code is ready
( You can pick any other issue by the time)

[2018-07-17 16:52] #285 closed

[2018-07-17 16:52] Swati4star commented on #136
@amy6 Updates?

[2018-07-17 16:57] aayushinigam commented on #290
Would like to work on this.

[2018-07-17 17:34] aayushinigam commented on #290
So cross icon has to be removed from the screen where all of friend's info is displayed?

[2018-07-17 17:38] Swati4star commented on #290
Yes.

[2018-07-17 18:15] Swati4star opened #295 "Remove HTML tags from real time locator screen"
### Steps to reproduce
- Open `Travel` from the navigation drawer
- Select `real-time locator`
<img width="310" alt="screen shot 2018-07-17 at 11 43 51 pm" src="https://user-images.githubusercontent.com/9164477/42837316-62a4a8f2-8a1b-11e8-8b55-dc420f72dbf9.png">

Observe the name of the place.

### Expected behaviour
There shouldn't be HTML tags

[2018-07-17 18:20] Swati4star opened #296 "Few UI changes in My Trip screen"
Describe your issue here.

### Steps to reproduce
- Select `My Trips`.

- Select any trip (which has friends)
- Change `+` to `downward arrow` icon
<img width="317" alt="screen shot 2018-07-17 at 11 46 54 pm" src="https://user-images.githubusercontent.com/9164477/42837468-c926171e-8a1b-11e8-8c3e-20bd8817475f.png">

- Select any trip (with no friends)
- There is a lot of right margin in `travelling

[2018-07-17 18:27] Swati4star opened #297 "Email is getting truncated in friend's profile page"
<img width="314" alt="screen shot 2018-07-17 at 11 56 19 pm" src="https://user-images.githubusercontent.com/9164477/42837928-17727128-8a1d-11e8-80b3-ec164979ddab.png">

### Steps to reproduce
- Go to `My friends`
- Select any friend

### Expected behaviour
- Email should not be truncated

[2018-07-17 19:35] amy6 commented on #136
@Swati4star apologies for the delay. I'm working on adding new weather icons. Will post the UI screenshots on Slack tomorrow.

[2018-07-18 02:17] knightcube commented on #133
![android mobile 1](https://user-images.githubusercontent.com/22871961/42855559-b6d0a6e0-8a5e-11e8-9894-65d791b6c9ee.png)

[2018-07-18 02:35] knightcube opened #298 "[Bug]App crashing on rotating screen in Cities list screen"
Describe your issue here.

### Steps to reproduce
- In the main Screen where all cities are shown, rotate the device once into landscape
- Then again rotate it back to portrait
- The app crashes

### Expected behaviour
- The app should not crash

### Actual behaviour
- The app crashes

###Error Logs
[code]

[2018-07-18 02:48] #298 closed

[2018-07-18 03:18] Swati4star commented on #133
This looks perfect! Will be creating issues for implementing this UI.

[2018-07-18 03:30] knightcube commented on #132
I am taking up this issue

[2018-07-18 07:16] #77 closed

[2018-07-18 09:11] #133 closed

[2018-07-18 09:55] Swati4star opened #300 "Checklist UI changes"
![42855675-3df20880-8a5f-11e8-9c90-5a20483a14d5](https://user-images.githubusercontent.com/9164477/42874206-1f924294-8a9e-11e8-8055-5104547e6879.png)

### Steps to reproduce
- Select `Utilities`. Then, select `Checklist`

### Expected behaviour
- Turn off the automatic alphabetical ordering of elements.
- Create a partition between checked & unchecked items
- Make the UI similar to screenshot abov

[2018-07-18 11:35] #290 closed

[2018-07-18 11:36] aayushinigam commented on #250
I'm taking this up!

[2018-07-18 14:08] #250 closed

[2018-07-18 14:40] syedjahangirpeeran commented on #291
I'm taking this up.

[2018-07-18 14:50] aayushinigam commented on #232
I'm taking this up!

[2018-07-18 14:58] #287 closed

[2018-07-18 15:02] #291 closed

[2018-07-18 17:30] #292 closed

[2018-07-18 17:37] syedjahangirpeeran commented on #297
Would like to work on this.

[2018-07-18 17:48] #297 closed

[2018-07-18 18:09] #232 closed

[2018-07-18 18:22] Swati4star opened #307 "Friends profile UI is messed up"
<img width="322" alt="screen shot 2018-07-18 at 11 50 47 pm" src="https://user-images.githubusercontent.com/9164477/42900038-793c0fb8-8ae5-11e8-8d12-94f49c0eb38f.png">

### Steps to reproduce
- Go to `my friends`
- Select any friend

### Expected behaviour
- Add spacing between icon & content

[2018-07-19 01:58] knightcube opened #308 "[Bug]App crashes in the Notifications screen"
### Steps to reproduce
- Tap on the bell icon
- Tap on any notification
- App crashes in the next activity
- In case it shows network error just repeat the process and the app would crash

### Expected behaviour
- App should not crash

### Actual behaviour
- App crashes

### Error Logs
[code]

[2018-07-19 03:22] knightcube opened #309 "UI suggestion/ mockup for Hotel Screen"
Just designed in adobe xd. XML part is needed. We will break down the issue into smaller issues. But this is the thing that we want to achieve ultimately
![hotels](https://user-images.githubusercontent.com/22871961/42919726-f44b3080-8b30-11e8-982e-f50ca9dffe19.png)
![hotels 1](https://user-images.githubusercontent.com/22871961/42919729-f5d550fc-8b30-11e8-90a0-6e564655cf62.png)

[2018-07-19 04:29] Swati4star commented on #309
The UI looks good. It has 2 things to be implemented:
- Bottom sheet for cities selection
- UI change in list items.

Will be creating different issues for these.

[2018-07-19 04:34] Swati4star opened #310 "Hotel list item UI"
### Steps to reproduce
- Select `Travel`
- Select `Hotel Booking`
- The following screen opens up:
<img width="318" alt="screen shot 2018-07-18 at 11 19 38 pm" src="https://user-images.githubusercontent.com/9164477/42921619-77eaf930-8b3a-11e8-827e-341d442a960e.png">

### Expected behaviour
- Change the list item UI to grid view, where each item looks like this:
<img width="217" alt="screen shot 20

[2018-07-19 04:50] knightcube commented on #310
We won't be needing grid view. We will show the items in a RecyclerView with a Horizontal LinearLayoutManager

[2018-07-19 05:29] aayushinigam commented on #196
I'm taking this up!

[2018-07-19 05:32] Swati4star commented on #196
Do this for user's as well as friend's profile photo.

[2018-07-19 06:15] syedjahangirpeeran commented on #308
It's only applicable to older notifications which were created before the API was ready.

[2018-07-19 07:35] aayushinigam opened #312 "Remove me from trip option not working correctly"
![removetrip](https://user-images.githubusercontent.com/24635221/42928499-12a1c4da-8b55-11e8-8884-be9ebca3151c.gif)

### Steps to reproduce
1. Go to `My Trips`
2. Select any trip
3. Click on remove trip option

### Expected behaviour
Trip should be removed and UI of `My trips` should change accordingly.

### Actual behaviour
A toast with a long message is appeared. And on refreshing `My trips` pag

[2018-07-19 09:44] syedjahangirpeeran commented on #312
API isn't merged yet.

[2018-07-19 09:50] aayushinigam commented on #312
Oh that's the reason! Nvm I'll close the issue

[2018-07-19 09:51] #312 closed

[2018-07-19 10:47] #196 closed

[2018-07-19 11:18] Swati4star commented on #308
@knightcube I think we can close this issue, because this won't happen now.

[2018-07-19 11:18] #308 closed

[2018-07-19 11:20] Swati4star commented on #116
Updates @brijeshshah13 ?

[2018-07-19 11:57] aayushinigam commented on #210
I'm taking this up

[2018-07-19 12:56] aayushinigam commented on #210
While I'm at it, can I also solve #296 along with it, because both of them requires changes in trip's UI?

[2018-07-19 13:00] Swati4star commented on #210
Sure.

[2018-07-19 13:42] #210 closed

[2018-07-19 13:42] #296 closed

[2018-07-19 14:40] syedjahangirpeeran commented on #171
I'm taking this up.

[2018-07-19 15:48] #171 closed

[2018-07-19 15:51] Swati4star commented on #92
Will be doing this based on the new UI mockup. (https://github.com/project-travel-mate/Travel-Mate/issues/132)

[2018-07-19 15:51] #92 closed

[2018-07-19 15:52] Swati4star commented on #192
Won't be doing this since we have removed calendar from hotel booking

[2018-07-19 15:52] #192 closed

[2018-07-20 03:03] aayushinigam commented on #217
I'm taking this up!

[2018-07-20 09:23] brijeshshah13 commented on #116
@Swati4star Will work on #307 first.

[2018-07-20 09:23] brijeshshah13 commented on #307
@Swati4star Claiming this one.

[2018-07-20 11:00] #307 closed

[2018-07-20 17:10] syedjahangirpeeran commented on #163
Would like to work on this.

[2018-07-20 17:52] syedjahangirpeeran commented on #281
Would like to work on this.

[2018-07-20 17:59] syedjahangirpeeran commented on #256
@Swati4star 10 cities are called in the activity and we have only 8 colors as default. It's better to add to 2 more colors and assign them uniquely rather than randomly because in worst case it might effect the performance of the app. What do you say?

[2018-07-20 18:00] Swati4star commented on #256
Seems like a good idea. We can create an array of 10 different color values & just shuffle the elements of array. It'll be unique then

[2018-07-20 18:43] #281 closed

[2018-07-20 18:44] Swati4star commented on #256
@syedjahangirpeeran Are you working on this one?

[2018-07-20 19:13] Swati4star opened #319 "Create a city restaurants page"
### Steps to reproduce
- Click on any destination in home page
- Select restaurants

### Actual behaviour
A map opens up with restaurants.

### Expected behaviour
- Don't show the map
- Show a list view with restaurant items received from the API given below
- Create UI like this:
<img width="764" alt="screen shot 2018-07-21 at 12 40 15 am" src="https://user-images.githubusercontent.com/9164477/43

[2018-07-21 08:29] Swati4star opened #321 "Remove de.hdodenhof:circleimageview library"
We are using `de.hdodenhof:circleimageview` library for circular image views. Remove the use of this library, and create our own custom circular view item

### References
- https://gist.github.com/melanke/7158342
- https://inducesmile.com/android/how-to-make-circular-imageview-and-rounded-corner-imageview-in-android/

Also, remove this library from dependencies in readme.md file

[2018-07-21 10:01] #217 closed

[2018-07-21 10:08] Swati4star opened #323 "Remove org.lucasr.twowayview:twowayview dependency"
### Steps to reproduce
- This is being used in PlacesOnMapActivity.java

### What to do?
- Remove dependency on `org.lucasr.twowayview:twowayview`
- Instead, use recyclerview in horizontal orientation
- Remove this from readme dependency also

[2018-07-21 10:46] #136 closed

[2018-07-21 10:49] aayushinigam opened #324 "My Friends screen does not show all the freinds"
### Steps to reproduce
1. Go To `My Friends` in navigation drawer

### Expected behaviour
All friends should be shown.

### Actual behaviour
Among all the friends, one friend is missed.

### Would you like to work on the issue?
Yes.

[2018-07-21 10:50] Swati4star commented on #324
Is this an issue with the API or android side?

[2018-07-21 10:55] aayushinigam commented on #324
Android. I checked, to make sure that user doesn't get added to list, I added a loop and I mistakenly ran it in such a way that user gets added while last friend does not.

[2018-07-21 11:07] Swati4star opened #325 "Replace `View on Map` from city card to `View Weather forecast`"
### Steps to reproduce
- Open `destinations` screen.
- Swipe any city card. Following view is displayed

<img width="353" alt="screen shot 2018-07-21 at 4 36 10 pm" src="https://user-images.githubusercontent.com/9164477/43034968-3437deda-8d04-11e8-8e9c-44a86ec74592.png">

### Expected behaviour
Replace `View on Map` with `View weather forecast`. On clicking that option, weather forecast screen sho

[2018-07-21 11:39] #324 closed

[2018-07-21 11:44] aayushinigam commented on #325
I'm taking this up!

[2018-07-21 13:04] #325 closed

[2018-07-21 14:10] Swati4star opened #328 "Show no internet animation in map activity"
### Steps to reproduce
- Turn off your internet
- Select `Travel`
- Select `Real Time Locator`
- Nothing happens

### Expected behaviour
Show no internet animation

[2018-07-21 14:14] Swati4star opened #329 "Remove the use of expandable text view"
### Steps to reproduce
- Select any destination
- We are using `expandable text view` for city description

### What to do?
- Remove the use of `com.ms-square:expandableTextView:0.1.4` library
- Implement a new custom view for this
- The UI should be similar

[2018-07-21 14:19] syedjahangirpeeran commented on #328
Would like to work on this.

[2018-07-21 14:26] Swati4star opened #330 "Friends list is not updated after adding new friend"
### Steps to reproduce
- Go to `My trips`
- Select any trip
- type any friend name & click on `Add New Friend`

### Expected behaviour
- The friends list should get updated in the UI

### Actual behaviour
- The friends list remains same

[2018-07-21 14:30] Swati4star opened #331 "Remove dialog from my trip activity"
### Steps to reproduce
- Go to `My trips`. Select any trip
- Select pencil icon by the side of trip name
- Click on ✔️ icon
- A material dialog is shown

### Expected behaviour
- Show a small progress bar only, by the side of trip name (instead of ✔️ icon)
- Remove material dialog

[2018-07-21 14:40] syedjahangirpeeran commented on #328
Should I show animation when user opens the real time locator by turning off internet or when the user selects the places in the dialog with no internet?

[2018-07-21 14:42] Swati4star commented on #328
- For both the cases.
   - When user open the activity for the first time, then also, we are making an API call (i think). In that case, show the animation
   - Also, suppose, user's internet is turned off in between. So, when user selects the places & new API call is made, then also show no internet animation

[2018-07-21 15:31] aayushinigam commented on #331
Taking this up!

[2018-07-21 15:34] #328 closed

[2018-07-21 16:00] syedjahangirpeeran commented on #330
Would like to work on this.

[2018-07-21 18:08] #330 closed

[2018-07-22 05:11] #331 closed

[2018-07-22 14:24] Swati4star opened #335 "Add weather forecast option in utilities"
### What to do?
- Add a new card in `Utilities` section
- `View weather forecast`
- On clicking this option, open the city dialog (similar to hotels page)
- When city is selected, show it's weather forecast (similar to weather forecast in city info page)
- Add the option in this poge to select city

[2018-07-22 14:28] Swati4star opened #336 "Replace weather icon in city info page to icons in weather forecast page"
### Steps to reproduce
- Select any destination. Following view is displayed:
<img width="323" alt="screen shot 2018-07-22 at 7 57 39 pm" src="https://user-images.githubusercontent.com/9164477/43046643-8dc6db3c-8de9-11e8-880d-bad3a072522f.png">

- Select weather card, and we have this view:
<img width="360" alt="screen shot 2018-07-22 at 7 57 46 pm" src="https://user-images.githubusercontent.com/9

[2018-07-22 14:34] Swati4star opened #337 "Add `Cities I have visited` section in my profile page"
### Steps to reproduce
- Select user profile photo in the navigation drawer
- The profile page opens up

### Expected behaviour
- Add a new section on this page `Cities I have visited`
- Below this heading, show a horizontal recycler view with circular city images & city names
- On clicking the city, open the city info page

### Endpoint to use
`get-city-visits`

[2018-07-22 16:31] syedjahangirpeeran commented on #256
It's up for grabs.

[2018-07-23 07:41] aayushinigam commented on #90
Delete as in vanish the list completely or just mark them as done and list is still visible?

[2018-07-23 12:31] Mudra01 commented on #256
I would like to work on it.

[2018-07-23 12:34] Swati4star commented on #256
Sure!

[2018-07-23 12:34] knightcube commented on #256
Yes @Mudra01....you can work on the issue. Since no one is working on it so you can take it up. Go ahead

[2018-07-23 14:49] Mudra01 commented on #256
I did this already but the running is still disabled though the gradle build is successful.

[2018-07-23 15:03] Mudra01 commented on #256
How about using double randomization. I added the index in a list shuffled it and the got a random value and extracted the value at that index from the list?

[2018-07-23 15:37] Swati4star commented on #256
Looks good. Keep 10 color values. Have a list of indices 0 to 9. Shuffle it. Then, extract the color value at that index.

[2018-07-23 15:50] Swati4star opened #338 "Add trip page keeps showing loader on no internet"
### Steps to reproduce
- Turn on your internet
- Go to `My trips` page. Select `+` icon
- Write a trip name. Select trip city & date
- turn off your internet
- Click on add trip

### Expected behaviour
- Dismiss the dialog & show no internet animation

### Actual behaviour
- The material dialog keeps on showing

[2018-07-23 15:59] Swati4star opened #339 "Some changes in my trip info page"
### Steps to reproduce
- Select any trip. Press `Know more about <cityname>` 2-3 times. The city page opens up that many times.
<Expected> : The page should be opened once. Disable the button after it is clicked once.

- Click on pencil icon. update trip name. Click on ✔️ icon. The soft keyboard is still open.
<Expected> : Hide the keyboard when ✔️ is clicked

- The pencil icon, arrow icon & cross

[2018-07-23 16:06] Swati4star opened #340 "Add a settings page"
- Add a `settings` option in the navigation drawer

The page should have the following options for now:
- ### Change password
An option to allow user to enter old password, new password & confirm password.

- ### Notification settings
This should be a textbox with text `Show my read notifications`. It's value should be saved in shared preferences. If it's true, then the notifications screen should

[2018-07-23 16:14] aayushinigam commented on #338
I'm taking this up!

[2018-07-23 16:26] Swati4star opened #341 "Remove extra space after card in real time activity"
### Steps to reproduce
- Select `Travel` -> `Real time locator`
- Select any marker on the map
- The UI is:
<img width="329" alt="screen shot 2018-07-23 at 9 55 07 pm" src="https://user-images.githubusercontent.com/9164477/43089790-380111c4-8ec3-11e8-8496-f950ee069ea0.png">

### Expected behaviour
Remove the extra space after the card

[2018-07-23 16:28] Swati4star opened #342 "The item is not checked first time on the map"
### Steps to reproduce
- Select `Travel` -> `Real time locator`
- By default, we are showing `food` items
- Select the check icon on the action bar

### Expected behaviour
- Food checkbox should be checked

### Actual behaviour
- Nothing is checked

[2018-07-23 16:32] Swati4star opened #343 "Show the item name that is being searched in shopping page"
### Steps to reproduce
- Select `Travel` -> `Online shopping`
- Type an item name in the search bar

### Expected behaviour
- Show the item name that I am searching for in the view.
- Add a small black colored strip at the top with white text `Searching for: <item name>`

[2018-07-23 16:52] Swati4star opened #344 "Getting a red line below the email id"
Describe your issue here.

<img width="309" alt="screen shot 2018-07-23 at 10 19 47 pm" src="https://user-images.githubusercontent.com/9164477/43090994-9a9b7c54-8ec6-11e8-9b65-005e3f6072aa.png">

### Steps to reproduce
- This is happening for a few email ids. You can swa@abc.com to any of your trips.
- This email id will show up in your friends page
- Click on this, & profile page would open up.

[2018-07-24 06:03] syedjahangirpeeran commented on #344
I'm taking this up.

[2018-07-24 06:11] #344 closed

[2018-07-24 06:16] syedjahangirpeeran commented on #342
I'm taking this up.

[2018-07-24 06:45] #342 closed

[2018-07-24 06:46] syedjahangirpeeran commented on #343
I'm taking this up.

[2018-07-24 06:53] syedjahangirpeeran commented on #341
Does it mean to remove right padding or bottom padding??

[2018-07-24 06:55] Swati4star commented on #341
Remove extra margin below the card.

I think, the height of view at bottom is more than the height of the card.

[2018-07-24 07:02] #343 closed

[2018-07-24 13:32] Mudra01 commented on #341
can I work on this?

[2018-07-24 13:34] Mudra01 commented on #256
I have done the changes and committed. I am new to open source, please guide me if I am wrong.

[2018-07-24 13:44] Swati4star commented on #256
You are supposed to create a pull request.

[2018-07-24 13:45] Swati4star commented on #341
Finish the previous issue first

[2018-07-24 13:45] #338 closed

[2018-07-24 13:46] aayushinigam commented on #90
Taking this up!

[2018-07-24 14:06] #90 closed

[2018-07-24 14:45] Mudra01 commented on #256
I did commit directly from command line what am I supposed to do now?

[2018-07-24 15:09] Swati4star opened #350 "Draw a separator line between checked & unchecked items"
### Steps to reproduce
- Select `Utitlites` -> `Checklist`

### Expected behaviour
- Draw a greysih separator line between checked & unchecked items
- Change the icon before `Enter task name`
- Below the separator, line, write `x checked items` & below this, show checked items
<img width="325" alt="screen shot 2018-07-24 at 8 39 17 pm" src="https://user-images.githubusercontent.com/9164477/4314785

[2018-07-25 17:05] aayushinigam commented on #340
API for changing pwd is not ready yet, right?

[2018-07-25 17:06] Swati4star commented on #340
Yeah. It's not ready yet.

[2018-07-25 17:12] Swati4star opened #351 "Show our loading animation instead of progress bar in Trips info page"
### Steps to reproduce
- Go to `my trips`. Select any trip.
- Following view comes up:
![screenshot_1532538612](https://user-images.githubusercontent.com/9164477/43216172-dbe6dee2-905b-11e8-9809-f49de00e5822.png)

### Expected behaviour
- Show our default loading animation, instead of progress bar

[2018-07-25 17:15] Swati4star commented on #256
@Mudra01 Connect with someone on slack on how to create a pull request or google it.

[2018-07-25 18:13] aayushinigam commented on #351
I'll take this up

[2018-07-26 05:54] #351 closed

[2018-07-26 06:41] aayushinigam commented on #335
Taking this up!

[2018-07-26 07:35] Swati4star opened #353 "Move `Share my profile` from Utilities to profile page"
### Existing behaviour
- Go to `utilities`, and we have `share my profile` section there.

### Expected behaviour
- Go to my profile
- Add a new option in the action bar (show always) [the icon should be something like this : https://materialdesignicons.com/icon/qrcode-scan ]
- On clicking that, open up `share my profile` screen (as before)
- The behaviour should be the same.

[2018-07-26 08:37] #335 closed

[2018-07-26 17:09] #353 closed

[2018-07-26 17:10] syedjahangirpeeran commented on #321
Would like to work on this.

[2018-07-26 17:12] Swati4star commented on #321
Create a new custom view for this. Just like, we have `utils.TouchImageView`

[2018-07-28 03:29] #323 closed

[2018-07-28 12:56] #329 closed

[2018-07-28 13:15] aayushinigam commented on #150
I would like to work on this

[2018-07-28 13:17] Swati4star commented on #150
Add an option of the top to switch between the 2 views. You can have 2 icons:
- When there is map view, show a list icon somewhere to switch to list view
- When there is list view, show a map icon somewhere to switch to map view

[2018-07-28 13:17] #336 closed

[2018-07-28 13:22] Swati4star commented on #150
@aayushinigam
You can see Zomato for reference. There is button to switch between the 2 views:
![screenshot_20180728-184935](https://user-images.githubusercontent.com/9164477/43356944-35860b16-9297-11e8-9196-00cfac976b24.jpg) ![screenshot_20180728-184930](https://user-images.githubusercontent.com/9164477/43356946-36958a5e-9297-11e8-9788-7627bf2d2e9e.jpg)

[2018-07-28 14:35] syedjahangirpeeran commented on #319
Would like to work on this.

[2018-07-28 20:13] syedjahangirpeeran commented on #319
I am getting Authentication error for above endpoint. `Message : Value {"detail":"Authentication credentials were not provided."}`

[2018-07-29 03:48] Swati4star commented on #319
@prabhakar267 we are getting this error in restaurants API.

[2018-07-29 04:04] Swati4star commented on #319
@syedjahangirpeeran It's working fine for me. You are not sending authentication token in the header.
For example:
https://github.com/project-travel-mate/Travel-Mate/blob/76ee8a059a82cbad04d587b410bee4f00ef3e465/Android/app/src/main/java/io/github/project_travel_mate/destinations/description/FinalCityInfoPresenter.java#L51

[2018-07-29 07:54] #319 closed

[2018-07-29 09:03] syedjahangirpeeran opened #362 "Weather icon not loading for haze condition"
Describe your issue here.

### Steps to reproduce
![screenshot_20180729-135724](https://user-images.githubusercontent.com/26850482/43364658-2ee6f9fa-933c-11e8-8971-ad84aa6cd05a.png)

### Expected behaviour
Haze icon should load.

### Actual behavior
No icon is being displayed.

### Would you like to work on the issue?
Yes I would like to work on this issue.

[2018-07-29 09:04] syedjahangirpeeran commented on #362
@Swati4star

[2018-07-29 13:04] aayushinigam commented on #150
@Swati4star for hangouts, monuments etc in destination page, there already is a horizontal recyler view of lists. Plus there's this issue #154. So do you want me to implement a new activity for lists?
I have done this for real time locator, but I think I shouldn't change it for the ones in city description page.

[2018-07-29 13:58] syedjahangirpeeran opened #364 "Updates in UI and functionality of Weather Activity."
Describe your issue here.

### Steps to reproduce
1) Open any city info page -> Click on weather item. The following page opens up.
![screenshot_20180729-192047](https://user-images.githubusercontent.com/26850482/43367062-cf6feff8-9364-11e8-897c-a13db4409c5d.png)

### Expected behaviour
1)Weather icon and condition should change.
2)The UI should be properly aligned.(Changing from constrained to re

[2018-07-29 14:00] syedjahangirpeeran commented on #364
@Swati4star.

[2018-07-29 14:45] #150 closed

[2018-07-29 14:48] aayushinigam commented on #154
Taking this up!

[2018-07-29 14:52] Swati4star commented on #364
@syedjahangirpeeran The weather icon & condition is changing for cities.  (I tried for delhi & kolkata. It is showing correct)

Is it not working correctly for few cities?

[2018-07-29 15:02] Swati4star opened #366 "Show notification date in notification"
### Steps to reproduce
- Press the bell icon on navigation drawer
- The notification view comes up
<img width="324" alt="screen shot 2018-07-29 at 8 31 20 pm" src="https://user-images.githubusercontent.com/9164477/43367672-69a3a9ee-936e-11e8-87a5-2c132f064e8c.png">

### Expected behaviour
- Make the size of icons a bit bigger
- Show the notification date & time in a pretty format on each notificat

[2018-07-29 15:06] Swati4star opened #367 "[Checklist] Don't show delete action on action bar when there are no checked items"
### Steps to reproduce
- Select `utilities` -> `checklist`
<img width="306" alt="screen shot 2018-07-29 at 8 35 00 pm" src="https://user-images.githubusercontent.com/9164477/43367703-fe228112-936e-11e8-98b4-6a211e9222c5.png">

### Expected behaviour
- Don't show delete action on action bar when there are no checked items

[2018-07-29 15:31] syedjahangirpeeran commented on #364
Shouldn't the icons and weather condition in WeatherActivity match with FinalCityInfoActivity? The icons and weather condition which is shown in FinalCityInfoActivity are matching with google weather but the ones in WeatherActivity aren't.

[2018-07-29 15:31] Swati4star commented on #364
Isn't this a server issue then?

[2018-07-29 15:36] syedjahangirpeeran commented on #364
Ohh I got it now. The weather info shown in weatheractivity is the full day weather...whereas in finalcityinfo is current conditions.

[2018-07-29 15:37] Swati4star commented on #364
So, you can just align the views properly in this issue.

[2018-07-29 18:31] #364 closed

[2018-07-29 18:39] syedjahangirpeeran commented on #366
Would like to work on this.

[2018-07-30 10:49] #154 closed

[2018-07-30 11:34] Swati4star commented on #337
Make it similar to friends profile

[2018-07-30 17:06] #337 closed

[2018-07-30 17:22] Swati4star opened #371 "UI Bug in map activity"
### Steps to reproduce
- Select any city. Select `Hangout` or any other map item
- Following UI comes up:
<img width="322" alt="screen shot 2018-07-30 at 10 48 17 pm" src="https://user-images.githubusercontent.com/9164477/43412417-c805a06e-944a-11e8-9e70-c86ade7169ac.png">

### Expected behaviour
- There is space between card item & right edge of the screen. Remove that.
- Add margin between `more

[2018-07-30 17:24] Swati4star opened #372 "Update active marker place in the view when marker is selected"
### Steps to reproduce
- Select any city, Go to any map item
<img width="320" alt="screen shot 2018-07-30 at 10 53 15 pm" src="https://user-images.githubusercontent.com/9164477/43412592-5eba1b20-944b-11e8-8b14-075eec808bc2.png">

### Expected behaviour
When I click on any marker on the map:
- the name of place below the map should also get updated.
- the active marker should also change to the new

[2018-07-30 17:34] Swati4star commented on #362
@syedjahangirpeeran I am still not getting icon for haze condition.
<img width="319" alt="screen shot 2018-07-30 at 10 58 16 pm" src="https://user-images.githubusercontent.com/9164477/43413134-cf385b86-944c-11e8-94e9-7600aa6f2671.png">

This is the response I am getting for weather info

[code]

[2018-07-30 17:37] Swati4star opened #373 "The expandable text view should expand & compress on clicking the text"
### Steps to reproduce
- Select any city

### Actual behaviour
To expand or compress the text about city info, we have to click on the arrow icon

### Expected behaviour
The view should compress or expand on clicking the text also.

[2018-07-30 17:38] aayushinigam commented on #372
I'll take this up

[2018-07-30 17:56] syedjahangirpeeran commented on #362
There is no haze weather xml file(Vector drawable) for night.

[2018-07-30 17:57] Swati4star commented on #362
In that case, can we have the day one only? (or do one thing, in case, we are not able to find the vector drawable, show the icon url only, which was getting displayed before)

[2018-07-30 18:18] aayushinigam commented on #362
Same is for "dust" and "smoke".
![dust](https://user-images.githubusercontent.com/24635221/43415402-15bc543a-9453-11e8-8edb-325e7c682bf2.png)
![smoke](https://user-images.githubusercontent.com/24635221/43415407-1719b87c-9453-11e8-99ba-626db660be7c.png)

[2018-07-31 05:26] #372 closed

[2018-07-31 05:28] Swati4star opened #377 "Weather icon not loading for certain weather conditions"
Weather icon is not showing up on city info screen in few cases.

### What to do?
In case, we don't have the vector drawable for given weather condition, show the weather icon URL we are receiving in the response

[2018-07-31 05:29] Swati4star commented on #362
Opening a new issue for this https://github.com/project-travel-mate/Travel-Mate/issues/377

[2018-07-31 05:29] #362 closed

[2018-07-31 05:42] aayushinigam commented on #373
Taking this up!

[2018-07-31 05:56] #366 closed

[2018-07-31 05:59] syedjahangirpeeran commented on #377
Taking this up.

[2018-07-31 06:10] #377 closed

[2018-07-31 06:11] syedjahangirpeeran commented on #310
Would like to work on this.

[2018-07-31 06:17] Swati4star opened #380 "Add a city history option in city info page"
### Expected behaviour
- Add a new card `City History` in the city info page (just below the weather card)
- On clicking this, open up a new activity

The city history info has various levels of headings & under that subheadings (similar to wikipedia page : https://en.wikipedia.org/wiki/Delhi, checkout it's content section) [An example is given below]

On the city history activity, show the inform

[2018-07-31 06:31] aayushinigam commented on #380
Would like to work on this.

[2018-07-31 15:48] aayushinigam commented on #380
I'm finding this hard to implement. So I would prefer to work on some other issue for now.

[2018-07-31 15:50] Swati4star commented on #380
@aayushinigam Sure. Pick up some other issue.
( But if you want to pick it up later, you can comment 👍 )

[2018-07-31 15:51] aayushinigam commented on #380
Thanks @Swati4star :) .If I figure it out, I'll work on this.

[2018-07-31 15:59] aayushinigam commented on #234
I would like to work on this.

[2018-07-31 16:01] Swati4star commented on #234
@aayushinigam Change the UI of above screen also to give it a look of cards [similar to notifications screen], so that it looks like these cards are clickable.

[2018-07-31 18:01] #310 closed

[2018-07-31 18:07] Swati4star opened #382 "Hotel List item is overlapping on expanding"
### Steps to reproduce
- Select `Travel` -> `Hotel Booking`
- The view overlaps when items in the first column are expanded

<img width="317" alt="screen shot 2018-07-31 at 11 37 35 pm" src="https://user-images.githubusercontent.com/9164477/43478145-bc2ce2b8-951a-11e8-90e7-6fcbcc3e489a.png">

### Expected behaviour
It shouldn't overlap

[2018-07-31 18:11] Swati4star opened #383 "Status is getting truncated if it is multiline"
### Steps to reproduce
- Go to your profile.
- Create a multiline status

<img width="324" alt="screen shot 2018-07-31 at 11 39 49 pm" src="https://user-images.githubusercontent.com/9164477/43478309-29f4f3d0-951b-11e8-9ff3-a6510a65c78e.png">

### Expected behaviour
Should not get truncated

[2018-07-31 18:18] Swati4star opened #384 "Change the friends page UI to have 3 friends in a row"
### Steps to reproduce
- Go to `My friends` page

<img width="323" alt="screen shot 2018-07-31 at 11 47 25 pm" src="https://user-images.githubusercontent.com/9164477/43478698-3139f734-951c-11e8-9ee3-5a579e1ce4c5.png">

### Expected behaviour
Change the number of elements in a row from 2 to 3.

[2018-08-01 04:47] syedjahangirpeeran commented on #384
Taking this up.

[2018-08-01 04:57] #384 closed

[2018-08-01 07:41] Swati4star opened #387 "Add darker background to restaurant items"
### Steps to reproduce
- Select any city, go to `Restaurants`

### Expected behaviour
The background should be dark. Similar to utilities or travel cards
<img width="328" alt="screen shot 2018-08-01 at 1 10 50 pm" src="https://user-images.githubusercontent.com/9164477/43508057-766d51c8-958c-11e8-9c26-9d2ca66d9919.png">

### Actual behaviour
The background is light, which makes text not visible tha

[2018-08-01 13:00] syedjahangirpeeran commented on #371
Taking this up.

[2018-08-01 13:35] aayushinigam commented on #340
I'll take this up

[2018-08-01 14:27] #371 closed

[2018-08-01 14:28] syedjahangirpeeran commented on #341
Taking this up.

[2018-08-01 14:38] #341 closed

[2018-08-01 14:44] syedjahangirpeeran opened #391 "Changes in UI of Profile Page"
Describe your issue here.

### Steps to reproduce
Open profile page in 6 inches wide emulator.
### Expected Changes
Convert all LinearLayouts to Relative Layouts and properly align them.

### Actual behaviour
UI is messed up
![screenshot_1533132714](https://user-images.githubusercontent.com/26850482/43528775-6196dab8-95c7-11e8-96b6-74ea7d707f25.png)

### Would you like to work on the issue?
Yes, I

[2018-08-01 14:44] syedjahangirpeeran commented on #391
@Swati4star.

[2018-08-01 14:45] Swati4star commented on #391
Is this just for user's profile or friend's profile also?

[2018-08-01 14:47] syedjahangirpeeran commented on #391
It's for friend's profile also.

[2018-08-01 14:47] Swati4star commented on #391
The issue is,
- The camera icon is not on the top of the profile photo
- The pencil icon should be at the right edge.
Anything else I am missing?

[2018-08-01 14:48] Swati4star commented on #391
You can fix #383 also in this issue, if you want.

[2018-08-01 14:49] syedjahangirpeeran commented on #391
The UI is not centered and also when I change status and username the pencil is icon is moving to the right most side.

[2018-08-01 17:44] Swati4star commented on #117
Closing this because of a lot of spam.

[2018-08-01 17:44] #117 closed

[2018-08-01 17:44] Swati4star opened #393 "[New Feature] Add world clock to utilities"
Add a new option in utilities : `World Clock`
- The World Clock should show current local time, date, world time & weather in cities and countries across the world.
- Add option to select country
- Digital and analog clock, both option should be available

[2018-08-01 17:48] Swati4star opened #394 "Limit user status characters count to 100"
### Steps to reproduce
- Go to your profile

### Expected behaviour
- When the user clicks on pencil icon by the side of status, show a character count at the bottom, something line `22/100`.
- The character count should change as user types
- Don't allow users to type more than 100 characters

[2018-08-01 17:51] Swati4star commented on #105
We won't be adding this to our application.

[2018-08-01 17:51] #105 closed

[2018-08-01 18:16] #391 closed

[2018-08-01 18:17] Swati4star commented on #383
Fixed by https://github.com/project-travel-mate/Travel-Mate/pull/395

[2018-08-01 18:17] #383 closed

[2018-08-01 18:17] syedjahangirpeeran commented on #394
Taking this up.

[2018-08-01 18:26] aayushinigam opened #396 "Toast shows nothing when trip is removed"
Describe your issue here.
![issue](https://user-images.githubusercontent.com/24635221/43540840-6eff5936-95e6-11e8-8f55-696a5b2234e7.png)

### Steps to reproduce
1. Go to `My Trips`
2. Select any trip
3. Select option to remove trip
4. Snackbar shows nothing when trip is removed.

### Expected behaviour
Snackbar should display `Successfully removed the trip`.

### Actual behaviour
Snackbar is empty

[2018-08-01 18:54] #396 closed

[2018-08-01 19:08] Swati4star commented on #380
@aayushinigam You can pick this up. Don't add expandable views for now. Let it just be a single static page, with headings (in bold) and data under it

[2018-08-01 19:48] #394 closed

[2018-08-02 13:03] aayushinigam commented on #380
Oh okay!

[2018-08-02 15:45] aayushinigam commented on #380
@Swati4star  So here's the thing. The above format is not exactly the same for all cities. In some cities, the given key exists, for some it doesn't. And hence the layout doesn't get filled. Had response been in JSONArray format , it would have been still easier to check through index. But it's a JSONObject, so keys have to be mentioned explicitly.

[2018-08-02 15:46] aayushinigam commented on #380
Here's an example -
![screenshot from 2018-08-02 21-07-52](https://user-images.githubusercontent.com/24635221/43594998-3db86030-9699-11e8-8212-0da40866dd52.png)

[2018-08-02 15:51] Swati4star commented on #380
@aayushinigam True. The keys are not the same for all cities. So, you can use this code to get a list of keys from the JSON Object : https://stackoverflow.com/questions/20419217/to-get-all-the-keys-in-jsonobject-into-string-array
and then, keep on extracting values from it.

[2018-08-03 06:45] syedjahangirpeeran commented on #205
Taking this up.

[2018-08-03 07:02] Swati4star commented on #205
What was the issue actually?

The error was there for the users who don't have apps with image cropping ability?

[2018-08-03 07:06] syedjahangirpeeran commented on #205
Yes. Crop intent isn't supported with most of devices which run Stock Android. So, We need to have our own crop activity as whatsapp.

[2018-08-03 07:11] #205 closed

[2018-08-03 07:14] syedjahangirpeeran commented on #207
@Swati4star can you update the cloudinary links. I will start working on this.

[2018-08-03 07:15] Swati4star commented on #207
Connect with me on slack regarding this.

[2018-08-03 13:13] #207 closed

[2018-08-03 14:28] Swati4star opened #401 "Remove left margin from `cities visited` in user's profile"
<img width="324" alt="screen shot 2018-08-03 at 7 57 13 pm" src="https://user-images.githubusercontent.com/9164477/43648251-809f0016-9757-11e8-9cb0-20dbb883b829.png">

### Steps to reproduce
- Select your profile from the navigation drawer

[2018-08-03 14:44] syedjahangirpeeran commented on #401
From the title or RecyclerView???

[2018-08-03 14:52] Swati4star commented on #401
Recycler view

[2018-08-03 14:55] syedjahangirpeeran commented on #401
Sorry forgot to claim it first.

[2018-08-03 15:01] #401 closed

[2018-08-03 15:09] Swati4star opened #403 "Remove the animation by default & change it to a button"
### Steps to reproduce
#### Issue 1
- Select `Travel`. Go to `online Shopping`
<img width="339" alt="screen shot 2018-08-03 at 8 36 36 pm" src="https://user-images.githubusercontent.com/9164477/43650258-f2cdf444-975c-11e8-91ab-3649822a96af.png">

#### Issue 2
- Select `Travel`. Go to `Hotel`
<img width="324" alt="screen shot 2018-08-03 at 8 36 10 pm" src="https://user-images.githubusercontent.com/

[2018-08-03 15:12] Swati4star opened #404 "Dont load items by default in real time locator"
### Steps to reproduce
- Select `Travel`. Go to `Real time locator`

### Actual behaviour
The places for food shows up automatically

### Expected behaviour
- Dont load items for anything by default
- Show this dialog at first (it currently open up clicking an item in action bar)
<img width="293" alt="screen shot 2018-08-03 at 8 41 08 pm" src="https://user-images.githubusercontent.com/9164477/4365

[2018-08-03 15:17] Swati4star opened #405 "Friend name is getting truncated if it is multiline"
See the screenshot below:
<img width="324" alt="screen shot 2018-08-03 at 8 45 30 pm" src="https://user-images.githubusercontent.com/9164477/43650740-385ea20a-975e-11e8-8e97-78e95e90fe3e.png">

Also,
If there are more than 9 friends (more than 3 rows), we are not able to view them all at once. There is some extra view in the bottom

[2018-08-03 15:18] Swati4star opened #406 "Email is not coming in single line, even when there is space"
<img width="299" alt="screen shot 2018-08-03 at 8 47 25 pm" src="https://user-images.githubusercontent.com/9164477/43650881-8d8104b2-975e-11e8-837a-458385bbeeb9.png">

Email is not coming in single line in friend's profile, even when there is space

[2018-08-03 17:06] knightcube commented on #382
I think we can use this library for now - https://github.com/AAkira/ExpandableLayout/blob/master/README.md

[2018-08-03 17:33] aayushinigam commented on #380
@Swati4star Any suggestions for the UI?

![text](https://user-images.githubusercontent.com/24635221/43656764-3cbf48dc-9771-11e8-8f2e-f238ebef3b44.png)

[2018-08-03 18:02] Swati4star commented on #380
- What about adding subheadings also? For example, in `Ecology`, we have `summary`.
- Also, in this view, there are `...` at the end of each section. How can the user view the whole content?

[2018-08-03 18:07] aayushinigam commented on #380
The problem right now is that we don't know what keys will have sub headings plus it will then become multi level list view.
User can view whole content by clicking on text, it's an expandable text view.

[2018-08-03 18:26] Swati4star commented on #380
oh okay. Looks good then, you can commit this.

[2018-08-04 16:03] #380 closed

[2018-08-04 16:58] #404 closed

[2018-08-05 03:54] knightcube opened #409 "Save state on rotation in Hotels Screen"
Steps to reproduce
- Select Travel -> Hotel Booking
- Select City -> Any City eg) Kolkata -> Let the results load
- Rotate the screen
- Again have to select a city ( in short it is a very bad UX)

### Expected behaviour
- The app should retain the state i.e selected city should stay as it is on rotating the device

Helpful Keyword to research on - Lifecycle Callbacks

[2018-08-05 04:16] knightcube opened #410 "[BUG] App crashes in Main Screen on Rotation"
### Steps to reproduce
- Main Screen i.e (Cities grid screen)
- Rotate
- App Crash

### Expected behaviour
- App should not crash

### Actual behaviour
- App Crashes

### Error Logs
[code]

[2018-08-05 04:17] Swati4star commented on #409
Can we just restrict our application to portrait mode for now? This will happen in almost every screen (and not just hotels)

[2018-08-06 17:14] Swati4star opened #411 "[New Feature] Add Compass in Utilities"
### Expected behaviour
- Add a new card in `Utilities` screen : `Compass`

### Reference:
https://inducesmile.com/android/android-how-to-create-android-compass-application/

[2018-08-07 02:45] Swati4star commented on #410
You are not supposed to push to master. You can create a Pull Request.

[2018-08-07 18:09] Swati4star opened #412 "Use API for `Update Password`"
### Steps to reproduce
- Go to settings page
- There is a `Change Password` section.
- Integrate API in that code

### Endpoint to use
`update-password`
https://github.com/project-travel-mate/server/issues/52

[2018-08-07 18:22] Swati4star opened #413 "Create single restaurant Description page"
### Steps to reproduce
- Go to any city page -> `Restaurants`
- The UI looks like this
<img width="340" alt="screen shot 2018-08-07 at 11 51 06 pm" src="https://user-images.githubusercontent.com/9164477/43794714-c85d226e-9a9c-11e8-9789-b7d301f0d2c0.png">

### Expected behaviour
- Open up a new activity on clicking any card. That card should have the restaurant details received from the API

### En

[2018-08-07 18:24] Swati4star opened #414 "Use vector drawables instead of PNGs"
There are a lot of PNGs being used in the code. Replace them with equivalent xml drawable files

### Reference
https://sendeyo.com/onlineconverter/en/image-png/xml

[2018-08-07 18:35] Swati4star opened #415 "Add a forget password link in the login/signup page"
### Expected behaviour
- Add a new link at the bottom of Login/Signup page :  `Forgot Password`
- On clicking this link, a new page should open up with an edit text & `submit` button to allow users to type `email id`
- Check for validity of email id (Similar to login or signup email fields)
- When submit is clicked, show a new page
- This page should show up a message : `A reset code has been sent